[2020-03-09 02:40] kale-stew commented on #861
Thanks for opening this issue, @beautifulcode -- definitely an oversight on our part for the rewrite, but I've flagged it as a Feature Request so we can fast track a PR; autoplay is definitely a feature we want to bring back.

[2020-03-09 18:59] beautifulcode commented on #861
Thank you @kale-stew good to know!

I know this is open source, and I sincerely appreciate the effort put in but is there any anticipated timeline at all?

If not, which again I totally understand, that would be good to know, as I'm intending to use this for a near-term project. Otherwise, if I come up with something, I'll fork and submit a PR.

[2020-03-10 14:48] kale-stew commented on #861
Fair question, @beautifulcode - unless someone else swoops in, I would be taking care of this feature in my free time, so I might say a week? I'll have some time to work on OSS tomorrow evening & over the weekend. How near term of a project are we talking?

[2020-03-10 16:07] meghprkh commented on #716
Hi, was vertical slides added in this release? If so, how do I use it?

[2020-03-10 16:46] kale-stew commented on #716
@meghprkh hi! Vertical slides were note explicitly added in this release, but you might be able to configure them with slide templates and some additional style hacks. I'll tinker with it myself tomorrow afternoon and see if I can't document a path to making them work.

[2020-03-11 03:03] beautifulcode commented on #861
@kale-stew I'll be testing it out (non-autoplay) on a TV display tomorrow. :D  A week would be amazing but please don't worry if you can't get to it that quick. Thanks again!

[2020-03-14 04:04] randalvance opened #863 "Appear Doesn't Work if Not Directly a Child of Slide"
I am using version 6.0.0. Here is a very simple example to replicate this.

[code]
I've placed the `OrderedList` inside a box and the Appear doesn't seem to work. However, if I move the `OrderedList` to be directly a child of `Slide`, then it works as expected.

Thanks

[2020-03-14 04:25] randalvance commented on #863
Problem seems to be in `src/utils/searchChildrenForAppear.js`. This method does a recursive search of the Slide for Appear elements. However, once it hits an element with a single child (the `Box` in my example), it stops.

[code]

Is there a reason why this guard is written? What's the implication of removing this?

[2020-03-14 11:31] Turanchoks opened #865 "vsDark theme is hardcoded in CodePane source"
CodePane component does not pass theme prop to the underlying Highlight component. So passing any theme prop does not have any effect on the CodePane.

[2020-03-16 14:47] #865 closed

[2020-03-16 14:49] #863 closed

[2020-03-30 20:35] Gabsii opened #868 "SSR Support"
Hello,

I am currently developing a server-side rendered app using [NextJS](https://nextjs.org) that fetches data in the backend and then generates presentations based on this data. It would be great if I could use your library but unfortunately, I always run into the following error:

[code]

I am aware of the solution that was discussed in #257 using a custom history object but I can't find anyt

[2020-03-30 20:49] boygirl commented on #838
@kale-stew urql recently migrated to react-static 7 and created a plugin to assist with creating docs routes from .md. You can pattern off that work: https://github.com/FormidableLabs/urql/tree/master/packages/site

[2020-04-01 20:01] kale-stew commented on #868
We haven't explicitly introduced this to v6, but I will look into getting it re-introduced! Thank you for bringing this to our attention, @Gabsii

[2020-04-01 20:50] ryan-roemer commented on #868
I have a WIP branch (https://github.com/FormidableLabs/spectacle/compare/feature/ssr) that just does SSR with:

[code]

Suggested work from here:

- [ ] Fix all the errors from non-Node compatibility for SSR
- [ ] Convert the script into a `package.json:scripts` command that is run during CI

[2020-04-01 23:35] antonwintergerst opened #870 "Appear component does not function when placed in an MDX file"
### Describe Your Environment

What version of Spectacle are you using?
`spectacle@6.0.1`

What version of React are you using?
`react@16.13.1`

What browser are you using?
Chrome 80.0.3987.149

What machine are you on?
MacBook Pro (15-inch 2017)

### Describe the Problem

Appear component does not function when placed in an MDX file.

**Expected behavior:**
Slide navigation should step through Ap

[2020-04-02 01:28] antonwintergerst commented on #870
I've found a work around which is a bit hacky but at least it functions:

[code]

[2020-04-02 17:30] ryan-roemer commented on #870
Great find!

The MDX loader's main job is translating MD in MDX file to JSX and allowing existing JSX to work. The `Appear` element isn't really something first class in MDX, it's more of something that should be supported via a normal `import`, so I really think we're looking at supporting something like:

[code]

The above does _not_ work, so I think our best starting point is adding the above u

[2020-04-02 17:48] ryan-roemer commented on #870
It's looking more like something that may be primarily in `spectacle-mdx-loader`. As a debugging helper, here's what is currently generated for the above slide:

[code]

[2020-04-07 03:42] forrest-akin commented on #678
It appears that this also impacts `Stepper`. Wrapping `Slide` contents in a `React.Fragment` works at least to get the `Deck` to acknowledge the `Slide`, but `Stepper` ignores its steps and continues immediately to the next `Slide` instead. Any chance there's a known work around for this as well, or a previous version I could use in the mean time instead while `Slide` is being rewritten?

[2020-04-07 05:00] forrest-akin opened #871 "Custom Slides Ignored; Stepper Ignores Steps"
react : 6.13.1
spectacle : 6.0.1

I'm trying Spectacle for the first time and ran into this issue [Various Issues w/ Imported Slides #678](https://github.com/FormidableLabs/spectacle/issues/678), which mentions it should be resolved by the `Slide` rewrite. I believe the rewrite has since been released, but the issue is not resolved so I'd like to reopen. Specifically, `Slide`s are discarded if the

[2020-04-07 05:09] ryan-roemer commented on #871
@kale-stew This might be a related thing to #870 in that both `Appear` and `Stepper` are similarly written, and used here: https://github.com/FormidableLabs/spectacle/blob/88e635bae3a00eda9fd35bc77acb9d7ffe5a7b74/src/components/deck/index.js#L143-L144

[2020-04-07 17:13] forrest-akin commented on #871
My workaround in the meantime is to map a list of slide metadata into Slide children of Deck
[code]

[2020-04-07 20:58] gophry opened #872 "slides per view (carousel mode) through styling"
### Question

What question do you have about using Spectacle?
Can we do slides per view(carousel mode) like a carousel? will this only require styling changes?
many carousel and presentation javascript frameworks have this feature of right adjacent slide or both left and right adjacent slide being visible with a gap. Most of it seems styling though.

### Background Info/Attempts
This is achieved

[2020-04-08 03:17] forrest-akin opened #874 "Unable to Update FontSize in CodePane"
react : 6.13.1
spectacle : 6.0.1

CodePane doesn't respond to changes in `fontSize` if `themeContext.fontSizes.monospace` exists. The expected strategy for determining `fontSize` is the first of `props.fontSize`, `themeContext.fontSizes.monospace`, `15` (default value).

Please see this [CodeSandbox](https://codesandbox.io/s/unable-to-update-fontsize-in-codepane-874-ukn65) I've prepared demonstrat

[2020-04-09 01:49] kale-stew commented on #874
I agree, it makes the most sense to determine CodePane font size in this order:
1. Check for `props.fontSize`
2. Check for `themeContext.fontSizes.monospace`
3. Default to `15px`

I've opened [a PR](https://github.com/FormidableLabs/spectacle/pull/875) to fix this. Thank you for bringing it to our attention. 😀

[2020-04-09 02:51] #874 closed

[2020-04-13 13:47] ryan-roemer opened #878 "Bug: Links break with internal navigation stuff."
I looked into some of the links at issue in https://github.com/FormidableLabs/spectacle/pull/877 and found there's something weird going on with routing:

## A working example

- Open new browser tab to: https://formidable.com/open-source/spectacle/docs/tutorial/
- Search for "For more information on presenting" and click the `presenting` link.
- **Result**: Navigates to `https://formidable.com/op

[2020-04-15 13:48] chowkapo commented on #503
Could you provide more details how to implement this? I cannot find relevant documentation on this history prop. Thanks a lot!

[2020-04-15 15:55] #838 closed

[2020-04-15 15:59] kale-stew commented on #503
@chowkapo we have rewritten the library since the comment you're referencing above. This is not currently a supported feature in v6, unfortunately.

[2020-04-15 16:52] kale-stew opened #880 "Broken doc site builds should break CI"
Currently, react-static can build an empty or broken `public` dir and CI will still pass as if it successfully deployed that broken build.

[2020-04-19 06:58] cerebroo commented on #861
@kale-stew - is it currently possible to programatically change the slides. That can help as a work around for autoplay for now and I actually have another use case as well for it.

[2020-04-20 16:39] kale-stew commented on #878
@boygirl fixed this by removing/rewriting the `relative` fn we had determining our relative paths in the rewritten docs. When we re-release that react-static update, we should solve this issue.

[2020-04-20 18:19] kale-stew commented on #871
Documenting my findings after digging into this a little deeper:

1. If the slide is an imported Slide, we get an empty prototype obj. The Slide `name` is accessible, but its props are not.
2. If the slide is an imported fragment, we get `undefined`. Fragment-wrapped Slides aren't making it into the Deck whatsoever.
3. If the slide is inline, children come back as proper children for individual Sp

[2020-04-20 18:42] kale-stew commented on #861
@cerebroo -- apologies for my lack of a response over the weekend! It sounds like you've solved your issue using the keydown event, but to answer your question: You *can* programatically change the slides, using the `MSG_SLIDE_STATE_CHANGE` action exposed by our `usePresentation` hook (see an example of this usage [here, in the Deck component](https://github.com/FormidableLabs/spectacle/blob/maste

[2020-04-20 19:02] ryan-roemer commented on #880
Some quick research. Probably should wrap up more concisely in a PR or issue upstream.

Starting point:

[code]

This produces an error but doesn't exit non-zero. Inspecting things, the `init()` call (see below) exits **successfully** without hitting the try/catch.

Then directly in source edit `node_modules/react-static/bin/react-static`:

Take this section at the top: https://github.com/react-st

[2020-04-21 20:48] kale-stew commented on #878
Closed by #885

[2020-04-21 20:48] #878 closed

[2020-04-22 07:08] on3iro opened #886 "Very confused by the docs"
### Question

Hey guys, I just wanted to get started with spectacle, but the docs are confusing me quite a bit.
These are the issues i am having:

1. "Getting Started with Development" - this paragraph tells me, that all my source files have to be inside the `src/` dir. So far so good. But this also reads a bit like there should already be such a directory after installing spectacle with `yarn/npm

[2020-04-22 15:00] kale-stew commented on #886
Hi Theo! Thanks for opening this issue. We spent a lot of time rewriting these docs and issues like these help us better understanding where we might have missed our mark. 🙂

1. It seems like our use of the phrase "Getting Started" in two places is confusing. The "Getting Started with Development" paragraph you initially refer to here is about _developing_ against the Spectacle src. I agree, this

[2020-04-23 07:28] on3iro commented on #886
@kale-stew Hi Kylie - thanks a lot for the quick response.

Yeah, I think re-organizing the docs a little bit would make them definitely more intuitive to read. I suspected that the `basic concepts` section was more like a contribution section, but wasn't sure about it. I will definitely have a look at the issues you mentioned. I am currently transferring a huge amount of slides from a keynote int

[2020-04-23 07:59] on3iro opened #887 "Markdown component does not seem to work correctly"
### Prerequisites

### Describe Your Environment

What version of Spectacle are you using? **6.0.2**

What version of React are you using? **16.13.1**

What browser are you using? **Firefox Developer Edition**

What machine are you on? **Mac OSX**

### Describe the Problem

[Link to CodeSandBox](https://codesandbox.io/s/simple-spectacle-example-w0sgq?file=/src/index.js) (first slide)

**Expected b

[2020-04-23 15:37] mAAdhaTTah commented on #887
You need to pass it in as a string, not just `children`:

[code]

![Screen Shot 2020-04-23 at 11 37 27 AM](https://user-images.githubusercontent.com/4371429/80118741-d70f3080-8556-11ea-992e-926782c14853.jpg)

[2020-04-23 16:38] kale-stew commented on #887
^ what he said! I'll make sure this is properly documented, but you need to pass your Markdown content in as a template literal for it to render properly. 🙂

[2020-04-23 16:38] #887 closed

[2020-04-23 17:49] on3iro commented on #887
Ah, I see. Thanks for the quick response. It would definitely be great if this was reflected inside the docs, as the markdown component is used without a template string there.

[2020-04-23 18:21] on3iro opened #888 "Overview Mode seems to be broken"
Sorry to bother you with another issue, but somehow the overview mode does not work as expected ;)

### Describe Your Environment

### Describe Your Environment

What version of Spectacle are you using? **6.0.2**

What version of React are you using? **16.13.1**

What browser are you using? **Firefox Developer Edition** / **Chrome**

What machine are you on? **Mac OSX**

### Describe the Problem

[2020-04-23 18:30] kale-stew commented on #888
No need to apologize, these issues are very helpful. 🙂

I'm thinking we introduced a regression with some of the more recent features that in turn deprecated this feature. I'll dig into this today, thanks again for bringing this to our attention!

[2020-04-24 14:32] boardfish opened #889 "Multiplexing"
I've put together a deck with an older version of Spectacle that I've got kicking around. I'm presenting in about three weeks.

I should be able to share my screen, but multiplexing as is available in [reveal.js](https://github.com/hakimel/reveal.js/#multiplexing) would make for a good backup in case I don't have permission.

I don't have a particularly convincing case for the feature, that aside,

[2020-04-25 14:34] vincentdesmares opened #890 "v6 migration"
#541 # Question

Hi, great job on the v6. It looks like a very nice upgrade.
Yet, when I tried to migrate one of my presentation I found some key features were missing:

- With the progress now in the template, it's hard to be able to change its color per slide
- The fun pacman-style progress is now a simple dot
- The "fit" attribute was really a nice addition, from what I see it's not anymore par

[2020-04-27 06:56] on3iro commented on #886
@kale-stew one more question ;) - is there a way to define the default indentation level of `<CodePane>`s? Currently it looks like it indents a single space inside the presentation for each 2 spaces inside my actual code block, which is pretty annoying.

**Actual Code**:
![Screenshot 2020-04-27 at 08 55 15](https://user-images.githubusercontent.com/8681413/80342686-dcc18a80-8864-11ea-8ae7-9143e80d

[2020-04-29 14:02] vork opened #891 "Slide Template seems broken"
### Question

Is changing templates per Slide currently broken or did I get it wrong? Version: 6.0.2

### Background Info/Attempts

I've defined two master templates. One with page number and one without. For the introduction slide I want to switch to a simpler version.

Minimal Example:

[code]

[2020-04-30 12:33] qodesmith opened #892 "Access to old docs? Looking for pacman progress."
### Question

The current docs point to the nice fancy website you guys have set up. Is there a way to get a version of the older docs? I'm looking to use the pacman progress but it doesn't look like v6 has it. I'd like to see the latest version of the ^5 docs. Thank you!

[2020-04-30 19:59] kale-stew commented on #890
Thank you for opening this issue, @vincentdesmares! You've asked some great questions and given some very helpful feedback, I will address each of your points individually:

- I believe you can still override progress styles per slide if you wanted to, using theme objects directly applied to the Slides you want.
- I agree that the Pacman-style progress was a very unique and key feature to Spectacl

[2020-05-01 07:57] vincentdesmares commented on #890
How can I technically do this when the element is not in a slide? (also, in my project, I have one file per slide). If I put on progress in each slide, then I have to hardcode the style to that it fits at the right place in the screen.

Thanks for taking the time to review this issue!

[2020-05-03 08:46] awareness481 commented on #888
@kale-stew The issue appears to arise from the conditionals only checking for characters in uppercase. I also removed the `!!e.shiftKey` as according to my knowledge it is redundant and was also causing issues.

I submitting a PR, noting that this was only tested and found to be working for **Windows**. I don't have the ability to test for Mac.

P.S The issue was also occurring on my Windows machi

[2020-05-04 20:11] hinok opened #895 "Using props m, p, mx, my, marginBottom etc. on <Text />, <Heading /> doesn't have any effect"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

[code]

What version of React are you using? (can be found by running `npm list react`)

[code]

What browser are you using?

[code]

What machine are you on?

[code]

### Describe the Problem

https://codesandbox.io/s/simple-spectacle-example-ztd4b?file=/src/index.js

Using prop

[2020-05-04 20:21] hinok opened #896 "Background images are not rendered in exported PDF (?exportMode=true)"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

[code]

What version of React are you using? (can be found by running `npm list react`)

[code]

What browser are you using?

[code]

What machine are you on?

[code]

### Describe the Problem

Background image should be rendered in `?exportMode`.

- https://codesandbox.io/s/simp

[2020-05-04 20:32] hinok opened #897 "template() should be rendered on every slide in ?exportMode=true"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

[code]

What version of React are you using? (can be found by running `npm list react`)

[code]

What browser are you using?

[code]

What machine are you on?

[code]

### Describe the Problem

When `template` is used like

[code]

The problem is not visible in examples because `

[2020-05-05 01:15] kale-stew commented on #892
You can check out our old doc content by looking at the docs/content dir from the last released version pre-v6 in Github, [here](https://github.com/FormidableLabs/spectacle/tree/fa3a54fb7905f55b633a6dec28740a61985bf831/docs/content).

I tried to pull a webarchive link but the crawler did not play nicely with our CSS and the latest version I could find is nearly impossible to parse.

We do intend t

[2020-05-05 01:15] #892 closed

[2020-05-05 16:53] ryan-roemer opened #898 "Code block indentation spacing is too small."
See: https://github.com/FormidableLabs/spectacle/issues/886#issuecomment-619770673

**Actual Code**:
![Screenshot 2020-04-27 at 08 55 15](https://user-images.githubusercontent.com/8681413/80342686-dcc18a80-8864-11ea-8ae7-9143e80df58f.png)

**Presentation**:
<img width="329" alt="Screenshot 2020-04-27 at 08 55 22" src="https://user-images.githubusercontent.com/8681413/80342697-e2b76b80-8864-11ea-94

[2020-05-11 19:29] #888 closed

[2020-05-24 00:42] huy-nguyen commented on #890
@kale-stew Can someone who is not a maintainer bring the Pacman-style progress back? I'm not sure how much work or knowledge of the library's internal is needed.

[2020-05-24 02:18] ronarvaez opened #904 "Keyboard controls don't work on Linux"
Keyboard controls only work for Windows and Mac.
I am using an Ubuntu and when I start my presentation and press one of the following combinations nothing happens.
`Alt` + `O`
`Alt` + `P`
`Alt` + `F`

[2020-05-24 17:45] kale-stew commented on #890
Absolutely! I would welcome it.

[2020-05-25 16:02] #904 closed

[2020-05-26 02:04] m11m commented on #871
Stepper also seems to not work when it is the only child in a slide like:

[code]

It starts working when I put a sibling either before or after Stepper though. ¯\_(ツ)_/¯

[2020-05-27 20:43] adambutler commented on #861
@kale-stew I'm facing the same issue and implementing a key event seems a bit of a hack.

It's unclear to me how as a consumer of spectacle I would go about using the `MSG_SLIDE_STATE_CHANGE` action for a number of reasons.

1. The hooks aren't exposed for use in the library's main export. I presume I'd have to import these by path into the `node_modules` directory?

[code]

2. To dispatch `MSG_SL

[2020-05-28 02:30] ronarvaez opened #906 "The d.ts file needs minor fixes"
In the d.ts file you can find a few wrong types and names.

**Expected behavior:**
- Deck's prop `animationsWhenGoingBack` is named correctly.
- Slide's `backgroundColor` has string type
- Slide's `backgroundImage` has string type
- Slide's `backgroundOpacity` has number type
- Slide's `backgroundPosition` has string type
- Slide's `backgroundRepeat` has string type
- Slide's `backgroundSize` has

[2020-05-28 15:13] #906 closed

[2020-05-28 15:23] kale-stew commented on #906
Thank you so much for not only bringing this to our attention, but immediately opening a PR to fix it. We appreciate you, Rodrigo!

Have released this fix in [v6.1.0](https://github.com/FormidableLabs/spectacle/releases/tag/v6.1.0)! If you update, types should work correctly now 👍

[2020-05-29 15:09] aristofanischionis opened #909 "Export to PDF functionality"
### Question
According to the [docs](https://formidable.com/open-source/spectacle/docs/advanced-concepts/), if I have a spectacle presentation and I want to create the PDF version of it, I should just add ?exportMode=true after the url, like this: [http://localhost:3000/?exportMode=true](http://localhost:3000/?exportMode=true). So this could also work If I have another URL, let's say http://localh

[2020-05-29 18:01] kirilzh opened #910 "Issue when building"
### Question

What should be the build configuration so that slides don't get merged into one?

### Background Info/Attempts

I'm importing an `slides.md` file that looks like

[code]

and I have it rendered like

[code]
It works as expected running the on my dev server. However, when I build the project everything is loaded on one slide. I'm loading `.md` files using html-loader

[code]

could th

[2020-05-29 18:12] ryan-roemer commented on #910
Hi @kirilzh !

Checkout our MD examples with a webpack config. In your case I've highlighted the lines where we use `raw-loader`: https://github.com/FormidableLabs/spectacle/blob/master/examples/md/webpack.config.js#L18-L21

[2020-05-29 21:30] ryan-roemer opened #913 "Bug/Infra/Minor: One page generation doesn't preserve indentation in MD +JSX code samples."
## Markdown

If you have code like this (Assume `'''` means 3 backticks)

[code]

The code block gets outputted in `yarn build-one-page` from `examples/js/index.js` to `examples/one-page.html` as:

[code]

### HTM/JSX

See here: https://github.com/FormidableLabs/spectacle/pull/1059/files#diff-efd4fa7dad70ebbb97cbb7d1e64a19a60fef234efefe6d7d489c149e14445b53R190-R199

[2020-06-01 07:40] vlsi opened #914 "Presenter mode should show the next animation rather than the next slide"
### Description

Case: a slide with 3 appear items.
The current slide in the presenter view shows only the currently shown items (which is right).
However, the next slide preview shows the **next** slide which is completely irrelevant. The next slide preview should show what will the screen look like after advancing one item.

Sample: https://raw.githack.com/FormidableLabs/spectacle/master/example

[2020-06-07 08:34] JiDai opened #918 "Code highlighting not working when returning to previous slide"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spec

[2020-06-07 09:20] JiDai commented on #918
I use the `Stepper` component as a workaround.

[code]

Besides, the `defaultValues` prop is mandatory to prevent an error `value is undefined`

[2020-06-11 19:30] ryan-roemer opened #921 "Docs: SSR-ed page has missing assets"
I’m seeing missing assets in the dev console but not on the page. I’ve checked and I get this locally on master and previous master before I merged the long running branch.

There are no visual effects, so what my theory is is that our SSR page has broken assets that we don’t see because client-side takes over before it’s noticeable. For an example, we have this component:

  <Wrapper background={

[2020-06-17 18:00] #914 closed

[2020-06-17 18:14] kale-stew commented on #909
Yes, that should be the case! Should also work with hosted URLs, not just local ones.

[2020-06-17 18:14] #909 closed

[2020-06-17 18:16] kale-stew commented on #910
Bumping this - @kirilzh are you still having an issue?

We have updated the default branch name since @ryan-roemer's comment above, so if you're looking for the functioning link of that example, here it is: https://github.com/FormidableLabs/spectacle/blob/main/examples/md/webpack.config.js.

Closing for now but happy to re-open if this is still a problem for you!

[2020-06-17 18:16] #910 closed

[2020-06-17 18:23] kale-stew commented on #896
How odd - I don't see a slide with a custom image in the exported version of this Deck, but I see it in the normal presentation. It looks like slides with a `backgroundImg` but no other content are failing to render side-by-side in `exportMode`. Going to look into this a little further.

[2020-06-17 18:31] vlsi commented on #644
I guess this is fixed in #924

[2020-06-17 18:48] vlsi opened #925 "Provide a way to add custom stepper components"
### Description

It looks like Spectacle supports two steppers only: Appear and Stepper.
There are cases when none of the above is a good fit.
For instance: integrating https://github.com/pomber/code-surfer, or drawing a plot where step elements result in adding more data or adding lines to the plot.

### Proposal

What if there was a way to declare a number of steps explicitly or with a hook?

Fo

[2020-06-18 14:48] kale-stew commented on #918
Can verify this bug, but it does appear to function as expected if you navigate backwards _slowly_.
If I wait 2 seconds before hitting navigating to the previous slide, it jumps to the correct line, even without use of `Stepper`. 🤔 Still, not ideal behavior - going to look into this further.

[2020-06-18 14:55] kale-stew opened #926 "Bring the Pacmac back"
### Description

We should add a Pacman-style progress type back to the Progress component.

### Proposal

This existed before, we can reference the [old animation source](https://github.com/FormidableLabs/spectacle/blob/eeac5c474c874aea9eec796f5936c1ef6fc82b9d/src/components/progress.js) to recreate it.

### Links / References

- [This comment](https://github.com/FormidableLabs/spectacle/issues/8

[2020-06-26 22:07] ryan-roemer commented on #880
It looks like react-static may have fixed this here: https://github.com/react-static/react-static/pull/1451

AFAICT it’s presently only in master https://github.com/react-static/react-static/blob/master/CHANGELOG.md but as soon as that releases we should definitely update!

[2020-07-03 07:00] mikebarkmin commented on #921
I have to use `require('../assets/banner.png').default` to make it work in my presentation. Perhaps this helps.

[2020-07-03 07:04] mikebarkmin commented on #871
@m11m I can confirm this behavior.

[2020-07-03 15:56] kale-stew commented on #921
@mikebarkmin thank you for the comment -- this issue is in reference to our deployed documentation site and not within user-created slides themselves.

@ryan-roemer do SSR'd assets regularly operate like a commit hash? Although I'm not seeing the full `646e170b7206d8b395cde42f9072ac68.webm` asset in that dist, there is a `demo-presentation.646e170b.webm` which appears to be the same asset but name

[2020-07-03 16:34] ryan-roemer commented on #921
I’m not exactly sure what is up as I am unfamiliar with the tools used for our docs, but there is definitely something at issue with our build configuration

[2020-07-03 16:34] ryan-roemer commented on #921
What appears to work and development, definitely is not built correctly for production

[2020-07-03 16:39] ryan-roemer commented on #921
Oh, and that ass in question doesn’t have a commit hash, I believe it is a content hash if I were guessing

[2020-07-07 12:06] mikebarkmin opened #927 "Virtual Laser Pointer"
# Description

At the moment many virtual conferences are happening. It would be great to have a virtual laser pointer. This laser point should follow the mouse. This would help to point on specific things on slides. A user should be able to control the pointer by either move the mouse over the real slides or by move the mouse over the preview in the presenter view.

### Proposal

There could be a

[2020-07-07 12:21] mikebarkmin commented on #889
This would require to have a server component, which probably provides a web socket. Then there needs to be a main client (the speaker) which connects to the web socket by providing a secret speaker token. The main client would emit a `slideChanged` event. Each other client should just connect to the web socket and listen for the `slideChanged` events and act accordingly.

A slide changed event co

[2020-07-08 15:00] boardfish commented on #889
It's been a while since I've had a proper look, but I'm at least relatively sure that this is possible.

[2020-07-08 17:36] LongLiveCHIEF commented on #898
I'm getting this when using JSX, so I don't think it's just md or MDX.  even when using `indentSize` prop.  I also tried switching my `CodePane` content so it was using tabs instead of spaces, and it still trimmed all tab characters and whitespace upon presentation.

[2020-07-08 18:03] ryan-roemer commented on #898
@LongLiveCHIEF -- Is it trimming them, or are they just really, really small? I ended up doing like 8x the normal spaces I wanted then, finally saw them. (My strong hunch is that it's styling related)

[2020-07-08 23:22] LongLiveCHIEF commented on #898
I'll check back in the morning and let you know.

On Wed, Jul 8, 2020, 1:03 PM Ryan Roemer <notifications@github.com> wrote:

[2020-07-09 15:18] LongLiveCHIEF commented on #898
@ryan-roemer it's actually a combination of both.  There is no whitespace or html space characters in the markup, and the padding is 5px + 0.25em of the flex container.

[2020-07-09 15:20] LongLiveCHIEF commented on #898
Whitespace/tab characters shouldn't be stripped, because they need to be there for copy/paste capabilities for the presentation visitors to copy code into their IDE's without it looking like a mess.

[2020-07-09 15:45] ryan-roemer commented on #898
@LongLiveCHIEF -- My understanding is that the whitespace is "translated" by the code formatter to then a style amount, so it's not "stripped" per se, it's just "used for math" to do the style part.

Let me rephrase my question -- if you do 8x the normal whitespacing in code samples, do you visually see _more_ indentation or absolutely no difference in slide results?

[2020-07-09 15:51] ryan-roemer opened #928 "Feature request: Copy-and-pasteable code blocks."
### Description

Our code blocks like https://spectacle.formidable.com/?slide=3&slideElement=-1 visually "look" like normal code, but you can't copy and paste them straight up -- the line numbers are part of the paste and all indentation is removed.

### Proposal

Refactor code blocks to additionally be copy-and-pasteable in exactly the same format as originally provided, indents and all, without

[2020-07-09 15:51] ryan-roemer commented on #898
I've captured "copy and pasteable code blocks" separately as a feature request in: https://github.com/FormidableLabs/spectacle/issues/928

[2020-07-10 13:34] aristofanischionis opened #929 "v6 Migration"
Hello and many thanks for the huge upgrade.
It is undeniable that there has been a huge effort and a lot of work done in version 6 of spectacle.

### Question
I recently decided to upgrade my spectacle dependency from _^5.7.2_ to the latest _^6.2.0_.

The amount of changes is difficult to handle with and a lot of things stopped working:
* The theming is totally different. All the previous work I d

[2020-07-11 18:29] davidpham87 opened #931 "Overview mode is not working"
# How to reproduce the bug

Open the spectacle presentation (https://raw.githack.com/FormidableLabs/spectacle/main/examples/one-page.html?slide=0&slideElement=-1) and then hit alt/cmd + o.

# Expected outcome

We should the all the slide, but we only see the last one.

[2020-07-12 01:56] will-hart commented on #931
Is this related https://github.com/FormidableLabs/spectacle/issues/888?

[2020-07-12 05:28] davidpham87 commented on #931
Yes probably.

[2020-07-20 04:49] ruhci28 commented on #810
Hii, @kale-stew  can I work on this .?

[2020-07-20 04:50] kale-stew commented on #810
@ruhci28 absolutely!

[2020-07-28 07:43] aristofanischionis commented on #929
@kale-stew I have opened this issue 18 days ago, please give an answer ...

[2020-07-28 14:55] kale-stew commented on #929
Hi @aristofanischionis, apologies for the delay in response － I wanted to wait for other work to land before I listed out specific API changes to note in the migration, but that work is still in progress and I don't want to delay my response any further.

Essentially, I cannot make any promises about future Spectacle versions matching what we knew before v6. We did a complete rewrite of the librar

[2020-07-28 18:08] ryan-roemer commented on #898
*Update*: current WIP PR fixes this with correct spacing (and it's real spaces too) in MD -- https://github.com/FormidableLabs/spectacle/pull/934

![Screen Shot 2020-07-28 at 11 05 33 AM](https://user-images.githubusercontent.com/445557/88704194-9b8a8200-d0c2-11ea-9691-98e1ffbf91e5.png)

[2020-07-28 18:08] ryan-roemer commented on #928
*Update*: current WIP PR fixes this with copy and pasteable code blocks that also skip the numbers in MD (I've highlighted some code and spacing in this screenshot) -- https://github.com/FormidableLabs/spectacle/pull/934

![Screen Shot 2020-07-28 at 11 05 58 AM](https://user-images.githubusercontent.com/445557/88704267-b0671580-d0c2-11ea-92c9-486ef8bac03c.png)

[2020-07-30 15:15] aristofanischionis commented on #929
Hi @kale-stew,

Thank you for your response, it is well understood.
Have a nice day, and once again thanks for the great effort you are making to keep Spectacle up-to-date.

Aristofanis.

[2020-08-10 09:48] slorber opened #938 "How to customize animations and backgroundColor"
### Question

Hey, I'm trying to use this tool with MDX, and the cli.

I don't want to code anything, I want to focus on content.

I run the following:

[code]

It's really unclear to me how I am supposed to customize the animations and backgroundColors without requiring me to actually wrote code, is it even possible?

I've tried to customize the template, the theme, but I find it confusing. How a

[2020-08-10 09:57] slorber commented on #886
Did you find a way to customize the background color easily using theme or template?

I don't find any solution

https://github.com/FormidableLabs/spectacle/issues/938

[2020-08-10 11:05] on3iro commented on #886
@slorber unfortunately I didn't (if I remember correctly - it's been a while since I last used spectacle)

[2020-08-12 06:46] birdiesanders opened #939 "How can I make the CodeBlock Larger?"
### Question

What question do you have about using Spectacle?

I cannot seem to make the code block larger, it is just too short for what I need, and the notes tend to cover up a line or two of what I am showing.
### Background Info/Attempts

Any background information that might help us answer your questions, or a code snippet or link to a code example if you have an implementation question.

[2020-08-18 04:29] matt-d-rat commented on #871
I can also confirm this behaviour. It appears that if you put _any__ element or even a `React.Fragmet` as a sibling, the `Stepper` component is then somehow happy and works as expected. Weird.

[2020-09-03 20:46] dephiros commented on #939
I ended up looking through the source code and found you can override the theme:
[code]
I think spectacle do a deep merge with the [default theme](https://github.com/FormidableLabs/spectacle/blob/main/src/theme/default-theme.js)

Hope it helps

[2020-09-03 20:48] dephiros opened #943 "Adding new language to CodePane"
### Question

What question do you have about using Spectacle?
How to add a new language for highlight?

### Background Info/Attempts
I want to add a kotlin codeblock
I tried a solution in https://github.com/FormidableLabs/prism-react-renderer#faq but does not seems to work

[2020-09-06 16:20] erin-doyle commented on #939
This is massively helpful!  It would be great if this were pointed out better in the docs!

[2020-09-06 18:08] kale-stew commented on #939
@dephiros - thanks for taking the time to look at the source and confirm that this is possible.

@erin-doyle - we do have a [page about theming in the docs themselves](https://formidable.com/open-source/spectacle/docs/themes/#theme-object), I would love feedback on how we can make the language more clear around this, if you have the time to spare.

[2020-09-06 18:09] kale-stew commented on #939
Closing in favor of the `maxCodePaneHeight` override provided above. Please feel free to re-open this issue if the problem persists.

[2020-09-06 18:09] #939 closed

[2020-09-06 21:19] kale-stew commented on #943
Hi @dephiros - unfortunately, `prismjs` doesn't currently support Kotlin syntax, and we cannot easily add an extension to the lib to support an unsupported language. I know this isn't what I would want to hear as a potential contributor and I would like to apologize for that.

If this is a feature you can afford to spend time on, I would encourage you to PR [`prismjs` itself](https://github.com/Pr

[2020-09-06 21:19] #943 closed

[2020-09-08 21:00] dephiros commented on #943
@kale-stew , thanks for your response. I see that prism list Kotlin as a supported language in https://prismjs.com/index.html#supported-languages

[2020-09-21 14:55] chardskarth commented on #861
I wanted to do something similar; **programmatic way to change slides**.

I achieved this through exporting DeckContext and doing `const { goToSlide } = useContext(DeckContext)`.

Gonna stick with this solution **until this feature request gets resolved** 😉. Still, awesome work!

[2020-10-05 19:23] Zenahr commented on #886
I agree on how the docs are confusing to read. Thanks for opening this issue. I might look into contributing to the docs as well and maybe we could get it more streamlined for first-time users by seperating the docs into dev-docs and user-docs.

[2020-10-05 19:34] Zenahr opened #951 "docs: link to docs homepage does not lead to it"
### Description

Following the link inside the Readme to get to the docs only leads to the homepage.

**Expected behavior:** land on docs page.

**Actual behavior:** landing on project homepage

[2020-10-05 19:52] Zenahr commented on #951
Oh yeah before I forget... the first link displayed on google also doesn't lead to the docs page.

![image](https://user-images.githubusercontent.com/47085752/95125327-18864780-0755-11eb-94ee-9c6c7f2c142f.png)

[2020-10-06 16:01] Zenahr commented on #925
@vlsi seconded. I would love to see a feature where I could make a text appear on a slide like so:

´´´
This
This is
This is so
This is so amazing!
´´´

maybe this could be accomplished like so (2 example use cases):

[code]

As in example 2 (with 'this is really bad') this would render like so on a slide:

This is really

---presses right arrow key---

This is really bad

---

So basically every

[2020-10-06 16:10] Zenahr opened #953 "Problems formatting a FlexBox with 2 columns and Text"
### Question

What is the best way (any Best Practices applicable here?) for displaying a comparison table?

This is what it looks like right now

![image](https://user-images.githubusercontent.com/47085752/95227223-247a1400-07fe-11eb-8dc5-99a25996c675.png)

The titles are not exactly aligned in the center of their boxes. Should I use a "Spacer" element between them instead of using margins?

My l

[2020-10-08 15:09] Zenahr commented on #927
This is a cool idea. We could probably also add some "drag" to the pointer so that it feels a bit more real.

[2020-10-26 13:48] hngu opened #956 "Allow animation going back a slide"
Hello!

I noticed that when I navigate to a previous slide, the animation or sliding effect is disabled. This seems to be due to a "immediate" query string param. Is there a way to turn this off? I would like to slide back to a previous slide similar to how Reveal.js does their slide animation https://revealjs.com/demo

### Question

What question do you have about using Spectacle?

### Background

[2020-10-31 14:57] emulienfou commented on #868
Hello,
also trying to make this beautiful package working on Next.js, the main concern here would be related to the [BroadcastChannel polyfill](https://github.com/JSmith01/broadcastchannel-polyfill) package.

Since this package seems to use `self` Spectacle cannot be used with Next.js unless we are using version `6.0.0-alpha.7` since this package has been introduced in `6.0.0-alpha.8`.

Tried to u

[2020-11-12 00:13] chrisipanaque commented on #895
Consumers overriding our `padding/margin` default values is currently not supported by the `styled-system` library.

These are the opened issues related to this problem:

https://github.com/styled-system/styled-system/issues/1136

https://github.com/styled-system/styled-system/issues/1058

https://github.com/styled-system/styled-system/issues/882

[2020-11-12 00:31] chrisipanaque commented on #918
Verified that issue has already been fixed in upcoming v7! 🥳 🎉

![1198-fix](https://user-images.githubusercontent.com/16032631/98879838-4a1cbd80-243b-11eb-9ec5-0c5dd6105715.gif)

[2020-11-17 14:45] Dimension4 opened #960 "How do I use the cli tool for markdown?"
I'm trying to create a simple slide deck from an empty md file using spectacle-cli. I've been following [these](https://www.formidable.com/open-source/spectacle/docs/tutorial/#option-two-using-markdown-and-the-spectacle-cli) instructions.

When I start the server I'm getting some errors:

[code]

The working directory is empty except for a single `bla.md` file which just contains the text "hello".

[2020-11-17 15:10] ryan-roemer commented on #960
`spectacle-cli` can't find your MD file:

[code]

What's the full path to your md file?

What's the working directory you are running `spectacle-cli` from?

[2020-11-17 15:26] Dimension4 commented on #960
Working directory is `C:\code\test-mk2`. The file is located at `C:\code\test-mk2\bla.md` and I use the tool like `spectacle-cli.cmd -s .\bla.md`.

[2020-11-17 15:32] ryan-roemer commented on #960
Can you try:

[code]

or

[code]

(I forget if windows need single our double quotes).

... and see if either of those work?

[2020-11-17 15:42] Dimension4 commented on #960
The tool finds the file, I've just tried it with a non-existing file and got the error

[2020-11-17 15:52] ryan-roemer commented on #960
Ah. I think I know what’s happening. The backslashes are interpolated incorrectly. I’ll need to dig in more, but thanks for the debug help!

[2020-12-20 13:27] badabam opened #968 "How to let list items "appear" with *.mdx"
### Question

I am running my slides from MDX and have trouble figuring out how to let items appear one by one.

#### Example
[code]

### Background Info/Attempts

#### Attempts
I tried it on the stable release, but while trying to figure things out, I also looked into the current beta (Branch `main-7`) and  there is something that looks [like what I want.](https://github.com/FormidableLabs/specta

[2021-01-15 18:17] vintagexav commented on #522
You deserve a medal <3

[2021-01-17 22:24] craig-o-curtis opened #973 "slideElement at -1, keystrokes don't increment"
### Question

I am trying to animate simple elements on keypress but it isn't working.
`http://localhost:3000/?immediate=true&slide=4&slideElement=-1`
The slideElement is at -1, and on pressing different keys, it doesn't increment.

I scoured the docs but cannot find any examples of how to do this. I'm hoping this is something easy.
I've tried adding a Stepper component too, but that doesn't seem

[2021-01-30 13:45] dpkwhan opened #979 "Is pacman back in v6?"
Some comments in the past said pacman is going to be back in v6. Did this happen?

I really love it.

[2021-02-14 16:38] iot-art opened #984 "Touch control for mobile device is not working"
Hi! Earlier, you wrote that the touch control function for mobile devices has been added. But in the new version, changed 10 days ago, this feature is again missing:( How can I add this functionality to a presentation? Do you plan to return it?

[2021-02-23 20:02] pruesinghnagra opened #985 "Bug: setImmediate not defined in CodePane"
Hi! I've been running into some issues trying to use `<CodePane>`. Is there an additional step that I need to do when installing to be able to use it?

I'm using React and npm. The error that I am getting is:

`Uncaught ReferenceError: setImmediate is not defined `

I'm also getting errors in the bundle.js compile about StyledComponents. I'm not using them but I can see that Spectacle is. I've had

[2021-02-23 20:20] ryan-roemer commented on #985
Hi @pruesinghnagra ! Would it be possible for you to create a minimal public repository that exhibits the issue with build steps? In particular we want to look at your webpack version as webpack5 changed polyfills available by default. Thanks!

[2021-02-23 23:02] pruesinghnagra commented on #985
Ok sweet!!! Thanks @ryan-roemer :) Yeah I did run into some webpack problems actually!

Here is a simple repo https://github.com/pruesinghnagra/lecture-template - hopefully it helps.

[2021-02-25 18:55] ryan-roemer commented on #985
Thanks @pruesinghnagra ! Confirmed. The bug is that we use a Node.js-only `setImmediate` that isn't in browsers and webpack previously polyfilled it but doesn't now in v5.

## Work
- [ ] Grep and remove all `setImmediate`/`clearImmediate` usage throughout.

## Temporary fix
In the meantime, you can polyfill `setImmediate` in your project with something like the following:

[code]

[2021-02-26 18:16] ryan-roemer commented on #985
Fix released in `7.0.2`. @pruesinghnagra can you try it out without the polyfill and see if everything works for you now? Thanks!

[2021-02-26 18:16] #985 closed

[2021-03-01 21:33] pruesinghnagra commented on #985
@ryan-roemer Yes it works! Thank you so much :)

[2021-03-06 16:43] maxMidius opened #989 "start spectacle http server on host/port"
### Question
Can we run spectacle http server on 0.0.0.0 instead of locahost

### Background Info/Attempts

Looks lijke spectacle-boilerplate is generating a webpack-config.js which is not accepting the IP address of the host  - which you are normally able to control through something like  host :  0.0.0.0

[2021-03-15 03:31] nonoumasy commented on #984
Same issue here. I can't seem to navigate by Touch(slide, click) on mobile.

[2021-03-16 22:37] gingerrific commented on #896
@hinok hello - v7 of `spectacle` correctly renders the `backgroundImg` when `exportMode=true`. You can observe this in your initial [codesandbox](https://codesandbox.io/s/simple-spectacle-example-whbgc) simply by bumping the spectacle dependency to be "^7.0.0"

[2021-03-16 22:42] gingerrific commented on #931
@davidpham87 this is now resolved in v7! Enabling overview mode with either the key command or the queryParam `overviewMode=true` will display all slides in an overview mode

[2021-03-17 22:59] hinok commented on #896
@gingerrific Thanks, it seems that it works correctly on `7.0.4`.

[2021-04-01 14:49] shabegom opened #1003 "Make Compatible With Powerpoint"
### Description

I would like to create spectacle slideshows, but I want to make them in Powerpoint by Microsoft.

### Proposal

Add a button in Powerpoint called "Spectalize", preferably it would also have an anthropomorphic paperclip pop up and shoot confetti all over the screen.

### Links / References

[Powerpoint by Microsoft](https://en.wikipedia.org/wiki/April_Fools%27_Day)

[2021-04-01 15:52] jvanhare opened #1004 "Problem when building using Gatsby.js"
Hello everyone,

### Describe Your Environment

spectacle@7.1.3
react@16.14.0
Chrome Version 89.0.4389.90
macOS Big Sur Version 11.2.3 (20D91)

### Describe the Problem

First of all, thank you very much for the great job you are doing with Spectacle.
I am using it to create my own template for my scientific presentations.
I have done a repository https://github.com/jvanhare/slides to help you to

[2021-04-01 16:05] tptee commented on #1003
I too want to make spectacle slideshows in Powerpoint, but my business requires it to sync to Sharepoint. We need the power to share the points! Where are the maintainers??????

[2021-04-01 18:53] gksander commented on #1004
Hi @jvanhare - it sounds like you're on the right track! Spectacle uses some browser APIs that are not available in Node (including references to the `window` object). I'm assuming that when Gatsby tries to build your site to static HTML (which happens in Node), it's stumbling on these browser-APIs (because they aren't available during the build process). Gatsby's documentation has a few suggestio

[2021-04-02 07:42] jvanhare commented on #1004
Hi @gksander

Thank you so much for your help!
I followed your recommendation and used loadable-components in order to solve my problem.
I simply tried to convert the following code, which works as expected:

[code]

 with loadable-components:

[code]

No error when I run gatsby build but nothing is displayed.
Again, what am I doing wrong?
Again, thanks for your help.

Julien

[2021-04-02 16:14] gksander commented on #1004
If I can free up some time, I'll try out the sample code you attached. In the meantime, I'm curious what the motivation for using Gatsby is. Do you plan to add additional static content to the site (and the slides are just part of a larger site)? If your site consists of strictly the slides, you might consider using a different tool that is not geared toward static site generation - such as Specta

[2021-04-06 07:45] jvanhare commented on #1004
Yes, you are right @gksander! I was simply used to Gatsby because I created my personal website with it. The site only consists of the slides and then I deploy using GitHub pages and then I simply redirect from my website to these slides.
So, to answer your question, I give up trying to use Gatsby and simply use the Spectacle's CLI tools and of course, no more problem! Thank you so much for your t

[2021-04-08 15:03] gksander commented on #1004
Happy to help! Glad you got it figured out.

[2021-04-08 15:03] #1004 closed

[2021-04-15 14:39] #984 closed

[2021-04-15 14:54] carlos-kelly commented on #984
Addressed in spectacle@8.0.1.

[2021-04-15 15:21] soft-circles commented on #931
We believe this issue has been addressed in 8.0.0 and later, if this issue persists please feel free to open a new issue.

[2021-04-15 15:21] #931 closed

[2021-04-19 23:46] sneakers-the-rat opened #1009 "No Stepper Component? (is it now the use-steps hook?)"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [`^8.0.1`] I am using the latest version

[2021-04-20 00:02] sneakers-the-rat commented on #1009
Or, i guess more generally, what i'm trying to do is step through an animation of an SVG, and i want to hook into the keypress event so that the slide doesn't change but the animation proceeds.

[2021-04-20 21:33] sneakers-the-rat commented on #1009
I see: https://github.com/FormidableLabs/spectacle/blob/main/src/hooks/use-steps.js and https://github.com/FormidableLabs/spectacle/blob/main/src/hooks/use-keyboard-controls.js as being potentially relevant, but not sure how to use them? I see notes to expand documentation there, if you point me in a general direction with a basic example I can give it a shot and try and write some docs?

[2021-04-20 22:00] sneakers-the-rat commented on #1009
from what i can tell from the PR that removed it, the functionality seems to have moved to `hooks/use-steps.js` and a lot of the `Stepper` docs were removed: https://github.com/FormidableLabs/spectacle/pull/980/

Taking a look at `components/code-pane.js` is useful for understanding how to implement 'sub-steps' within a slide https://github.com/FormidableLabs/spectacle/blob/main/src/components/cod

[2021-04-28 03:09] ryan-roemer opened #1014 "Chore: Audit prod dependencies"
We should audit all our prod deps for actual usage. Discovered today that we're not using:

- [ ] `marksy`: https://github.com/FormidableLabs/spectacle/search?q=marksy

[2021-04-29 01:12] sneakers-the-rat opened #1015 "Transitions are hardcoded?"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
8.0.1

What version of React are you using? (can be found by running `npm list react`)
17.0.2

What browser are you using?
firefox/chrome

What machine are you on?
macos

### Describe the Problem

**Expected behavior:** Be able to change transitions between slides

**Actual behavi

[2021-05-04 22:26] sneakers-the-rat commented on #1014
`depcheck` says:

[code]

[2021-05-04 22:35] ryan-roemer commented on #1014
Thanks @sneakers-the-rat

Some random notes:

- `prism-react-render` is a real prod dep at https://github.com/FormidableLabs/spectacle/blob/main/docs/src/components/mdx.js#L8
- `babel-plugin-transform-jsx-to-htm`: https://github.com/FormidableLabs/spectacle/blob/75052e61bedabf5ed9965506bb1fb7e82112782f/scripts/one-page.js#L36
- `webpack-cli` provides `webpack` CLI script
- I think `babel-eslint` i

[2021-05-05 05:01] todortotev commented on #1014
@ryan-roemer mind if I try helping?

[2021-05-05 22:22] sneakers-the-rat commented on #1009
Ok figured out how to step through an .svg (using anime.js), and generally how to add custom step logic to slides, definitely worth documenting bc you can do stuff like this which is good:

![spectacle_stepper](https://user-images.githubusercontent.com/12961499/117215746-86f6bb00-adb3-11eb-8c27-6cce9661827d.gif)

Here's what i've been making, for reference (no roastin' allowed): https://github.com

[2021-05-08 04:11] sneakers-the-rat opened #1022 "unmount slides when not displayed"
### Description

Currently all slides remain in the DOM with display:none when not displayed & the components remain mounted. this means any slides that have components with side effects like animations will continue running, and everything starts going very sloooow.

### Proposal

Add a prop to `Deck` like `bufferRange` where the content of slides slides +/- that range are mounted in the Dom, but

[2021-05-08 19:47] markerikson commented on #1009
Yeah, similarly, v5 rendered left/right arrows in a `<Controls>` component, and I'm not seeing any arrows in a v8 test presentation.

[2021-05-08 21:58] markerikson opened #1023 "ComponentPlayground component removed?"
### Question

I'm updating my CRA+Spectacle+MDX slides setup from Spectacle 5.x to 8.x, and it looks like 8.x no longer has a `<ComponentPlayground>` component.  I can see it back in the 5.x source, but not current.  Are there any plans to re-add that? I know I can always copy-paste the old component and recreate it in my own codebase, but it would be nice to have that built in.

### Background In

[2021-05-09 02:16] markerikson opened #1024 "CodePane component has hardcoded behavior"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spec

[2021-05-12 07:27] sneakers-the-rat commented on #953
use <Grid> and if you have uneven numbers just use a placeholder `<></>`

if all your text objects were guaranteed to be the same number of lines, then rather than <Box> use another <FlexBox> and make sure that `flexDirection="column"` and you align the content to flex-start

[2021-05-12 07:31] sneakers-the-rat commented on #1022
since the progress bar is now also rendered for every slide, once you have appreciable slides you end up rendering an n^2 number of elements if you include it -- eg for a slideshow of 40 slides that's 1600 additional elements in the DOM. I haven't profiled but my slideshows are **significantly** laggier when I have any variant of a progress bar object (the base progress bar included)

[2021-05-12 07:34] sneakers-the-rat commented on #1022
it would be nice for this to be able to render an object that an access the DeckContext once rather than needing to include something on every slide.  this seems like a pretty common use case (eg. progress bars, contact info, content overlays that persist between slides) that would make me elevate this issue from a feature request to a bug since the performance hit seems to be so massive

[2021-05-12 07:42] sneakers-the-rat commented on #1009
for that I think you would use one of these:
https://github.com/FormidableLabs/spectacle/blob/86ebff9bfc00f91d68ba8f7130236abb1c9453cb/src/hooks/use-deck-state.js#L87

in the use deck state hook, but it's not exported in the current version (henced PR above) and can't be used by importing from the library using relative paths. if you made a component that used the hook and then had an onClick even

[2021-05-12 07:47] sneakers-the-rat commented on #1009
would b cool to have some response from the devs on this bc this is a basic function of the library & trying to contribute in good faith, even happy to write docs if I get some input on intended usage/behavior, but will just fork and diverge otherwise

[2021-05-12 14:05] markerikson commented on #1009
I ended up writing my own logic to handle this, using the slide index values and the `advanceSlide/regressSlide` callbacks inside of `DeckContext`.

[2021-05-13 19:12] sneakers-the-rat commented on #925
described how to do this in related issue: https://github.com/FormidableLabs/spectacle/issues/1009

[2021-05-13 21:07] sneakers-the-rat commented on #1022
This works except for that now all the intra-slide steps are broken, that must be computed when the deck is initially mounted?

https://github.com/sneakers-the-rat/infrastructure-presentation/blob/e78c43ef482aa104cad05b63371fa473d6613696/src/components/hideslide.js#L1-L40

[2021-05-13 21:14] sneakers-the-rat commented on #1022
rendering them on first mount of Deck (by adding a `|| !initialized` check) seems to fix the number of steps, and all my custom stepper components work, but now Appear components are broken because they seem to be tied to a specific stepID rather than a step #

[2021-05-19 00:53] sneakers-the-rat commented on #1024
+1 on also experiencing the fixed width and having to hack around it with !important flags

[2021-05-19 00:57] sneakers-the-rat commented on #1015
ya it's just due to the hardcoding... can give custom transitions by doing this: https://github.com/sneakers-the-rat/spectacle/commit/584d115858d730e209ec72f5c9735e5bd697fddc

aka just using theme objects that are given by the user (i didn't use the format recommended in the docs, just an array). i'd be willing to tidy that up into a PR if it's helpful but i haven't gotten any response yet from y'

[2021-05-19 01:01] sneakers-the-rat commented on #1015
Looks like this was fixed here: https://github.com/FormidableLabs/spectacle/commit/ddcea75bbc7522520ef7d3de540a8a67ec6cdb9b

[2021-05-19 01:01] #1015 closed

[2021-05-19 01:17] sneakers-the-rat opened #1029 "CodePane sometimes (?) scrolls entire portal up for the rest of the slideshow"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
8.1

What version of React are you using? (can be found by running `npm list react`)
17.0.2

What browser are you using?
Tested on Firefox & Chrome

What machine are you on?
macOS

### Describe the Problem

If there's enough code in a code slide that it has to slide up, CodeSlide

[2021-06-03 12:59] hinok commented on #1009
Upgrading from `^6.0.0` is not possible at the moment as with `8.2.0`

[code]

[2021-06-07 12:45] carlos-kelly commented on #1024
Thanks for pointing these out. Those hardcoded values are absolutely an error. We will get on patching this shortly.

[2021-06-10 18:48] #1024 closed

[2021-06-19 18:26] rmobis commented on #716
@kale-stew hey, sorry to bother, but did you manage to get anything about verticals slides out? Any pointers would be welcome.

[2021-06-28 22:30] boygirl opened #1042 "Docs: update formidable icon to use registered symbol, update footer copy"
formidable icon should include ® , and footer copy should now read
"Formidable is a global design and engineering consultancy and open source software organization, specializing in React.js, React Native, GraphQL, Node.js, and the extended JavaScript ecosystem. We have locations in Seattle, London, Toronto, Denver, and Phoenix with remote consultants worldwide. For more information please visit fo

[2021-06-29 17:17] mhink commented on #1009
@sneakers-the-rat hi there! Sorry this has taken so long. I actually wrote the majority of the new code, so here's the 411.

Your analysis of the `useSteps` hook is correct. Essentially, this is the mechanism which allows you to write components which "participate" in the presentation flow by rendering the `placeholder` return value in addition to other components. ("placeholder divs" are how the

[2021-06-29 22:10] #953 closed

[2021-07-01 21:24] mhink commented on #1022
First off: you're absolutely right about `Progress`, and I'm kind of annoyed at myself for not catching it. 😅

Secondly: your suggestion absolutely holds water. The problems you're running into most likely have to do with the fact that Slides need to _actually render_ their contents in order to detect "step participants". Moreover, as you've noticed: slides aren't exactly aware of their location i

[2021-07-04 19:44] mikestopcontinues opened #1045 "Highlight.js throwing `global is not defined` error via `core.js`"
### Describe Your Environment

What version of Spectacle are you using? 8.3.0
What version of React are you using? 17.0.13
What browser are you using? Chrome (up to date)
What machine are you on? Mac

### Describe the Problem

I'm trying to bundle a set of similar slide decks for the web using Vite (for guests to visit later, to download references, etc). But I've hit the following error:

[code]

[2021-07-08 16:56] alvarezGarciaMarcos opened #1046 "Question regarding progress dots"
### Question

I have installed the package with _yarn_ and started a presentation with the _spectacle-boilerplate_, and I a getting some weird behavior, that I've also seen in the demo presentation. The _Full screen_ button and the progress dots are animated within the slide. Shouldn't they be static in the page to show the progress of the presentation? Am I missing some configuration?

Thank you.

[2021-07-19 18:54] #1009 closed

[2021-07-20 01:56] sneakers-the-rat commented on #1009
lovely, thank you for getting to this :)

[2021-07-23 12:03] dav1d-wright opened #1050 "Text wrapping"
### Question
Hi, I have been unsuccessfully trying to find out what components or properties to use in order to wrap text within a Text component. Ideally I would like to use the left half of a slide for text, and the right half for an image. Unfortunately though, the text sometimes overlaps to the second half of the slide.

I would be greatful for any hints to achieve this.

### Background Info/A

[2021-07-24 21:30] akloster opened #1051 "What is the correct way to replace the backdrop color?"
I'd like to have a white background in my slides, and I'd prefer a fadeTransition, though slideTransition has the same problem. Best way to put it: the transitions go through a black phase, no matter what I tried.

In the source code I found ways to specify backdropStyle in the theme settings. That seems to work in presenter mode, but not in the normal mode.
[code]

This is also not covered in the

[2021-07-27 13:26] jkwchui opened #1052 "How to swap out mdx-js for MDX-bundler?"
### Question

I would like to swap out `mdx-js` for a [`MDX-bundler`](https://github.com/kentcdodds/mdx-bundler) / `xdm` mdx parser.  This change would make possible easy usage of Unified (remark/rehype) markdown plugins, as well as updates the MDX syntax to 2.0 (most noticeably removing the requirement of leaving an empty line between <tags> and content.)

Is this possible?

### Background Info/A

[2021-08-02 12:09] MichaelFroeschen opened #1053 "CodePane size not customizable"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
spectacle@8.3.0
What version of React are you using? (can be found by running `npm list react`)
react@17.0.2
What browser are you using?
Firefox
What machine are you on?
Windows

### Describe the Problem

I made a layout for my presentations that does not use the whole width of th

[2021-08-10 19:16] #1042 closed

[2021-08-20 17:51] Nezteb opened #1058 "Demo/example doesn't work in latest Chrome"
### Prerequisites

- [X] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [X] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [X] I am using the latest version of Spectacle

### Describe Your Environment

What browser are you using?
- Chrome 92.0.4515

[2021-08-20 19:18] ryan-roemer commented on #1058
Thanks @Nezteb ! Yep, one-page is in "dev mode" and we need to revert that to real live version. I'll get a bugfix PR up soon.

[2021-08-20 19:31] ryan-roemer commented on #1058
@carlos-kelly The latest one-page.html works with local `dist/**.js` but _not_ with published spectacle for something related to fragments. Are we behind in publishing?

[2021-08-23 17:03] neobrain opened #1060 "When is the next minor release planned?"
*First of all, sorry for asking one of "these" questions 🙈*

### Question

I've been trying to port a WIP presentation of mine to TypeScript, but doing so is only practical with the comprehensive type definitions introduced in 4b6084c339b40b131a16775dd0836f4639493766. Without that patch, even simple uses of Spectacle's components will fail due to unknown properties, such as `<Appear activeStyle={.

[2021-08-23 19:15] #1058 closed

[2021-08-24 07:14] neobrain commented on #1060
FWIW I still haven't been able to get `github:...` to work, however I've been successful with cloning the repository manually, calling `npm pack` on it, and then pointing npm to the created tarball (`npm install --save spectacle-8.3.0.tgz`). I'm surprised that works while having npm clone from github itself doesn't, but maybe I'm just misunderstanding what the `github:` dependency syntax should be

[2021-08-24 14:28] ryan-roemer commented on #1060
Hi folks! We're planning a release today.

(As a helpful tip, we transpile source to `lib` and `es` outputs, so a git-based dependency won't work without either transpiling our source beforehand or adjusting the build inputs to point to `src` and do the transpilation there)

[2021-08-24 17:30] ryan-roemer commented on #1060
We've published `spectacle@8.4.0`. https://unpkg.com/browse/spectacle@8.4.0/index.d.ts does look to include the updated defs. Closing, but let me know if you run in to any other problems!

[2021-08-24 17:30] #1060 closed

[2021-08-25 10:28] neobrain commented on #1060
Wonderful, thanks so much for your hard work - Spectacle has come in really useful for me already, and the 8.4.0 release oeprates fine with TypeScript as expected :)

Ah, so that's why I had problems with that approach. Noted!

[2021-08-29 03:49] AbhishekJamhoriya commented on #1050
@dav1d-wright can i work on this issue.

[2021-09-02 05:50] dav1d-wright commented on #1050
@AbhishekJamhoriya that would be great for me, but I have no ties to FormidableLabs :)

[2021-09-03 11:26] neobrain opened #1062 "Type definition for CodePane's highlightRanges parameter is incomplete"
### Describe the Problem

The [docs for CodePane](https://formidable.com/open-source/spectacle/docs/api-reference/#code-pane) allow for passing an array of arrays for the `highlightRanges` parameter, as indicated by the example `[[6, 8], [10, 15]]`. However, this usage pattern doesn't compile with the current typescript definition `highlightRanges?: number | number[]`.

What's missing is another a

[2021-09-06 11:01] neobrain commented on #1062
I reflected about this some more, and actually the type can be refined even more: Since only two-element arrays or single-element entries are allowed, the `number[]` alternative could be replaced by `(number | [number, number])[]`.

This would allow `highlightRanges={[[1,5], [7,11], 13]}` and `highlightRanges={[[13,15],17]}`, but not `highlightRanges={[[1,5,3]]}` and neither `highlightRanges={[[13

[2021-09-09 13:49] vegetablesalad commented on #1051
I would like to know this as well.
I could hack my way to that backdrop element, but is there a better way to style it?

[2021-09-09 21:23] vegetablesalad opened #1063 "Highlight lines in Code Pane simultaneous with other items."
Not sure if this is possible, but can I highlight code lines simultaneous with activating steps?

[2021-09-14 12:19] SebastiaanNijland commented on #1062
I think https://github.com/FormidableLabs/spectacle/pull/991 addresses this issue.

[2021-09-16 14:32] neobrain commented on #1062
Yup! Let's hope it gets merged at some point :)

[2021-09-17 23:00] sneakers-the-rat opened #1064 "Styled Notes component in presenter view"
### Question

How can I change the style of the notes component? For the life of me I can't figure out how to get the text to be light on dark instead of dark on dark.

<img width="1916" alt="Screen Shot 2021-09-17 at 3 54 02 PM" src="https://user-images.githubusercontent.com/12961499/133861858-c301ba6f-002c-486d-9e4e-3c427cbcc34f.png">

### Background Info/Attempts

If i change the primary color

[2021-09-17 23:23] sneakers-the-rat commented on #1064
was able to do an extremely hacky workaround for now like this, i'm using MDX so the `MDXNote` is as https://github.com/FormidableLabs/spectacle-mdx-loader/blob/31a27e7c4a2f5ac33fc7d7bbaf475288e703a5ef/examples/mdx/index.js#L52

[code]

and

[code]

but that's pretty awkward

[2021-09-18 02:37] sneakers-the-rat commented on #436
Replying here (no need to reopen) because it's one of the first results for "spectacle.js presenter mode" to say the url is now

`/?presenterMode=true`

https://formidable.com/open-source/spectacle/docs/basic-concepts/#presenting

[2021-09-28 23:09] sneakers-the-rat commented on #1029
bump bc this totally breaks this component and i want to use it! haven't been able to figure out a workaround but will PR if i do

[2021-09-29 06:58] asm0dey opened #1068 "Support CodePane font change"
### Description

Currently, fonts used in CodePane are hardcoded into the themes.

### Proposal

I propose to support customizing of them may be the same way we can customize other fonts now

### Links / References

Currently I've written dirty hack to monkey patch it in runtime,

[code]

But of course, it's not how it should be done.

[2021-11-10 17:30] #913 closed

[2021-11-26 12:06] DanielBadura opened #1077 "Bug: Export Mode doesn't work in Firefox."
### Question

Hello 👋

I'm building some slides right now and wanted to look an a PDF export but oddly only the first Slide is visible but the PDF has the full 121 slides as pages but they are all white. I looked into similiar issues where ppl said imported slides have some issue and moved all CustomSlides which were imported into the `App.tsx` but that did produce a different result. I used Firef

[2021-11-26 16:42] DanielBadura opened #1078 "Progess in overviewMode and exportMode"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spec

[2021-11-29 23:32] jrwJunior commented on #1050
Foo

[2021-12-03 10:17] neobrain commented on #1062
#1070 also addressed this and has been merged :)

[2021-12-03 10:17] #1062 closed

[2021-12-16 06:00] RachitKeertiDas opened #1080 "Does Spectacle Work with webpack v5?"
### Question

I tried to run the `create-react-app` method of using Spectacle as a standard react app, however, this failed using `create-react-app` v5.0.0 and webpack v5. Is there any workaround for this?

### Background Info/Attempts

I used `create-react-app` to create a standard react app, installed Spectacle v8.5, and used the standard boilerplate code as provided in the official documentatio

[2021-12-17 12:17] artcoded-net commented on #1080
Hi, as a workaround, installing the 'assert' package as it suggests in the error message, did solve the issue for me

[2021-12-17 18:09] ryan-roemer opened #1081 "Infrastructure: Update to webpack5"
Webpack5 has some modest changes like no node polyfills, which we've seen needs some minor config in #1080

Tasks:

- [x] Update `webpack` and `webpack-cli` to most recent.
- [x] Check all build still works.
- [x] Check all `examples` still work.
- [ ] Update https://github.com/FormidableLabs/spectacle-mdx-loader the same and check the same
- [ ] Update https://github.com/FormidableLabs/spectacle-

[2021-12-17 18:10] ryan-roemer commented on #1080
Hi Folks -- I've added https://github.com/FormidableLabs/spectacle/issues/1081 with a list of the work to update webpack to v5. i don't think we'll encounter any big issues other than missing node polyfills in v5 that we'll have to add some config for.

[2021-12-23 03:25] jhwohlgemuth opened #1082 "Use Babel JSX transform to obviate need to import React"
### Description

I love Spectacle.  I have used myriad presentation frameworks and Spectacle is one of my favorites.

That being said, there are certain tasks I find myself performing after using `spectacle-boilerplate`...like adding the new JSX transform.

With the release of React v17, it is possible to [use Babel to  auto import React](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx

[2021-12-30 18:24] RachitKeertiDas commented on #1080
Yup, I can confirm adding the `assert` package gets rid of the error and it works as intended. Thanks for the suggestion!

Closing the issue as a To-Do List for all the required changes for webpack v5 has already been created in #1081.

Thank you for all the help again!

[2021-12-30 18:25] #1080 closed

[2022-01-11 17:36] AEDesigns opened #1083 "Plugin "react" was conflicted"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [ ] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [ ] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [ ] I am using the latest version of Spec

[2022-02-10 17:12] carlos-kelly commented on #1082
Great suggestion. We will have this rolled into our `9.0.0` release.

[2022-02-22 18:33] carlos-kelly commented on #1082
Shipped in `v9.0.0`

[2022-02-22 18:33] #1082 closed

[2022-03-02 15:07] gpichot opened #1097 "Export Mode is broken"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spec

[2022-03-02 18:20] ryan-roemer commented on #1097
Thanks for the reproduction @gpichot ! I've confirmed the behavior with this stack trace:

[code]

I didn't dig into the rc-versions for v9, but https://raw.githack.com/FormidableLabs/spectacle/v8.5.0/examples/one-page.html?slideIndex=0&stepIndex=0&exportMode=true works fine.

[2022-03-02 18:27] ryan-roemer commented on #1097
[code]

[2022-03-03 17:11] fthebaud commented on #1053
I've noticed the same issue today, I was trying to display two blocks of code next to each other using FlexBox and CodePane.

[code]
I end up with two code blocks, each with a fixed width filling the entirety of the slide (horizontal overflow).
I tried using the width / maxWidth props on CodePane, to no avail.

I resorted to a CSS hack to fix the issue (the fixed width is on a \<pre\> element gene

[2022-03-03 19:35] #1097 closed

[2022-03-03 19:59] ryan-roemer commented on #1097
Fixed in `spectacle@9.0.1`

[2022-03-04 11:19] gpichot commented on #1097
Thanks @ryan-roemer ! I tested and it works now.

On the Export Mode "interactive stepper", I am still spotting some issues :

For instance on https://raw.githack.com/FormidableLabs/spectacle/main/examples/one-page.html?slideIndex=0&stepIndex=0&exportMode=true
- slide 3 is blank (custom background) ;
- slide 4 show an empty slide while there is 3 stepper elements
If you want I can open another iss

[2022-03-07 16:54] ryan-roemer commented on #1097
Hi @gpichot -- thanks for the feedback. Yeah, if you could open new, separate issues that would be great!

[2022-03-11 14:16] gpichot opened #1099 "[Export Mode] Animated elements not displayed on slide"
### Prerequisites

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spectacle

### Describe Your Environment

Can be seen on v8.5.0, main and v9.0.1 (slide

[2022-03-11 14:18] gpichot opened #1100 "[Export Mode] Slide with custom background is blank"
### Prerequisites

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spectacle

### Describe Your Environment

Can be seen on v8.5.0, main and v9.0.1 (slide

[2022-03-11 14:19] gpichot commented on #1097
Hi @ryan-roemer I opened two issues related to these issues (references above).

[2022-03-13 20:58] ryan-roemer commented on #1077
Confirmed with https://raw.githack.com/FormidableLabs/spectacle/main/examples/one-page.html?exportMode=true on FF 98.0 -- first page visible, blank pages in print dialog for everything else.

[2022-03-13 21:01] ryan-roemer commented on #1052
This repo (the core library for `spectacle` itself) has absolutely no knowledge whatsoever of MDX. It's completely agnostic.

The `spectacle-mdx-loader` is a webpack specific plugin, that transpiles MDX slides to something compatible with spectacle.

I'm guessing what you want here is to use `spectacle-mdx-loader` plugin as a model to write your own webpack (or bundler of your choice and usage!) p

[2022-03-21 07:44] nayakunin opened #1101 "How to import a react component to an MDX file"
### Question

How to import a react component to an MDX file?

### Background Info/Attempts
I am using spectacle-cli and I want to use images in my presentations. By default, images don't fit the viewport. To fix this I need to manually change image dimensions. I want to create a react component wrapper that will fit the images to the viewport.

[2022-03-21 07:55] #1101 closed

[2022-03-21 07:56] nayakunin commented on #1101
https://www.gatsbyjs.com/docs/mdx/importing-and-using-components/ this works

[2022-04-04 14:23] #1081 closed

[2022-04-04 14:30] carlos-kelly commented on #1078
@DanielBadura This should be resolved with export mode in 9.0.1

The URL is correct and the progress dot is active for the correct slide. Export mode is just a flat print out of all the slides, so navigation is not applicable for that mode.

<img width="1671" alt="Screen Shot 2022-04-04 at 9 29 28 AM" src="https://user-images.githubusercontent.com/1738349/161566215-cef4949f-1cfc-4d58-9ec1-25df9fc7

[2022-04-18 11:43] fturiot opened #1104 "how have same image background in all slides ?"
Hello ,
How we can have same image background in all slide ? (not delare slide by slide)

thanks all for response

[2022-04-18 15:42] fturiot commented on #1053
same problem impoqqible to rezise

[2022-04-19 14:43] carlos-kelly opened #1105 "Add animated PacMan Progress component"
### Description

[](https://github.com/FormidableLabs/spectacle/blob/v4.4.1/src/components/progress.js)Previous versions of Spectacle had a Pacman progress indicator instead of just progress dots. We should add a Pacman progress indicator component back to Spectacle.

### Proposal

The previous implementation can be seen

[https://github.com/FormidableLabs/spectacle/blob/v4.4.1/src/components/prog

[2022-04-19 14:44] carlos-kelly opened #1106 "Add unified template to presenter-mode deck"
### Description

Spectacle places the template on top of each slide individually. We should update it where the slide template overlays the deck but remains consistent when in presenter (default) mode.

This block renders the template for each slide currently:

[code]

### Proposal

Let’s investigate lifting it out so template entities aren’t re-rendered each time per slide. This will also keep th

[2022-04-19 17:10] #1100 closed

[2022-04-19 19:56] carlos-kelly commented on #1100
@gpichot Hopefully 9.0.3 fixes this, if not please let us know!

[2022-04-20 13:59] lenniezelk commented on #1104
Hello, I'd like to work on this

[2022-04-20 15:24] lenniezelk commented on #1104
Great! Do you mind pointing me where I can start looking?

[2022-04-20 22:15] fturiot commented on #1104
iA background image in deck not in slide only around slide

[2022-04-22 09:30] fturiot opened #1110 "Chapter in presenter mode"
is it possible in Presenter mode to have chapter ?
An possibility to declare page is first page off chapter ?

thanks

[2022-04-22 09:32] fturiot commented on #1110
objective is to go directly to first chapter page in one click
And in supplement who programitacly go to one specific page ?

thanks

[2022-04-22 14:08] fturiot opened #1111 "exportMode"
Hello,
How is it possible to have <Appear> <Component..>w/Appear> not in exportMode , how can i have this ?
thanks for all
regards

[2022-04-27 09:12] lenniezelk commented on #1105
Hello, I'd like to work on this

[2022-04-27 20:54] #1104 closed

[2022-04-28 14:17] carlos-kelly commented on #1105
@lenniezelk Feel free to take a go at it! Thanks!

[2022-05-01 14:20] Isola92 commented on #1053
+1

[2022-05-04 21:42] zubhav commented on #1105
@lenniezelk Are you still working on this one? 🙂

[2022-05-04 23:03] lenniezelk commented on #1105
Yes i am

Regards,

Lenny.

[2022-05-05 12:31] lenniezelk commented on #1105
@carlos-kelly @zubhav  i'm studying the shared link https://github.com/FormidableLabs/spectacle/blob/v4.4.1/src/components/progress.js and I'm struggling to understand `Pacman.Base` and `Pacman.Body`
Kindly help me understand what is going on.

[2022-05-15 13:43] DanielBadura commented on #1078
I'm right now not building slides to give feedback. But on the part with the exportMode: I think also there it could be nice to have the information of the Progress e.g. if the progess is like 1/29 slides.

[2022-05-22 21:51] frossi85 opened #1113 "Programmatic navigation and key events capturing"
Hi everyone,

I am building a proof of concept for a product that needs interactive presentations, for example, letting the user answer a question in one slide, and blocking the navigation until it gets answered. For this, I need to capture the keyboard events, see if the question was answered correctly and if that happened move to the next slide.

I did not find any way to do it in the docs, but

[2022-05-29 19:56] carlos-kelly opened #1115 "Add command bar for common Spectacle operations"
### Description

Add a command bar to Spectacle that can quickly let users perform the following commands:
- Enter/Exit Presentation Mode
- Enter/Exit Overview Mode
- Enter Export Mode (and preferably launch the browser dialog to export to PDF)
- Next Slide
- Previous Slide
- Restart Presentation
- Start/Restart Timer (if in Presenter mode)
- Pause Timer (if in Presenter mode)

### Proposal

Inves

[2022-05-29 19:58] carlos-kelly commented on #1099
@gpichot We believe 9.1.0 fixes this, if not please let us know!

[2022-05-29 19:58] #1099 closed

[2022-05-30 14:42] sauliuskerusauskas commented on #1105
@lenniezelk - I hope you don't mind if I start taking a look at this one? 🙂

I'm diving into a related improvement https://github.com/FormidableLabs/spectacle/issues/1106 that involves some refactoring and this component is going to be the perfect way for me to test my solution.

[2022-06-07 17:00] gksander commented on #1064
I think this is worth investigating. Even if we can't support full customization of the text, we should at least be respecting `prefers-color-scheme` so that text is always visible.

[2022-06-08 06:17] sneakers-the-rat commented on #1064
Can I ask what the limitation to just exposing the CSS through the styling system? I have just been sort of raw doggin it out here on a bunch of monkeypatched styles and if there's some fundamental limitation ii'd like to help patch it

[2022-06-08 13:27] gksander commented on #1064
@sneakers-the-rat What version of Spectacle are you experiencing this on? I just fired up a starter example, and I'm seeing white notes text:

![image](https://user-images.githubusercontent.com/12721310/172628247-dccd386e-f34a-4a5c-aa86-055a376a4b43.png)

Are you able to share your repo that you're experiencing this on so I can help take a peak?

[2022-06-08 13:54] gksander commented on #1064
Also, the `Notes` component right now just renders its children to a portal, so you can style the notes ad hoc, sort of like:

[code]

Are you suggesting we expose the styling tools that the rest of the Spectacle components use for use in notes?

[2022-06-08 15:48] gksander opened #1118 "Issues with Prism in Vite/ESBuild-powered projects"
### Describe the Problem

When attempting to use Spectacle in a Vite-powered React project, the presentation fails to run with the following error:

![image](https://user-images.githubusercontent.com/12721310/172660693-4cf4d0dd-e262-482b-98e7-37ab2db35a02.png)

It appears we're running into some issues with Prism/prism-react-renderer. We should investigate and resolve this issue so that Spectacle

[2022-06-10 14:04] #1077 closed

[2022-06-10 18:43] #979 closed

[2022-06-10 18:43] #1105 closed

[2022-06-10 22:17] sneakers-the-rat commented on #1064
It's almost certainly extremely old, was using a fork that is now 40 commits behind https://github.com/sneakers-the-rat/spectacle I'll be returning to work on it again and update it soon, but if you're seeing it work now then don't worry about it

I'm sort of wondering why not? Eg. for using MDX/MDXNote, i don't have access to the raw content to use it as HTML (from what I recall i couldn't use HT

[2022-06-15 16:52] jgoodall commented on #938
Through some trial and error I found you could set the backgroundColor by using the `tertiary` property in the `theme.js` file. For example, if your `theme.js` file looks like below, it sets the slide title to `DarkOrange`, the text to `SteelBlue`, and the background to `GhostWhite`:

[code]

[2022-06-24 17:57] gksander commented on #1045
Tracking via #1118

[2022-06-28 03:09] claudiuandrei opened #1130 "BroadcastChannel gets closed before being used"
https://github.com/FormidableLabs/spectacle/blob/00c337f62c22d0e8b1ffa1ec0ab45286fe760caa/src/hooks/use-broadcast-channel.ts#L25-L32

With React 18, in Strict Mode the effects are firing twice, which makes this code break as the channel is closed and then never opened again because the name is the same. Probably a better approach here would be to use a ref instead of state as it will also cause fe

[2022-06-30 11:19] AlbertBrand commented on #1118
Hi, I stumbled into this problem as well trying to put Spectacle in a Vite setup.
The issue is coming from `refractor`, not `highlight.js` itself. This actually is fixed in a newer version of `refractor` so it's relatively easy to fix. If you're managing packages with `npm` v8, add the following to your `package.json`:
[code]
then do a `npm install` and the problem should be gone.

[2022-06-30 14:54] gksander commented on #1118
So updating to a newer version of `react-syntax-highlighter` gets us to a sufficient version of `refractor` and seems to solve the issue. I'm noticing in a fresh Vite project, I have to update my vite config to look something like this:

[code]

otherwise I end up with an error like:

[code]

I'm not super familiar with Vite, but I'm wondering if there's a way for us to get Spectacle working with

[2022-06-30 18:32] #1130 closed

[2022-06-30 18:36] #1118 closed, assigned to gksander

[2022-06-30 19:17] gksander commented on #1130
This fix should be live in `9.2.1`.

[2022-06-30 19:17] gksander commented on #1118
This fix is now live in 9.2.1.

[2022-06-30 23:18] akhmadullin opened #1135 "Add export of props types"
### Description

Hi

I use `spectacle` in my presentation and I need to create some wrapper around `CodePane` component.
To be able to use the same interface in my wrapper I need to be able to import `CodePaneProps` type.

### Proposal

I suggest to add export of `CodePaneProps` type.

Also mb we can export props types of all components? It can be useful in some cases.

[2022-07-01 07:02] AlbertBrand commented on #1118
@gksander Thanks for the fix. I'm not seeing the new release on npm yet, does this take some time?

[2022-07-01 10:26] AlbertBrand opened #1137 "Warning in console when using CodePane"
What version of Spectacle are you using? (can be found by running `npm list spectacle`)
9.2.1

What version of React are you using? (can be found by running `npm list react`)
18.2.0

### Describe the Problem

Check the console when using a `CodePane`:

[code]

This is triggered by the upgrade of `react-syntax-highlighter`, they have dropped `lineNumberProps` in newer versions.
Interestingly it doe

[2022-07-01 11:10] gksander commented on #1118
@AlbertBrand Wild. I got the email from NPM saying 9.2.1 was published, but never saw it on the registry site and figured it might just have some delay. I'm just _now_ seeing it show up. Not sure why it took so long to show up 🤷

![image](https://user-images.githubusercontent.com/12721310/176883554-f0b19acf-636a-4c10-a295-0511c2ef1c97.png)

[2022-07-14 20:41] carlos-kelly opened #1146 "Create GitHub Actions for building outputs in CLI"
### Description

Add GitHub action support for building the CLI deck outputs in CI
- TypeScript deck
- One-Page deck
- JavaScript deck

[2022-07-18 05:41] Himanshu2561 commented on #1014
@ryan-roemer , I would also like to help !

[2022-07-19 17:50] mwritter commented on #1137
Looks like this was due to a regression in `react-syntax-highlighter`, and also looks like a fix was started but not finished.
https://github.com/react-syntax-highlighter/react-syntax-highlighter/issues/311

[2022-07-19 20:39] #1137 closed

[2022-07-20 17:28] ryan-roemer opened #1152 "One page: refactor to actual ESM"
## Background

Currently we use a UMD dist for Spectacle in a browser because EMS/`import` doesn't work with React and other CJS-only transitive dependencies.

## Idea

Use import maps / https://github.com/guybedford/es-module-shims to do _just_ the spectacle imports from `es` not `dist` and put in a global. Then access from later script in real JS. This allows us to minimize shimmed `script` tags

[2022-07-21 13:46] mwritter commented on #1115
Kbar has a couple of dependencies that don't support our current version of 'react' and 'react-dom'
<img width="930" alt="Screen Shot 2022-07-21 at 9 45 31 AM" src="https://user-images.githubusercontent.com/14057928/180229039-025320ab-b6a9-4895-bd19-2af9d72d00bb.png">

[2022-07-21 14:19] mwritter commented on #1115
@carlos-kelly @gksander - quick mvp:

https://user-images.githubusercontent.com/14057928/180236385-b6e108e1-2c9f-47a4-a097-748ca0843701.mov

The 'command bar' works as expected, keyboard shortcuts also trigger the appropriate 'actions'.

[2022-07-26 17:56] ryan-roemer opened #1156 "PNPM: `pnpm install --fix-lockfile` broken"
Trying to just run the following breaks:

[code]

I've tried various package version changes for `webpack` and `webpack-cli` and nothing seems to work.

But, since `pnpm install` still works and updates `pnpm-lock.yaml`, we'll use that as a bandaid for our release workflow for now.

[2022-07-28 20:55] #1115 closed

[2022-07-28 21:27] ryan-roemer opened #1164 "Infra: Bring `spectacle-mdx-loader` in to the monorepo"
- [ ] Add `packages/spectacle-mdx-loader`
- [ ] Add `examples/mdx` that uses the loader
- [ ] Remove old repository
- [ ] Verify we can correctly publish.

[2022-07-28 23:16] ryan-roemer opened #1165 "Bug: Spectacle-cli is missing built "bin", ships "src""
`spectacle` CLI is missing the built files and publishing `src`.

See, e.g. https://unpkg.com/browse/spectacle-cli@2.0.0-alpha.1/

[2022-07-29 16:02] gksander commented on #1165
Addressed via #1166, not yet published.

[2022-07-31 04:20] sneakers-the-rat opened #1170 "[docs] Markdown needs to be escaped in jsx"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spec

[2022-08-01 00:59] sneakers-the-rat commented on #1113
+1 for needing to document the hooks, they're probably the coolest part of this library but documented nowhere, as far as I can tell.

For this I'm pretty sure you'd use `useDeckState` https://github.com/FormidableLabs/spectacle/blob/8dac6a30fac55e4c65fe23288ee80964b4e536f6/packages/spectacle/src/hooks/use-deck-state.ts#L100

[2022-08-01 00:59] sneakers-the-rat opened #1171 "URLs for slide broken, slideshow always starts at 0 on load/refresh."
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

Fresh clone & install of https://github.com/FormidableLabs/spectacle/commit/8dac6a30fac55e4c65fe23288ee80964b4e536f6

(by the way this is broken too. had to manually install pnpm)

[code]

What browser are you using?
Tested on Firefox and Chrome

What machine are you on?
macOS an

[2022-08-01 15:18] gksander opened #1172 "`create-spectacle`: Publishing setup"
## What?

We want to ship a `create-spectacle` package so that we can have users run `yarn create spectacle` to quickly scaffold out a new project. [See here](https://github.com/FormidableLabs/spectacle/wiki/Spectacle-Roadmap#create-spectacle).

With #1169 in place, we should have a solid foundation to release 0.0.1 of `create-spectacle` – but we need to ensure we've got all of the necessary `chan

[2022-08-01 15:20] gksander opened #1173 "`create-spectacle`: Interactive prompts"
## What?

Our initial implementation of the `create-spectacle` CLI tool uses flags to pass in options. This works great, but we'd like to also offer an interactive console-prompt experience. [See here](https://github.com/FormidableLabs/spectacle/wiki/Spectacle-Roadmap#create-spectacle) for more details.

The goal of this issue is to implement an interactive console prompt setup for `create-spectac

[2022-08-01 15:25] gksander opened #1174 "`spectacle-cli`: Initial migration to spectacle monorepo"
## What?

We'd like to move [`spectacle-cli`](https://github.com/FormidableLabs/spectacle-cli) into the spectacle monorepo. [See here](https://github.com/FormidableLabs/spectacle/wiki/Spectacle-Roadmap#spectacle-cli).

This will be a multi-step process. The goal of this ticket is to initialize a package in the spectacle monorepo for `spectacle-cli` and migrate the existing `spectacle-cli` into the

[2022-08-01 15:26] gksander opened #1175 "`spectacle-cli`: Ensure publishing works as expected"
## What?

Once `spectacle-cli` is migrated into the monorepo, we should ensure we have the necessary changeset resources in place to publish `spectacle-cli` from the monorepo.

[2022-08-01 15:29] gksander opened #1176 "`spectacle-cli`: Drop support for boilerplate creation"
## What?

With the creation of `create-spectacle`, the CLI no longer needs to support boilerplate generation. Once `create-spectacle` is live and documented, we should drop the boilerplate-generation functionality from `spectacle-cli` to keep that package focused solely on running decks from MD(X) files.

[2022-08-01 15:34] gksander opened #1177 "`create-spectacle`: Force flag"
## What?

The `create-spectacle` project generates new Spectacle projects. Right now, you provide a project name and the output directory is derived from that. However, right now – if there's an existing directory with the same name, the CLI will `rm` that directory. We should not do this by default, but instead require a `--force` flag for overwriting files.

[2022-08-01 15:39] gksander opened #1178 "`spectacle-mdx-loader`: Migration to monorepo"
## What?

With the migration to the spectacle monorepo, we need to also migrate the [`spectacle-mdx-loader`](https://github.com/FormidableLabs/spectacle-mdx-loader) to the monorepo. [See here](https://github.com/FormidableLabs/spectacle/wiki/Spectacle-Roadmap#spectacle-mdx-loader).

For this issue, we should create a `mdx-loader` package in the monorepo and migrate the code from the existing repos

[2022-08-01 15:41] gksander opened #1179 "`spectacle-mdx-loader`: Publishing setup"
## What?

With `spectacle-mdx-loader` migrated into the monorepo ([see here](https://github.com/FormidableLabs/spectacle/wiki/Spectacle-Roadmap#spectacle-mdx-loader)), we should ensure that publishing from `changesets` works as intended.

[2022-08-02 07:49] akloster opened #1181 "Is there an easy way to theme Preformatted/CodePane in Markdown?"
### Question
In my custom theme the font sizes in MarkDown generated Slides for preformatted Text are a lot smaller than other font sizes, because I had enlarged the latter.

### Background Info/Attempts

From reading the documentation, doing some experimenting and reading the code, I did not find an easy way to change the fontSize in the MarkDown preformatted elements.

[2022-08-02 12:12] #1014 closed

[2022-08-09 14:10] #1171 closed

[2022-08-09 14:11] AaronPowell96 commented on #1171
@sneakers-the-rat Hopefully this fix allows you to link to specific slides again! Please reach out if you have further issues.

[2022-08-09 18:04] ryan-roemer commented on #1146
Implemented in https://github.com/FormidableLabs/spectacle/pull/1185

[2022-08-09 18:04] #1146 closed

[2022-08-11 17:32] gksander opened #1196 "`create-spectacle`: Generate READMEs for projects"
We should be generating basic `README.md` files when generator `create-spectacle` projects. This can be as basic as:

- Command to run to start dev server.
- Description of any other commands we might make available.
- What each of the main files in the template do.

[2022-08-12 13:59] #1172 closed

[2022-08-12 13:59] gksander commented on #1173
Closed via #1195

[2022-08-12 13:59] #1173 closed

[2022-08-12 13:59] gksander commented on #1177
Closed via #1195

[2022-08-12 13:59] #1177 closed

[2022-08-12 14:05] gksander opened #1198 "`create-spectacle`: MDX boilerplate"
Add support for MDX boilerplate via `create-spectacle`, and add it as an option to our CLI prompts/flags.

[2022-08-12 15:47] gksander opened #1199 "`create-spectacle`: Overwriting for onepage vs t/jsx."
A `onepage` project ends up in a file `foobar.html`, whereas the `jsx/tsx` project ends up in `foobar/`.

If user provides a project name `foobar` and `foobar/` directory already exists, we prompt them regarding overwriting the directory. However, if the `foobar/` directory already exists, but the user selects a `onepage` project, then we don't necessarily need to overwrite anything.

We should ma

[2022-08-12 19:33] ryan-roemer opened #1201 "`website`: Typechecking doesn't work."
Reproduction

[code]

[2022-08-12 19:59] ryan-roemer opened #1203 "`website`: Add quality checks."
We need to add all the following to `website/package.json` wireit tasks:

- [x] `lint`
- [x] `lint:fix`
- [x] `prettier`
- [x] `prettier:fix`
- [ ] `types:check` (Note -- this is blocked by #1201 )

Then:

- [ ] Integrate all those checks in root aggregate tasks in `package.json`
- [ ] Remove `paths-ignore` in main CI workflow so we do all docs code checking there
- However, let's keep the `build`

[2022-08-15 16:28] gksander commented on #1196
Closed via #1200

[2022-08-15 16:28] #1196 closed

[2022-08-18 12:16] paulmarsicloud commented on #1203
I'll take a pass at this in https://github.com/FormidableLabs/spectacle/tree/chore/website-quality-checks 👍

[2022-08-19 14:53] gksander commented on #1199
Closed via #1205

[2022-08-19 14:53] #1199 closed

[2022-08-20 01:18] paulmarsicloud commented on #1203
I'm running into some odd issues with this one. Running `pnpm prettier:pkgs` from the top-level folder shows this:
[code]

What is strange is that when I `prettier` from the `website` folder via `npx`, this works properly without error:
[code]

I'm missing _something_ in the `packages-scripts.js`, I'm just not sure what

[2022-08-20 17:41] ryan-roemer commented on #1203
What’s the exit code of that prettier command you just executed? If list different is giving you file results I think that means that that’s a failure?

[2022-08-20 17:46] ryan-roemer commented on #1203
And does “prettier:fix” actually change the 3 files in question and then cause “prettier” task to succeed?

[2022-08-22 21:54] ryan-roemer opened #1211 "`spectacle`: Full width / "fit" text feature."
Spectacle used to have a `fit` prop on many components that would fill the entire width of the slide -- either as single or multiple words. Here's a presentation where I used it variously:

- Source: https://github.com/ryan-roemer/surge2015/blob/master/presentation/deck.jsx
- Rendered: http://surge2015.formidablelabs.com/#/
- PDF: https://www.slideshare.net/RyanRoemer/wrangling-large-scale-fronten

[2022-08-23 00:00] paulmarsicloud commented on #1203
Wow, I can't believe I didn't think to try that 🤦

` pnpm prettier:pkgs:fix` gave the same error, but completed. So I ran `pnpm prettier:pkg` and it worked properly!

Will continue on!

[2022-08-23 00:04] ryan-roemer commented on #1203
That sounds right. What I think is happening is that the fix task actually runs the check first, to take advantage of caching, and then if it fails runs the actual fixing task. So there is an intermediate failure if the fix task actually mutates files. And that’s all as expected

[2022-08-23 00:43] paulmarsicloud commented on #1203
alrighty, so now I'm getting this error for `types:check` even on the `main` branch:

[code]

Once this is resolved, I think I should be good to PR for the `lint` and `prettier` changes 👍

[2022-08-25 00:36] paulmarsicloud commented on #1203
some interesting things happening with the `types:check` changes.

When `pnpm install` is run, it installs a different number of `node_modules` packages in `website` (I'm sure this is by design):
[code]

When trying to run `npx tsc --noEmit` these errors show:
[code]

When `yarn` is run directly in the `website` folder, a much higher number of `node_modules` packages are installed:
[code]

Then, w

[2022-08-25 01:05] ryan-roemer commented on #1203
@paulmarsicloud I’m happy to pair up tomorrow in this if you want fresh eyes.

I would expect yarn and pnpm to be very different for installed modules because of how they work. But pnpm is more strict for things like phantom dependencies so may be that too

[2022-08-25 01:33] paulmarsicloud commented on #1203
thanks @ryan-roemer ! Yeah I'm trying with https://pnpm.io/npmrc#node-linker `node-linker: hoisted` which does make `npx tsc --noEmit` work, but then `pnpm run test` fails with `Cannot find module 'react-dom/client' from '../../node_modules/@testing-library/react/dist/pure.js'` so yeah might need another set of eyes to run through this 😄

[2022-08-25 01:58] paulmarsicloud commented on #1203
@ryan-roemer got it; need to set [this](https://pnpm.io/npmrc#shamefully-hoist) to `true` in order to work for docs website 🙌
PR ready: https://github.com/FormidableLabs/spectacle/pull/1216

[2022-08-25 01:59] paulmarsicloud commented on #1201
I think we're good to close this once https://github.com/FormidableLabs/spectacle/pull/1216 is merged right?

[2022-08-26 02:17] paulmarsicloud commented on #1164
Got a branch in progress for this: https://github.com/FormidableLabs/spectacle/tree/chore/spectacle-mdx-loader-addition 👍

[2022-09-06 14:47] #1203 closed

[2022-09-15 18:51] fritz-c commented on #1165
@gksander Is this published now?

[2022-09-15 19:21] gksander commented on #1165
Ahh yep, should be good on this front. We should be able to close this.

[2022-09-15 19:21] #1165 closed

[2022-09-15 19:49] fritz-c commented on #1051
It's not documented right now for whatever reason, but you can pass `backdropStyle` to the `Deck` component and change the color there.

Demo: https://codesandbox.io/s/custom-backdrop-style-spectacle-lfcrrf

If you're using TypeScript, which also apparently doesn't have that prop in the types, a hack that will work for now is to plug it into the props like so:
[code]

[2022-09-15 20:05] fritz-c commented on #1050
There is a CSS property, [`overflow-wrap`](https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap) that is relevant to your issue. Words that are too long will not be broken by default. You can set it to `break-word` to get the behavior you describe.

Demo: https://codesandbox.io/s/long-text-wrapping-spectacle-okpjbj

[2022-09-15 20:05] #1050 closed

[2022-09-15 20:42] fritz-c commented on #1111
I'm assuming your question was how to show the children of `Appear` elements when exportMode is active. I suppose this should be the default behavior anyway, but in the meantime, here's a way to work around it:
https://codesandbox.io/s/show-appear-children-in-exportmode-spectacle-fc0uck

[2022-09-15 20:44] fritz-c commented on #1051
Adding the Feature Request label because this should be a documented feature, supported by types as well.

[2022-09-15 20:51] fritz-c commented on #1135
Thank you for making the issue and the PR. There is a solution that is a bit simpler in the short run to retrieve the props:
[code]
Demo: https://codesandbox.io/s/codepane-props-spectacle-l168mg

Your PR looks straightforward enough, but I'm not sure what this repo's thought process is on what gets exported and what doesn't, so I probably won't be making a judgement call on that soon.

[2022-09-16 02:41] paulmarsicloud commented on #1164
Revisited this branch today and I'm a little stuck. On a fresh `pnpm install` and `pnpm start:mdx`, http://localhost:3300/ blank screens with a `external var "React":1 Uncaught ReferenceError: React is not defined`

When I exit and re-run `pnpm start:mdx`, I get many `Module not found: Error: Can't resolve 'react/jsx-runtime'` errors even though the module is safely there.

Will continue to chip a

[2022-09-16 16:40] fritz-c commented on #1046
I noticed that with older versions, but it appears to be fixed in v9.5.1, at least.
https://codesandbox.io/s/simple-spectacle-example-lq1tbm

[2022-09-16 16:40] #1046 closed

[2022-09-18 23:14] akhmadullin commented on #1135
`spectacle` already exports Props types of some components

![Снимок экрана 2022-09-19 в 09 10 52](https://user-images.githubusercontent.com/37641303/190932226-a4a83512-26eb-4063-b441-3434791cb13d.png)

Why not to add exports of other types?

It's more convenient for lib users, than to write every time `React.ComponentPropsWithoutRef<typeof Component>`

[2022-09-19 15:00] fritz-c commented on #1178
Duplicate of #1164

[2022-09-19 15:02] #1178 closed

[2022-09-19 15:03] ryan-roemer commented on #755
Yep, if we have a separate ticket for MDX!

[2022-09-19 15:20] #755 closed

[2022-09-19 18:10] zweizwei opened #1224 "autoPlayLoop doesn't work"
### Prerequisites

- [x] I have searched the open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] I have read through the [docs](https://www.formidable.com/open-source/spectacle/docs) before asking a question
- [x] I am using the latest version of Spectacle

### Describe Your Environment

**What version of Spectacle are you usin

[2022-09-19 18:25] fritz-c commented on #1224
Thank you for the issue report.

I have confirmed this in some recent work of mine as well. There is a straightforward issue with stale references to a variable (`navigation.isFinalSlide` in [this code](https://github.com/FormidableLabs/spectacle/blob/4e4540646648f526d5a668257296ebf6802aa4e8/packages/spectacle/src/utils/use-auto-play.ts#L20)) that, if resolved, will fix the main issue.

There is o

[2022-09-20 14:59] Manubi opened #1229 "useSteps and animations"
Hi,
I am looking for the best way to do an animation.
I want to have two columns. Left are 4 bullet points on the right is one image.
![CleanShot 2022-09-20 at 16 55 15](https://user-images.githubusercontent.com/20935138/191292181-c0c80e9d-2dc1-434d-b5dd-a8f3033b1739.png)
With the next step, (which I here need to trigger manually for the framer motion rectangle `bg-red-200` animation) the rectangl

[2022-09-20 16:28] fritz-c commented on #1229
Here's an example that might give you some ideas of how to start. I'm not familiar with the animation library you are using, but I think there should be a way to work it into this setup.
https://codesandbox.io/s/synchronized-animations-example-spectacle-0ri8iv

[2022-09-20 16:31] fritz-c commented on #1229
The key part is wrapping the entire contents of the slide in the `<Stepper>` component so you can synchronize the appearance of the image and the bullet point. I had to put the first value as the fallback value for when the stepper value was `undefined` so it would have the behavior of showing the first bullet point+image from the start.

[2022-09-20 18:16] fritz-c commented on #973
Sorry, going to close this as the current API is different enough from the example given here that I can't really tell what is being attempted. Please create a new issue or comment here with an attempt with the current version so we can better figure this out.

[2022-09-20 18:16] #973 closed

[2022-09-20 18:17] #929 closed

[2022-09-20 18:20] #928 closed

[2022-09-20 18:29] fritz-c commented on #918
Confirmed as fixed. Demo here: https://codesandbox.io/s/spectacle-code-scroll-problem-forked-ldms7y?file=/src/index.js

[2022-09-20 18:29] #918 closed

[2022-09-20 18:34] fritz-c commented on #897
Confirmed this is still kind of a bug in the latest version, except it prints the same page number on every exported page:
https://codesandbox.io/s/template-behavior-in-exportmode-spectacle-30w3ly

[2022-09-20 19:04] fritz-c commented on #1063
I attempted to do this but had no success. It appears the `CodePane` prop `highlightRanges` does not handle being changed post-render.
https://codesandbox.io/s/synchronized-animations-example-codepane-spectacle-b0jwzy?file=/src/index.js

I think the API of `CodePane` could use an update to make this possible.

Also, maybe at some point we can figure out a friendlier way to handle multiple actions

[2022-09-20 19:55] fritz-c commented on #1053
There is a workaround using CSS you could rely on for the time being:
https://codesandbox.io/s/codepane-layout-options-workaround-spectacle-ry8cq5?file=/src/index.js:1673-1797

Looking at the `CodePane` source in the library, it appears there is no existing way to style it with just props. That would be a good feature to add.

[2022-09-21 08:37] Manubi opened #1230 "sideview"
Hi,

I would like to see a sideview navigation like in PDFs that makes navigating between the different slides easier and faster.
Ideally, also drag and drop for easier ordering.

![CleanShot 2022-09-21 at 10 33 03](https://user-images.githubusercontent.com/20935138/191457059-1c5c0d31-4a23-4687-8e6e-e30ca938cbd5.png)

[2022-09-21 13:23] Manubi commented on #1229
Another question. What is the `priority` prop for in the `<Appear>` component? It doesn't allow to let two items appear at the same time in the dom. Which I thought it would. meaning `<Appear priority={1} />` and `<Appear priority={1}` should appear at the same time in the dom...

[2022-09-21 14:08] fritz-c commented on #1229
From the time I've spent with it, the `priority` prop just seems to rearrange the order of the appearance relative to its current order. There is no way to make two overlap without them depending on the same step via the workaround I showed. `useSteps` is helpful in that case because you don't have to wrap everything in a `Stepper` to  get it done.

As for `useSteps` being useful for animations, I

[2022-09-21 14:12] Manubi commented on #1229
thanks @fritz-c,
atm the useSteps hook doesn't work as it is not exported by the main package but I think the hook would help a lot as I would get access to the `step` value and could use that to trigger whatever animation I want to.

[2022-09-21 14:22] #1003 closed

[2022-09-21 14:49] #951 closed

[2022-09-21 21:07] ryan-roemer opened #1232 "spectacle-mdx-loader: MDX component map lacks a lot of things that Markdown supports"
We have a discrepancy in code blocks in MD vs. MDX and likely other Spectacle core component support.

## Example

For our MD example with `pnpm start:md` for the code page we have:

![Screen Shot 2022-09-21 at 1 50 03 PM](https://user-images.githubusercontent.com/445557/191608036-7619273d-bba6-4b42-83e5-8f8132c317b7.png)

For our MDX example with `pnpm start:mdx` for the code page with exact same

[2022-09-22 08:39] Manubi opened #1233 "useSteps error"
### Describe Your Environment

**What version of Spectacle are you using?
latest 9.6.0

**What version of React are you using?** (can be found by running `npm list --depth 0 react`)
latest 18.2.0
**What browser are you using?** (e.g., Chrome 105.0.5195.102, Safari 16.0)
Chrome latest
**What platform are you on?** (e.g., Windows, macOS, iOS, Android)
macOS latest
### Describe the Problem
As soon as

[2022-09-22 14:37] #1051 closed

[2022-09-22 15:01] fritz-c commented on #1233
`useSteps` needs to be used from inside a component that is nested somewhere under a `Slide` component. I suppose we could provide a better warning message for this case, and perhaps document it a bit better in the documentation.

Demo of how to use it:
https://codesandbox.io/s/usesteps-demo-spectacle-gtfjxl?file=/src/index.js

[2022-09-22 15:45] ryan-roemer opened #1235 "spectacle-mdx-loader: Unit tests"
We have an example MDX deck, which does exercise `spectacle-mdx-loader`, but no actual unit tests.

Task:

- [ ] Add unit tests
- [ ] Especially regexes like `NOTES_MARKER`

[2022-09-22 15:59] ryan-roemer opened #1236 "Licenses: Include in individual packages or just at repository root?"
So, we have `spectacle-mdx-loader` with a `LICENSE.txt` in the package which also gets published to `npm`. By contrast, `create-spectacle` and `spectacle` don't. Victory doesn't have per-package licenses. Our new tracing repository does.

Tasks:

- [ ] Figure out what we should do
- [ ] Standardize the packages across the projects.

[2022-09-29 08:09] Manubi opened #1238 "bug in export mode"
hi,
the `?exportMode=true` is not triggering the `<Appear>` and `<Stepper>` components. Meaning only the things that are on stepIndex=0 (eg. `http://localhost:3000/?slideIndex=1&stepIndex=0`) are shown, but all the other steps (0+n) are missing in the view.

Example:
This version of `http://localhost:3000/?exportMode=true`
<img width="1289" alt="CleanShot 2022-09-29 at 10 08 36@2x" src="https://us

[2022-09-29 14:33] fritz-c commented on #1238
Duplicate of #1111

Here's a temporary workaround:
https://codesandbox.io/s/show-appear-children-in-exportmode-spectacle-fc0uck

[2022-09-30 20:54] #1233 closed

[2022-10-04 06:20] darwin403 opened #1244 "Does it support custom React.js components like including Charts, Plots etc. using Chart.js?"
To make the presentations more appealing I wish to include some infographics that are not natively provided by Spectale. How does one go about including charts or any other custom react.js component?

[2022-10-05 13:29] drewpotter opened #1245 "Question: Accessing skipTo method"
### Question

I would like to ask about accessing this skipTo method:
[code]

I am hoping to programmatically skipTo slides and also steps within a slide if possible, within a functional React JavaScript component I am using which contains spectacle as a sub-component.

### Background Info/Attempts

I have tried modifying the spectacle code to allow me to do this, but I wanted to find the most ele

[2022-10-12 11:47] drewpotter commented on #1245
I have solved my issue simply by using the `BroadcastChannel` mechanism. For example, to jump to particular slide fragments at random every 2.5 seconds, I have done this:

[code]

[2022-10-12 11:47] #1245 closed