[2017-11-20 04:23] gopalakrishnan-subramani opened #429 "Markdown Table seems to be broken"
Markdown table seems to be broken, can you help me what is going wrong in this format? I don't see it is working correctly, Attached image, how it appears on my screen.

[code]

<img width="714" alt="screen shot 2017-11-20 at 9 48 36 am" src="https://user-images.githubusercontent.com/354710/33002117-0b4ba02e-cdd8-11e7-80fd-e16eadf21403.png">

[2017-11-21 00:29] marcysutton commented on #413
It also needs discernible text, like the previous and next buttons. Something like `aria-label="Fullscreen"`

[2017-11-21 05:50] nwaywood opened #430 "Appear breaks when slide has an id"
For example, the following works:

[code]

but the following doesn't:

[code]

[2017-11-21 06:41] himynameisdave opened #431 "Issues using <Appear> + emotion/styled components"
Hi. I have trying to get `<Appear>` to work for the past few days, and am consistently running into problems. I've tried tweaking my code a bunch, but nothing works, so I thought I would post some examples of what I mean.

I think it has something to do with elements that are `styled` with [`emotion`](https://github.com/emotion-js/emotion) being children of `<Appear />`, but I am not 100% sure. I

[2017-11-21 13:12] mAAdhaTTah commented on #431
This is the issue. See #340.

[2017-11-21 22:23] #422 closed

[2017-11-24 08:11] oxydum opened #433 "Autoplay with slide-duration"
<Deck controls={false} autoplay={true} autoplayDuration={4000} progress="none" >
        <Slide duration={1200}>
          <Text>Hello</Text>
        </Slide>
        <Slide duration={2300}>
          <Text>World!</Text>
        </Slide>
      </Deck>

thx

[2017-11-25 01:48] marcysutton opened #434 "Ability to add body class with data-state"
Some background image techniques are just easier when you can apply them to the body, like image border backgrounds. I can apply a bottom border with `background-position: center bottom; background-size: contain;` if it's on the body, otherwise I have to calculate the height of a slide element element and position it with pixels; either super error prone, or unnecessarily complex scripting when I

[2017-11-27 06:15] nwaywood opened #435 "Outdated documentation for CodePane"
The documentation says:

[code]

but there is no `link` tag in the `index.html` that imports prism (I'm using the spectacle-boilerplate).

To try and change the prism theme I have tried:

- Adding a CSS import into `index.html`, this has no effect
- Using `emotion`s `injectGlobal` method to inject my desired prism theme, this clashes with other global css which is imported somewhere by spectacle (

[2017-11-27 11:18] philpl commented on #435
Hm, adding a prism theme css file should still work. Can you post a small snippet of your index.html and maybe a screenshot of the codepane’s styles in the devtools please?

[2017-11-27 23:24] nwaywood commented on #435
Ok I did a bit more debugging and I think the issue is that the webpack config in the spectacle-boilerplate is not handling the css file properly.

My `index.html`:

[code]

Webpack css loader config:

[code]

But the css doesn't seem to be being served:

![image](https://user-images.githubusercontent.com/3773641/33294770-3be26fb6-d426-11e7-8387-ab51fd5739a7.png)

So many the issue is with the boi

[2017-11-27 23:44] mAAdhaTTah commented on #435
You're pointing `prism-atom-dark.css` to a path on disk that doesn't exist. `webpack-dev-server` falls back to the `index.html` file on a 404, so that's what you're seeing. You may not have the css file in the correct location.

[2017-11-27 23:48] philpl commented on #435
That looks like the solution here :)

I’ll close this issue for now, but feel free to comment and ask more questions if you need more help :)

[2017-11-27 23:48] #435 closed

[2017-11-28 00:00] nwaywood commented on #435
Here is the path I am using from `index.html`:

`<link href="./prism-atom-dark.css" rel="stylesheet">`

and `prism-atom-dark.css` is in the same directory as the `index.html` file:

![image](https://user-images.githubusercontent.com/3773641/33295677-221a6fe8-d42b-11e7-80a2-2533087d7c47.png)

I am fairly sure that is correct right? Thats why it lead me to think that there must be something wrong wi

[2017-11-28 00:07] nwaywood commented on #435
oh and my webpack config is unchanged from the boilerplate https://github.com/FormidableLabs/spectacle-boilerplate/blob/master/webpack.config.js

[2017-11-28 00:21] nwaywood commented on #435
@philpl Just a suggestion, but it also might be less confusing if the boilerplate included the default prism theme within the `index.html`. That would make it very easy to "swap" the prism themes as the documentation suggests.

Atm I can't even figure out where the default prism theme is being added from in the template

[2017-11-28 00:46] mAAdhaTTah commented on #435
`webpack-dev-server` is serving the file out of the `dist` folder, so it needs to be in there. You can use the [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin) to do this.

[2017-11-28 13:06] ivorpad opened #436 "How do I run Presentation Mode?"
Unfortunately the instructions aren't clear enough and the presentation doesn't sync.

What I'm doing:

1. Open two browser windows in two different screens (MacBook Pro and Dell P2715Q through mDP)
2. Visit http://localhost:3000 then add `?presenter` immediately after `/#/`
3. Open http://localhost:3000 in the second browser window (also known as the presentation screen).

I expect both presentat

[2017-12-04 09:06] sw-yx opened #437 "[Feature Request]: custom ListItem enumerators"
Hello! I wanted to have custom bullets on my listitems, eg having an X or a ✅. so ideally it would look something like this

[code]

[2017-12-04 09:07] sw-yx commented on #436
are you running this in a server? it depends on socket.io to sync the two things.

[2017-12-04 13:51] ivorpad commented on #436
@sw-yx Yes, I'm running on a server and also tried with `ngrok`

[2017-12-05 15:33] TomiS commented on #436
I think there might be some things broken because I'm getting this error
[code]
on viewer tab console when I click right arrow on presenter tab.

[2017-12-05 23:02] sw-yx commented on #436
hmm you're right. i thought it worked when i tried it out.  now it no longer works.

[2017-12-08 00:46] kyleshevlin commented on #435
I think there's another problem with this, in that the styles built into Spectacle come after styles imported in a stylesheet. I have used the ExtractTextPlugin to import my custom Prism styles into a stylesheet, but Emotion declares all their styles below my stylesheet, and thus are the styles used by the app. I can't affect the order of these.

That being said, it's not as simple as the docs sug

[2017-12-08 10:58] aravindhsampath opened #439 "[Feature request] How to add spectacle-code-slide in one-page mode?"
First, Spectacle is excellent! Thanks!

I'm a Javascript illiterate who stumbled on this project and would love to make use of it for a presentation I'm giving soon. I'm using the one-page mode as described [here](https://github.com/FormidableLabs/spectacle#one-page) to get my presentation done.

Any way I could use [spectacle-code-slide](https://github.com/NicholasGWK/spectacle-code-slide) in thi

[2017-12-08 14:07] ryan-roemer commented on #439
`spectacle-code-slide` needs to produce a UMD build that you can then `<script` tag include into a one-page deck. Suggest opening an upsteam issue / PR at https://github.com/thejameskyle/spectacle-code-slide/pulls

[2017-12-08 14:07] #439 closed

[2017-12-18 02:10] Fandekasp opened #440 "Documentation request"
Could you update the README with the advantages of using spectacle over more popular frameworks like Reveal.js and Impress.js ?

[2017-12-19 05:37] hyunwoona commented on #413
It also needs a keyboard shortcut

[2017-12-19 05:38] TigerWolf commented on #436
I fixed this issue by updating to `4.0.4`

[2017-12-19 08:40] hyunwoona opened #441 "How to embed the presentation?"
I am trying to embed the presentation in a `div` that does not take up the whole browser viewport.

I tried to set the width and the height of the `Deck` like so

[code]

but it fails.

How can I do this?

[2017-12-25 12:51] hellais opened #443 "When autoplay is true looping does not work"
I see there is code that is meant to make the slides loop back from the beginning, however it doesn't actually work as expected.

When it reaches the last slide it ends up just alternating between the first and the last slide.

I suspect this has something to do with the fact that the `lastSlideIndex` state is not updated properly when we are looping and instead behaves in the same way when you se

[2017-12-26 05:40] amitnkukanur opened #444 "Load one json over other"
Hi,

Am trying to load one json over other, its like embossing one model over other.
The below is my code. The problem am getting is its adding a new json to other area, not on same area.

` var mySpectacles;
            $('#btnLoadJson').on('click', function() {
                $.getJSON("json1.json", function(data) {
                    alert('a');
                    mySpectacles = new SPECTACL

[2017-12-26 17:43] philpl commented on #444
I'm a little confused :wink: I think you've got the wrong "spectacle" project here. Please be more careful next time.

Either way, this is likely a question that belongs on StackOverflow, and not into GitHub **issues**.

[2017-12-26 17:43] #444 closed

[2017-12-26 17:46] ryan-roemer commented on #444
Ah, yeah -- looks like this project https://github.com/tt-acm/Spectacles.WebViewer

[2017-12-27 10:20] amitnkukanur commented on #444
@philpl - Sure i will be carefull regarding same..
@ryan-roemer -  Thanks for guiding me to right plac

Thanks for Info Gentlemen.

Cheers,
Amit

[2017-12-29 12:59] aravindballa commented on #441
I too tried this once. Couldn't make it work. Probably height and width of `html, body` are set to 100%.

My workaround was to embed this in an `iframe`.

[2017-12-29 13:53] aravindballa opened #445 "[FR] Add bgLighten config/prop"
Add a prop to enable `bgLighten` like `bgDarken` for `bgImage`.

[2017-12-29 23:35] philpl commented on #441
The exported `Deck` component renders three other components and passes most props on to the `Manager`. But unfortunately currently the `StyledDeck` there doesn't accept additional `className`s: https://github.com/FormidableLabs/spectacle/blob/master/src/components/manager.js#L39-L50

However, since it utilises `position: absolute` you should be able to just wrap the entire `Deck` component in a `

[2018-01-04 21:25] marcysutton opened #447 "Security issue in marksy -> marked"
I was notified by Github that a repo I made using Spectacle has a moderate security vulnerability coming from the `marked` package, a dependency of `marksy`.

I opened an issue against marksy, since they need to do the update: https://github.com/storybooks/marksy/issues/52

[2018-01-04 22:25] jbovenschen commented on #447
This is resolved now, the marksy package is updated to the latest release of marked, which includes fixes for both vulnerabilities.

[2018-01-04 22:52] marcysutton commented on #447
Nice, that was quick!

[2018-01-08 01:57] marcysutton commented on #447
When will this be released?

[2018-01-09 16:09] kenwheeler commented on #447
Today

[2018-01-09 18:31] kenwheeler commented on #447
Fixed in 4.0.5

[2018-01-09 18:31] #447 closed

[2018-01-09 19:23] Phoenixmatrix opened #450 "Confusion around hasSlideChildren doc"
I've been fighting with this for a bit, and even debugging through the code, I'm a little confused as to how hasSlideChildren is supposed to work.

It looks from the code, as well as the doc, that if an element has hasSlideChildren set, it will look at that element's children. That works well enough if I do something like (though it kinds of defeat the purpose):

[code]

But if I make a `MySlides`

[2018-01-09 19:54] Phoenixmatrix commented on #450
ok, if I have a module that exports (notice this is not a component, just a bunch of JSX):

[code]

and then I consume this, eg:

[code]

That works. But somehow I expect that's not the intended usage.

[2018-01-09 21:52] mAAdhaTTah commented on #450
I had a similar problem (see #340). While that one was closed, the issue wasn't fully resolved, although the workaround you present is basically what I'm doing today.

[2018-01-14 20:33] marcysutton commented on #19
I am also looking for full-screen video just like images, FWIW

[2018-01-15 10:37] baptooo commented on #450
Hello, same issue here, it works with `<SlideSet />` component but not with `hashasSlideChildren`, does the doc needs to be updated ?

[2018-01-15 15:54] #436 closed

[2018-01-15 15:58] #426 closed

[2018-01-15 15:58] #424 closed

[2018-01-15 15:59] #423 closed

[2018-01-15 15:59] kenwheeler commented on #415
Done

[2018-01-15 15:59] #415 closed

[2018-01-15 16:00] kenwheeler opened #451 "Render To Blog Post"
Use notes, or new tags like <Annotation> to define copy, embed individual slides. Render to static blog post page.

[2018-01-15 16:02] kenwheeler opened #452 "Viewer Wrapper"
Builds a page with a slide viewer that shows notes based upon which slide is current. Hard external controls, maybe comments/annotations.

[2018-01-15 16:03] kenwheeler opened #453 "Native Presenter"
Research ability to use an Electron app to present, giving an automatic presenter mode like keynote does

[2018-01-15 16:04] kenwheeler opened #454 "Better mobile experience"
Perhaps lock to landscape aspect ratio with big touch friendly external controls

[2018-01-16 03:33] alishir opened #455 "How should I align Image with Text horizontally?"

[2018-01-17 07:54] treble37 opened #456 "CodePane not working properly when using create-react-app"
Hi,

I followed `create-react-app my-presentation --scripts-version spectacle-scripts` to create a simple presentation.

I have a CodePane like:

`<CodePane lang="elixir" source={require("raw-loader!./assets/digger_step1.example")} />`

I get the following error:

Failed to Compile displays in the browser along with a message `Line 63:   Unexpected '!' in 'raw-loader!./assets/demo.example'. Do not

[2018-01-17 22:07] philpl commented on #456
That is a conscious limitation of `create-react-app`. It says right here that it doesn't allow webpack loaders to be specified manually as port of import statements:

Furthermore it doesn't come with the support for any kind of raw-loader out of the box.

There's an ongoing issue on how to improve this situation: https://github.com/facebookincubator/create-react-app/issues/3722

Meanwhile you have

[2018-01-21 20:24] MikeDabrowski opened #457 "Slide maxWidth seems to not work"
Great job with spectacle. Really appreciate it!

I got a problem with long title words not being centered. They just overflow container and disappear to the right. I tried to set maxWidth on Slide tag as said in the docs but it does nothing. I had to change contentWidth of Deck to workaround this issue.

What is the correct to handle long title words? 1000px is ok but text should stay centered aft

[2018-01-22 22:33] peggyrayzis opened #458 "CodePane doesn't respect custom Prism theme"
Hi! I'm using the most recent version of Spectacle via CRA. Unfortunately, CodePane isn't respecting my custom Prism theme.

I've tried:
1. Adding `<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/prismjs@1.10.0/themes/prism-okaidia.css">` to the <head> of my `index.html` file
2. Importing the theme in my `presentation.js` file: `import 'prismjs/themes/prism-okaidia.css';`

[2018-01-22 22:39] philpl commented on #458
Hm, weird 🤔 I previously made sure that this is working, but I've read in some other issue before that it isn't 😢

Our theme's specificity should be the same as the theme you're importing https://github.com/FormidableLabs/spectacle/blob/master/src/themes/default/prism.dark.js

I guess it'd work if you could add the stylesheet after emotion's sheet, but that's not possible I suppose 😅 I'll see if I

[2018-01-22 22:55] philpl commented on #458
Wait, I just tried it and it worked... I'm a little confused, am I doing something non-obvious that we need to clarify in the docs 😕 😿

is it maybe the location of the `<link>` tag? I think, in case it is, that'd definitely be something we'd need to add to the readme 😅 (hope it's not too hard to recognise what's going on in the gif, but I'm adding the tag to the end of the head there)

![2018-01-2

[2018-01-22 23:44] peggyrayzis commented on #458
Thanks for the prompt reply! 😀 I tried uncommenting out the stylesheet like in your gif and was able to confirm that the stylesheet is changing the font color. What's weird is that the syntax highlighting looks nothing like it does when you visit [Prism's homepage](http://prismjs.com/#languages-list) and click on Okaidia.

Is it possible the language is not being properly applied here? I'm doing `

[2018-01-22 23:49] philpl commented on #458
@peggyrayzis oh dear, that explains it. The themes are being mixed...

We’re back to my original dilemma then I guess. I’d like to prevent the built-in prism themes from being dynamically imported when they’re being used.

Maybe I can add a “.builtin” class to them and the CodePane so that they don’t match at all when they’re not in use. But that in turn would require us to introduce a new prop to

[2018-01-22 23:58] peggyrayzis commented on #458
Maybe you could disable the built in themes by passing in `theme="none"`? It's not the best solution, but it would at least save you from having to introduce a new prop.

[2018-01-23 00:10] philpl commented on #458
@peggyrayzis That's an amazing idea ✨I'm working on a quick PR now, but I'm thinking of calling it `theme="external"` to make it more explicit. (hope that makes sense)

Also adding a `oneOf` prop-types validation, which was long overdue

[2018-01-23 00:23] peggyrayzis commented on #458
Sounds great! 🎉 Thanks again for making this fix so quickly :)

[2018-01-24 16:06] Phalanstere opened #461 "Content of the slides gets not updated"
We are using spectacle in a React.js project - and till recently everything worked fine. Now we have run into problems that are very hard to decipher. The interface works as expected, but the content of the slides gets not updated. No error messages whatsoever. Trying to locate the problem we imported boilerplate code - but event that did not work. Could it be that there are idiosyncrasies to othe

[2018-01-24 22:23] MikeDabrowski opened #462 "Use images in css"
I want to use custom bullet point images so I'd like to have my assets/imgs/ exported from server so I can use `url('...')` in css. How to do that?

I tried :

[code]

but it didn't work at all

This also prevents me from using other stuff like css, or js imported in index.html.

[2018-01-25 01:33] MikeDabrowski commented on #326
I'm affraid this fixes only <Image>. Images added as Slide background become broken after such fix.

[2018-02-03 22:27] nahue opened #464 "Is there a way of disabling url params for presenters?"
I would like to use Spectacle in a website but dont want to enable presenter, print and other params to the user. Is this possible?

[2018-02-05 23:06] kale-stew commented on #429
I was able to produce a successful markdown table with your sample code, so it's possible this issue is occurring somewhere else in your project or was patched in a recent update.

Your code (only changed to be wrapped in an unadulterated set of `<Deck>` tags):
[code]

renders this:
<img width="688" alt="screen shot 2018-02-05 at 3 57 32 pm" src="https://user-images.githubusercontent.com/30479228/

[2018-02-05 23:06] #429 closed

[2018-02-06 17:15] chrisheninger commented on #441
Wrapping with `position: relative` works nicely– the only other adjustment I found I had to make was add a `body {  overflow-y: auto !important; }` to cancel out the overflow:hidden; applied by Spectacle.

[2018-02-06 21:31] Rambobafet opened #466 "Is there a way to pass controlColors to SlideSet?"
I need to set custom controls colors through <SlideSet />.
Is it possible already, or should I try to design it? :)

[2018-02-06 21:36] #466 closed

[2018-02-08 09:42] prakharcipher commented on #462
@MikeDabrowski Is it not working in the manner like this -

`url('./example/assets/{image-name}')`

[2018-02-08 18:58] ryantuck opened #467 "Sourced markdown file has bad formatting"
I have a markdown file called `stuff.md`:

[code]

I attempt to source it:

[code]

And it shows up like so:

![screen shot 2018-02-08 at 12 58 06 pm](https://user-images.githubusercontent.com/1762274/35992382-c03dc120-0ccf-11e8-9142-8896eb9b8707.png)

I imagine I'm missing something trivial. I'd be happy to check out some working examples but can't seem to find any.

[2018-02-08 19:46] ryantuck commented on #467
Ah, that's even worse :)

Both suggestions yield the following:

![screen shot 2018-02-08 at 1 45 39 pm](https://user-images.githubusercontent.com/1762274/35994563-64c19dce-0cd6-11e8-9b90-a98a8c3351c1.png)

[2018-02-08 20:16] mAAdhaTTah commented on #467
You probably have a loader compiling your Markdown to html.

[2018-02-08 20:27] ryan-roemer commented on #467
This is a total guess, but IIRC, you can do something like `require("!raw-loader!../assets/stuff.md")` to make the raw-loader win over everything else?

(That might be 100% wrong, but worth a character of testing :P )

[2018-02-08 20:30] ryantuck commented on #467
### Steps to replicate

1. Clone boilerplate: https://github.com/FormidableLabs/spectacle-boilerplate/
2. Replace `presentation/index.js` with code below, and add `assets/stuff.md` with example above.
3. `npm install && npm start`

[code]

[2018-02-08 20:31] ryan-roemer commented on #467
@ryantuck -- Can you try `require("!raw-loader!../assets/stuff.md")` since you've already got it downloaded and ready? Thanks!

[2018-02-08 20:48] ryantuck commented on #467
@ryan-roemer thanks! looks like adding that line anywhere above the `export` of the presentation component works!

I'll be adopting the following strategy - would add to the docs myself but not sure where they live.

[code]

[2018-02-08 20:59] ryantuck commented on #467
Oh wait, I see the subtlety now.

The `!` at the very beginning of the string is the thing that matters. No need to do anything higher up in the file or anything.

[code]

[2018-02-08 21:30] ryan-roemer commented on #467
Yeah, as I (very poorly) understand it, the leading `!` says "whatever comes next *WINS*" or something :)

[2018-02-10 14:54] #458 closed

[2018-02-11 04:26] romelperez opened #469 "Import Spectacle in server-side"
I want to use [next.js](https://github.com/zeit/next.js/) to render a presentation with spectacle, but I get an error because the hash history is used.

[code]

I don't mind not rendering it from the server, but I need it to work in the client.

Is there any workaround?

[2018-02-11 05:02] romelperez commented on #469
In case there is no workaround, it used a [conditional import](https://github.com/zeit/next.js/issues/219) of Spectacle in the client side.

But it would be great to have server-side support, at least to "import" them not use them.

[2018-02-11 12:43] dbendy opened #470 "Add styling to specific set of slides"
Let's create a fictitious example: if I have a 10 slide presentation, and I want slides 4 through 7 to have a different background color than the rest of them,  is there a way to do that without setting `bgColor` on all the slides that I want overridden?   Is there a way to possibly wrap those slides in a component, such as `SlideSet` or some alternative, to set styles on all of them?

[2018-02-11 13:02] dbendy commented on #215
@chabou: can you please share your solution again?  I don't see it in your comment above.  Thanks!

[2018-02-11 20:30] chabou commented on #215
I didn't share code. Only the idea that putting whatever in index.html will make it visible on all slides :)

[2018-02-13 10:20] welcoMattic opened #472 "Extends Manager to allow overriding of _handleKeyPress"
Hi, I've opened this [PR](https://github.com/FormidableLabs/spectacle/pull/196) long time ago about keys control.

It is still a need for us to control Spectacle with up and down keys (because most of bluetooth remote are mapped to up and down keys and not to left an right ones).

If it's not possible to add this feature in spectacle core, may be it's possible to let people extends spectacle to ad

[2018-02-13 13:25] kitten commented on #472
Unfortunately a couple of third party libraries depend on up/down keys for their own transitions, e.g spectacle-code-slide

@kenwheeler is it worth adding a prop enabling this optionally?

[2018-02-13 13:38] welcoMattic commented on #472
+1 for a prop to allow `horizontal-nav` or `vertical-nav` ;)

[2018-02-13 17:54] kale-stew commented on #461
Hi @Phalanstere! Are you still having this issue? I would love to help, but I think I'm going to need a little more information to dig into this problem deeper.

- What do you mean by 'content of the slides gets not updated'? Is the presentation not hot-reloading the way you are expecting it to? Is the slide content not displaying as expected?
- What are some steps to reproduce what you are seeing

[2018-02-13 18:00] ryan-roemer commented on #467
For documentation sake, here is the part of the webpack config causing problems (it's higher priority than raw-loader without the `!raw-loader` hack): https://github.com/FormidableLabs/spectacle-boilerplate/blob/master/webpack.config.js#L24-L27

[2018-02-13 20:15] kale-stew commented on #470
There are a couple ways you could go about this currently, but we are open to changing the API and updating the docs to make this more easily accomplished!

Would you rather
- import an entirely separate `<Deck/>` component to your main index.js that would need to be wrapped in a pair of `<SlideSet>` tags? (this is already possible but not outlined in our docs)
- wrap slides inline of your main `<

[2018-02-14 07:23] prayasht commented on #426
@kitten Could you give a more detailed example? I tried this and it's still being overwritten by the default styles. Such a bummer that it's not possible to write a stylesheet on top like most CSS things.
[code]

[2018-02-14 18:37] kitten commented on #426
@prayasht do you have time to create a little reproduction on CodeSandbox or sth similar? That should give me an environment to find a solution in combination with emotion

[2018-02-19 21:59] siakaramalegos commented on #450
What is `<SlideSet>`? I don't see it in the docs. My guess is for when you want to group a bunch of slides, but does it have special behaviors? I also have this problem with importing slides so doing one of the workarounds above. Just wanted more info on SlideSet

[2018-02-21 16:35] siakaramalegos opened #475 "Fix some documentation inconsistencies."
I'm creating this issue because I intend to make a PR to fix - I just wanted to get some feedback on a few things first.

- [x] The [table example](http://formidable.com/open-source/spectacle/docs/tag-api/#table-tablerow-tableheaderitem-and-tableitem-base) results in errors. Add TableHeading and TableBody so that the example works.
- [x] [Getting Started](https://github.com/FormidableLabs/spectacl

[2018-02-21 22:01] AjkP opened #476 "Feature Request: Shortcut black hole"
This might be beyond the scope of spectacle, but I think it would be neat to just override certain shortcuts to go into a black hole (do nothing).

[2018-02-23 13:53] bali182 opened #478 "Can't install version range 3.0.0-4.0.5"
When I'm trying to install any version from the range 3.0.0-4.0.5 I get the following error complaining about a missing dependency: `@babel/helper-module-imports@7.0.0-beta.32`

[code]
Latest I can install is `2.2.2`. Any clue why this is happening? It's consistent across windows and mac too. There was nothing specific about the installation, I'm using the public npm registry:

[code]

node: v8.9.

[2018-02-23 14:40] ryan-roemer commented on #478
Spectacle doesn't have any `@babel/*` (babel7/next) dependencies in

I installed just fine on node `v8.4.0` and npm `v5.3.0` with output:

[code]

Just guessing here, but do you have anything _else_ in your project's `package.json` besides `spectacle`? That may be the cause.

If you think there's a scenario that spectacle itself is legitimately causing, then please create a minimal repository with

[2018-02-25 15:06] MikeDabrowski opened #480 "CodePane language highlight not working"
CodePane accepts lang as a parameter, which is supposed to be prism compatibile language. Yet after rendering, in chrome dev tools I see `<pre>` tag with language-prism class, and my code is monochrome.

Why is that?

[2018-02-25 15:13] MikeDabrowski commented on #462
No it does not. Images are not available on such url.

[2018-02-25 23:14] kitten commented on #480
Can you provide a reproduction please? it could simply be that the language you're trying is not supported or that something is going wrong with either the theming or a custom prism CSS file.

Spectacle performs highlighting using the react-live editor, which doesn't use global classes but highlights by generating html using prism's utility functions.

[2018-02-26 11:03] MikeDabrowski commented on #480
Ok, so I tried to clean my project of prism js and css bring it back to unmodified state. It didn't work. Then I created new projects using CRA and boilerplate - both works for jsx, java and javascript.

I think its a matter of my corrupted project.

[2018-02-26 11:03] #480 closed

[2018-02-26 17:41] kitten commented on #480
@MikeDabrowski Weird! Maybe someone else will surface some more details at some point so we can document some gotchas :)

[2018-03-02 18:58] ahfarmer commented on #340
@kenwheeler

Can't you recurse until you hit a `<Slide>`?
I'm new to Spectacle but it looks like these are the only components that ever exist within `<Deck>`:

* Slide
* SlideSet
* Intermediate component that renders Slide components or other intermediate components

First thing I tried to do when I got the boilerplate was to put my slides into separate files and it was pretty frustrating.

[2018-03-04 20:39] markerikson commented on #450
Yeah, I'm rather confused by all this too.  I think I"ll have to stick with my existing workaround of doing a bunch of array exporting and concating.

[2018-03-04 21:09] markerikson commented on #456
I'd be fine with adding `raw-loader` to spectacle scripts.  After all, that's the point of having a custom fork of `react-scripts` in the first place.  (Also, `spectacle-scripts` needs to have the latest version of `react-scripts` merged in anyway.)

[2018-03-13 18:56] gagarski opened #485 "Custom history for Deck. Does it work?"
Hi!

I am not big fan of URLs with hashes (for example, it's hard to type `?presenter` parameter with hashes) and it seems like both development server from standard boilerplate project and surge.sh allow us to serve on "*" url, so we can use `createBrowserHistory` instead of standard spectacle's `createHashHistory`, so I modified index file from boilerplate project as follows:

[code]

Then I run

[2018-03-13 19:01] gagarski commented on #485
Here is my complete example: `git clone https://github.com/gagarski/spectacle-boilerplate.git && cd spectacle-boilerplate && git checkout no-hash-history`

[2018-03-15 17:56] shuminyang opened #486 "Redux conflict"
Hey guys,

I am having some problems when I try to access my own redux store on the elements inside the `<Slide>` component.
For example

`<Slide>
    <MyComponent />
</Slide>`

When I connect `MyComponent` into react-redux, I end up accessing Spectacle Redux-store.
Am I missing something? Is there a way to merge mine and yours redux store?

Thanks!

[2018-03-16 21:41] dileep-kishore opened #487 "Feature Request: Deck Showcase"
First of all, thank you for this amazing project. I just recently started using `spectacle` and I like what I see so far. In the past, I have used [`eagle.js`](https://github.com/zulko/eagle.js/) which is pretty good in its own right. What I do miss is the deck showcase where you can get mini previews of all the decks in your slideshow (see [here](https://zulko.github.io/eaglejs-demo/#/)).
I think

[2018-03-17 21:39] elifitch opened #488 "<Appear /> + Emotion styled component = many style tags"
Every time an `<Appear />` tag executes a tween, it looks like emotion is adding a bunch of style tags to the head.

![mar-17-2018 17-38-30](https://user-images.githubusercontent.com/2495933/37560172-16d3a20a-2a0a-11e8-8c08-2cc71e19c553.gif)

Wrapping the children of an `<Appear />` in a native dom element seems to be a pretty solid workaround, but should probably be noted somewhere in the documen

[2018-03-17 23:51] kitten commented on #488
I think the problem here is quite simple. Spectacle's Appear component is right now just passing on a `style` prop;

https://github.com/FormidableLabs/spectacle/blob/master/src/components/appear.js#L81

Now unfortunately some components take that `style` prop and are interpolating it into emotion, which then considers it part of its styles, which means that it'll be mounted into the style tag.

ht

[2018-03-18 01:09] hellochar opened #489 "babel-runtime is needed to use spectacle but it's not a dependency"
I have an existing website with Typescript/Webpack/React/etc and I needed to manually `yarn add babel-runtime` to get my code to compile. Here's what I did

1. `yarn add spectacle`
2.
[code]
3. Webpack complains (There's a whole bunch of these) -
[code]

4. I look at the lib/ code and sure enough, it has these dependencies:
[code]

5. I manually add babel-runtime: `yarn add babel-runtime`, and eve

[2018-03-18 01:34] hellochar opened #490 "many spectacle dependencies bloats my bundle"
Spectacle alone is doubling my total Webpack bundle size (from 6 -> 13mb in dev mode). There's a few things that I'm personally not using but that are still being included:

1. the code preview component pulls in react-live which pulls in buble which is about 800kb
2. all of d3, unsure why
3. redux and react-redux are pulled in because the appear component

It'd be great if spectacle supported tre

[2018-03-18 02:10] ryan-roemer opened #491 "Infra: Add ESM output."
- [x] Add separate output for `es` per the usual...
- [x] Look to modernize babelrc -- `babel-preset-env`, etc.
- [x] Potentially consider dropping `stage-*` if not used.

[2018-03-18 02:14] ryan-roemer commented on #490
@kenwheeler can comment more, but Spectacle is usually targeted at making a presentation deck and not as part of something else. So we have "the kitchen sink" of things like:

- Victory: A visualization library (bringing in d3)
- React Live: For live code samples
- ... and lots of other stuff.

One thing we can do, is also export `es/` for our code with ESM (`import`/`export`). Then, if you are bu

[2018-03-19 11:03] g3r4n commented on #450
I've just started to use the library and here the template i used to start:
https://stackblitz.com/edit/react-kgu6gt
This solution do not use SlideSet or hasSlideChildren, it's more a concatenation of JSX (maybe the same solution than yours @markerikson ).
This solution let's you have one Slide per file to organise your presentation. You can also easily re-organise your presentation as you go just

[2018-03-19 14:40] markerikson commented on #450
Yeah, that's almost exactly what I'm doing myself.

I'd still like to be able to render a `<MyCustomSlide />` that itself renders a `<Slide />`, but I've been busy and haven't had time to play around with that idea further.

[2018-03-19 16:14] ryan-roemer commented on #490
@hellochar -- Take a look at https://github.com/FormidableLabs/spectacle/pull/493 . If you're using modern webpack we now have an `es/` ESM output directory that should get picked up by webpack4 to efficiently include _only_ the files you really need.

[2018-03-19 16:22] ryan-roemer opened #494 "Infra: Update webpack build."
- [x] Add `webpack@4`.
- [x] Refactor all configs, check loaders still work.
- [x] Check status of `hot`, `hmr` things that we want.
- [x] Try to use simple `mode`s
- [x] Check on `node server.js` / `yarn start`

[2018-03-20 02:09] #490 closed

[2018-03-20 02:09] #491 closed

[2018-03-20 12:23] ryan-roemer commented on #489
As of `spectacle@4.2.0` we've updated to babel7 and on viewing https://unpkg.com/spectacle@4.2.0/lib I don't see any `runtime` strings anywhere.

[2018-03-20 12:23] #489 closed

[2018-03-20 12:24] ryan-roemer commented on #478
No activity so closing.

[2018-03-20 12:24] #478 closed

[2018-03-20 14:59] bali182 commented on #478
Cheers, I wasn't able to figure out much, but you are right, spectacle by itself can be installed.

[2018-03-20 17:36] ryan-roemer opened #496 "Infra: Add prettier, tighten lint."
- [ ] Add prettier
- [ ] Tighten formatting (via lint or prettier) for better consistency.
- [ ] Maybe add precommit hooks.

[2018-03-20 23:28] #494 closed

[2018-03-24 14:57] Hypnosphi commented on #428
What's the recommended workaround for it? `className` property on `Slide` sets className for slide inner content not for slide itself

[2018-03-25 13:08] joshwcomeau opened #500 "Breaking out of the 1000x700 box"
I've been really loving using Spectacle, thanks so much to all the maintainers and contributors for creating such an amazing project :)

I find that I keep wishing to have a React element be "fullscreen", but I'm limited by `.spectacle-content`, with its max-width of 1000px and max-height of 700px. I know I can set `bgImage` on the `<Slide>` to have a fullscreen image, but the presentation I'm wor

[2018-03-26 02:41] hellochar commented on #489
Looks like 4.2.0 finished it!

[2018-03-26 20:42] romellogoodman opened #501 "Is there a way to style MarkdownSlides?"
I want to pass in some of the Base Props to the markdown slides and wondering how I would go about doing this?

I would imagine that something like this would work and the props would get applied to every slide
[code]

[2018-04-03 04:04] tim-soft commented on #450
@markerikson I tried doing just that and everything appeared to work... except for the transitions.

There must be some databinding underneath that isn't getting passed related to animations. Hopefully someone can dig deeper, as this is the obvious and best way to organise the slides.

[2018-04-06 17:14] ironmanromeo opened #503 "GoToSlide And GotoStep"
I love Spectacle!

But...

I'm looking for a way to "programmatically" go on a specific SLIDE and in particular on a specific STEP. I use Meteor-React and I would like to use Spectacle as a "broadcast" presentation system, but I can not find an "elegant" way to move inside the DECK and in particular into "steps". It would be great to have 2 specific commands (or one to pass the slide and one for t

[2018-04-06 18:38] winstonewert opened #504 "Custom Staged Slides"
Spectacle is great!

It has a basic system for staged reveals with the <Appear/> but I sometimes want to do more complex things. For example, in my one presentation I have a <div/> which I use css transitions to move around.

I figured out how to make this work by reverse engineering how <Appear/> worked. I added <div className="fragment"/> and then inspect the state to figure which fragment shoul

[2018-04-07 08:30] davidsusu opened #505 "Appear together"
I have a slide:

[code]

My expectation is that second and fourth paragraph appear together, however each paragraph appears separately (first, second, fourth, third). Is this a specific design decision? How can I move two items together?

(Of course, I know that `order` is an additional feature added later after behavior of `Appear` originally designed. So, probably it can not be easily changed wi

[2018-04-07 10:56] tim-soft commented on #469
SSR support would be excellent, conditional require in componentDidMount is obviously not great on performance

[2018-04-08 06:52] tim-soft commented on #500
You can add a className prop to the slide and use the `mySlideStyles::first-child` to override the size of your workable area

[2018-04-08 21:51] joshwcomeau commented on #500
Awesome! Thanks @tim-soft.

Do you think it'd be good to add this to the docs somewhere? Happy to open a PR to add it (although I also imagine this isn't a common concern, so totally respect if you don't feel it's important enough to clutter up the README!)

[2018-04-09 01:30] tim-soft commented on #500
I didn't build this thing ;)

I think it would make some sense to add a style prop to Slide for directly manipulating the flex container styles.

[2018-04-09 20:06] thomasfarago opened #506 "X-axis/horizontal alignment property of slide doesn't align text to the left"
I'm trying to get text to align to the left-hand side of the slide, and by looking at the documentation, it looks to me like it should be done like this:

<img width="499" alt="1" src="https://user-images.githubusercontent.com/8206050/38520096-c5434824-3c0f-11e8-844c-47f4b9775993.png">

However, only the second alignment property has any effect:

<img width="1225" alt="default" src="https://user-i

[2018-04-10 17:38] joshwcomeau commented on #500
Ah, sorry for the assumption!

[2018-04-10 19:16] joshuacrass commented on #496
@ryan-roemer I'm looking to get involved in some open source projects. Do you mind if I work on this?

[2018-04-10 19:17] thomasfarago opened #507 "<S> tag?"
I'm trying to format individual strings of text (with different colors for instance), and I see this in the documentation:

<img width="684" alt="screen shot 2018-04-10 at 3 16 18 pm" src="https://user-images.githubusercontent.com/8206050/38578542-3b248248-3cd2-11e8-9b99-688e34e2c829.png">

However, it's not working. Do I use it like this?

<img width="485" alt="screen shot 2018-04-10 at 3 17 29 p

[2018-04-10 19:22] thomasfarago opened #508 "endValue= { opacity: 0.5 } isn't working"
No matter what kind of tag I put this prop into, it doesn't seem to work. It seems to indicate that there's an issue with the : character.

Is there something I'm missing?

<img width="774" alt="screen shot 2018-04-09 at 7 16 03 pm" src="https://user-images.githubusercontent.com/8206050/38578782-f734fe4a-3cd2-11e8-9899-5b22eab01f87.png">
<img width="697" alt="screen shot 2018-04-09 at 7 16 20 pm"

[2018-04-10 19:24] mAAdhaTTah commented on #508
That's invalid JSX. The format overall is as such:

[code]

The values in there is the object, so you need two curlies:

[code]

[2018-04-10 20:42] tim-soft opened #509 "Is it really necessary to add global styles to the DOM?"
Adding Spectacle into a page with other content hijacks their styling

https://github.com/FormidableLabs/spectacle/blob/42d2b0809866b078f588a1ef565ebae837e62265/src/themes/default/screen.js#L36-L44

[2018-04-10 20:53] thomasfarago commented on #508
Cheers!

[2018-04-10 21:11] tim-soft commented on #485
I see references to "Add your own history config" but no examples of what that would actually look like

[2018-04-10 21:25] thomasfarago commented on #507
Ah! Solved it.

First, I wasn't importing S.

Then, for color, I wasn't assigning type='none'.

[2018-04-10 23:27] thomasfarago opened #510 "bg as video?"
Looking to make the background a video instead of an image. What is the best way to go about doing this?

[2018-04-11 18:27] gagarski commented on #485
It suddenly started working after upgrading to 4.2.2.

It still adds `#/` to URL when I open the page in browser but now navigation works normally.

[2018-04-14 20:51] AlanFoster commented on #476
As an example use case:

I wish to embed a video into my slides, and the existing functionality is to play/pause the video based on the space bar being pressed. However, currently Spectacle instead goes to the next Slide.

[2018-04-15 15:51] sslotsky opened #512 "Prism error in CodePane component using spectacle-scripts"
Title sums it up. I used `spectacle-scripts` to create the slide deck and added this codepane slide:

[code]

To be thorough I tried this too:

[code]

The slide crashes with the following:

[code]

Happy to provide more information on request. Thanks for this fantastic presentation lib and for taking the time to read this issue.

[2018-04-15 20:03] sslotsky commented on #512
To be even more thorough, I built a react/parcel project by hand and was still able to reproduce the error.

[2018-04-15 20:13] sslotsky commented on #512
It looks like the `buildPlaceholders` logic was introduced to prism here:

https://github.com/PrismJS/prism/commit/5f9c078a10237699aa0a6268903ecdae10bd7f4c

Is the answer here to put an upper bound on the prism version in spectacle's package.json?

[2018-04-15 23:10] sslotsky commented on #512
I built this project locally with a few different versions of `parcel`. The latest release, `1.14.0`, is the first with the issue I reported. The previous release, `1.13.0`, seemed not to work at all. But `1.6.0` and `1.12.0` both appear to work fine.

[2018-04-16 12:18] jooj123 commented on #512
This is the same for me - i had to downgrade to get it work for me. Ideally prism is fixed, but if thats not a trivial thing then upper bound sounds good enough for now so this manual workaround isnt required 👍

[2018-04-17 17:22] xmclark opened #513 "Question: IE 11 support"
I noticed some weird behavior when using spectacle in Internet Explorer 11. Does the library aim to support IE11? Regardless, these are a few issues I found.

The demo app has a JavaScript error and fails to show anything. Looks like a babel or polyfill issue:

![2018-04-17 10 18 51](https://user-images.githubusercontent.com/1364747/38885756-e11b031a-4228-11e8-84cb-95d18192d312.gif)

I started the

[2018-04-17 19:10] ryan-roemer commented on #513
Can you try polyfilling `Object.assign` and see if that helps.

See, e.g. https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign#Polyfill or https://www.npmjs.com/package/object.assign

[2018-04-17 20:47] thomasfarago opened #514 "<align> doesn't work on <BlockQuote>"
Trying to assign align="flex-start center" to a BlockQuote.

Not working. Any way to fix this?

[2018-04-18 03:32] sslotsky commented on #512
@kenwheeler @kitten please see [here](https://github.com/PrismJS/prism/issues/1394), the Prism team has some advice for addressing this.

[2018-04-18 04:01] sslotsky commented on #512
@kenwheeler @kitten please see [here](https://github.com/PrismJS/prism/issues/1394). The Prism team has some suggestions for dealing with this. I did spend some time with this in hopes to have a PR but I didn't get anywhere with it. I couldn't seem to import `loadLanguages` correctly, and even if I could, it wouldn't work for anyone running < 1.13.0, which is allowed in spectacle's package.json.

[2018-04-19 03:30] arlen-yu opened #515 "Issue with ComponentPlayground"
I did a fresh clone of the boilerplate (alternatively using the `create-react-app ...` as suggested), ran `npm install` (and alternatively `yarn`), imported `ComponentPlayground`, added `<ComponentPlayground />` to an arbitrary slide, and spectacle encountered an error:

[code]

This is on most up to date Chrome on my MBP.

[2018-04-19 11:15] MarcelCutts commented on #512
For folks looking for a solution that works right now, you'll have to add something like this to your `package.json`

[code]

This will enforce all your sub-dependencies of spectacle to use prism at exactly 1.6.0, which does not have these issues.

N.B. You may have to eject first, but I am unsure about this and have not tested it on an un-ejected instance.

[2018-04-19 15:51] kitten commented on #515
Duplicate of: https://github.com/FormidableLabs/spectacle/issues/512#issuecomment-382697952 (link leads to a proposed temporary workaround)

[2018-04-19 15:51] #515 closed

[2018-04-23 21:06] octalmage commented on #512
I was able to get this to work, but I did have to eject. Thanks!

[2018-04-24 18:38] jessepinho commented on #512
FWIW, I was able to get this to work simply by running `yarn install prismjs@1.6.0`—no eject required.

[2018-04-30 14:11] DSchau commented on #430
As an example, the following markup demonstrates the issue

[code]

Here's a [CodeSandbox](https://codesandbox.io/s/github/DSchau/spectacle-appear-id-issue)

I'll see if I can fix/PR this later, I wouldn't think it'd be that challenging to diagnose 🙃

[2018-04-30 20:36] #512 closed

[2018-05-04 20:38] manjula91 commented on #514
Can take this up !!

[2018-05-08 15:35] #443 closed

[2018-05-08 15:37] kenwheeler commented on #510
Probably overriding the CSS and doing an absolutely positioned video at full width/height

[2018-05-08 15:37] #510 closed

[2018-05-08 15:37] #507 closed

[2018-05-08 15:37] #508 closed

[2018-05-08 15:38] kenwheeler commented on #505
That's currently not supported. Order is serial not parallel. Maybe wrap in a common parent?

[2018-05-08 15:38] #505 closed

[2018-05-08 15:39] kenwheeler commented on #503
Deck takes a configurable history prop that you could use to override it

[2018-05-08 15:39] #503 closed

[2018-05-08 15:39] kenwheeler commented on #504
There is an Anim component now that should suffice

[2018-05-08 15:39] #504 closed

[2018-05-08 15:41] kenwheeler commented on #501
You would have to either update the theme, or use the Markdown tag

[2018-05-08 15:41] #501 closed

[2018-05-08 15:42] romellogoodman commented on #501
Thanks!

[2018-05-08 15:43] kenwheeler commented on #509
Right now, yes. Moving forward, hopefully not.

[2018-05-08 15:43] #509 closed

[2018-05-08 15:44] #453 closed

[2018-05-08 15:44] #452 closed

[2018-05-08 15:47] #485 closed

[2018-05-08 15:47] kenwheeler commented on #500
This will go away in the near future

[2018-05-08 15:47] #500 closed

[2018-05-08 20:07] goldhand opened #521 "API for control actions"
I'd like to trigger slide changes pragmatically. I'm not sure if there is an api for this but it would be really helpful!

example to help clarify what I would like to do:
[code]

Alternatively, exposing the `store` would allow me to do what I want as well. Or if I could pass an optional `store` value [somewhere in the `Deck` component](https://github.com/FormidableLabs/spectacle/blob/da099a02a739

[2018-05-11 15:33] rccclr opened #522 "Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3""
When
npm start
o
yarn start

Thanks

[2018-05-11 16:24] jfirebaugh opened #523 "Can't yarn install due to npm.ematix.org timeout"
Trying to clone and install so I can make a change to spectacle:

[code]

This is due to the following entry in yarn.lock:

https://github.com/FormidableLabs/spectacle/blob/80a8445ba41231594f7c1fc88f127ec8cd47d879/yarn.lock#L7491-L7493

I think this is somebody's private npm mirror that got committed accidentally (in #511, it looks like).

[2018-05-11 18:03] jfirebaugh opened #524 "<Slide margin={n}> gets double-applied"
When you set `margin` on a `Slide` component, it gets applied to both the `SlideContainer` component (via `getStyles.call(this)`):

https://github.com/FormidableLabs/spectacle/blob/d31c3467fc885245830477cd50845d099ab0a55f/src/components/slide.js#L249

_and_ the `SlideContent` (via an explicit prop):

https://github.com/FormidableLabs/spectacle/blob/d31c3467fc885245830477cd50845d099ab0a55f/src/comp

[2018-05-15 18:04] kyleshevlin opened #525 "`quarternary` should be `quaternary`"
Themes in Spectacle use a key named `quarternary` which happens to be a typo. The correct spelling is `quaternary` (without an "r" before the "t").

[2018-05-17 08:52] rainboxx opened #526 "`CodePane` throws when using `lang="java"`"
Repository to reproduce: https://github.com/rainboxx/spectacle-issue

It seems that loading all language files, as of now, doesn't have any impact because `react-live` [loads Prism itself and only 4 language](https://github.com/FormidableLabs/react-live/blob/d71d13d079fc99cafcb65ec19ec057fc54a3492a/src/utils/prism.js.) files. The language files ([see Java for example](https://github.com/PrismJS/pr

[2018-05-17 17:18] adamgruber opened #529 "Feature Request: Master Slide / Slide Templates"
A big feature in other presentation software is the ability to define a master / template slide that has some styling on it or maybe a background image. This slide can become the basis for all other slides in the deck.

Maybe something like this:

[code]

Or it could be a prop on the `<Slide>` itself. Something like
[code]

[2018-05-17 21:34] davidsusu commented on #505
@kenwheeler Most of the time common parent isn't applicable. See my example, for example. Furthermore, do you know a manageable workaround for a two-column layout, where text comes from left while image comes from right, at the same time?

[2018-05-19 05:45] joshuacrass commented on #523
This was my bad. Sorry. This PR needs to be merged or the build will continue to fail as the mirror no longer exists.

[2018-05-21 18:04] PT-Jessica commented on #522
Please any help ? I installed updated version for babel 7 but this error displays in console while I run npm start or npm install.

Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3". If you are sure you have a compatible version of @babel/core, it is likely that something in your build process is loading the wrong version. Inspect the stack trace of this error to look for the first en

[2018-05-21 19:53] joeLloyd commented on #522
@PT-Jessica try this

`yarn add babel-core@7.0.0-bridge.0`

it got rid of the error for me

src https://github.com/parcel-bundler/parcel/issues/868#issuecomment-386829133

[2018-05-22 05:50] LeBenLeBen commented on #522
I have a similar issue on a fresh clone of the repository, here‘s more info:

[code]

[2018-05-28 17:09] #523 closed

[2018-06-01 21:08] sam-whale opened #533 "textSize not defined in base.js"
`textSize` always has a type of `undefined`. `textSize` should be `fontSize`.

As a consequence, the only warned behavior in the console happens when fontSize is a string but not when it's a number.
ex: `'10px'` throws error but `10` does not.

src/utils/base.js
[code]

[2018-06-02 20:17] bdarnell opened #536 "Document how to make components that render Slides"
I'm trying to make a react component that produces a spectacle `Slide`. I've run into a couple of problems that resulted in cryptic error messages (at least to me as a react novice) or mysterious misbehavior. Specifically, function-based components don't seem to work, and all `props` must be passed through to the slide even if no such props are visible in your presentation.js file.

The simplest p

[2018-06-04 15:55] #533 closed

[2018-06-04 16:21] ryan-roemer opened #537 "Infra: Remove `__mocks__` from npm publishing."
This shouldn't be published: `es/sync/__mocks__/index.js	.`

[2018-06-04 22:05] sevenfoxes commented on #526
I have this problem with Dart too.

[2018-06-04 22:27] rainboxx commented on #526
@sevenfoxes #528 should fix this, too.

[2018-06-04 23:18] moarwick opened #538 "How to render an image?"
Seems trivial but.. I just installed Spectacle, can't seem to make `<Image />` work. I see that Webpack expects static assets in `/assets`, but no permutation of `src` seems to work for me. Tried `city.jpg`, `/city.jpg`, `./city.jpg`, `../city.jpg`, `../assets/city.jpg`, `/assets/city.jpg` and so on, also tried placing assets in `/presentation`.. no luck :(

Given that there are a number of assets

[2018-06-05 00:01] moarwick commented on #538
all good, found an example in the main repo: https://github.com/FormidableLabs/spectacle/blob/master/example/src/index.js#L17

[2018-06-05 00:01] #538 closed

[2018-06-05 12:58] vpicone opened #539 "Using insecure websockets prevents deployment with https."
## Expected Behavior
Building and deploying the build folder should result in a site that presents content without being blocked by modern browsers.

## Actual Behavior
Using the ws:// protocol instead of the wss://protocol makes it so the browser blocks the entire content of the page.

### Initial Page Load
<img width="980" alt="initial-page-load" src="https://user-images.githubusercontent.com/40

[2018-06-05 15:02] ryan-roemer commented on #539
Introduced in https://github.com/FormidableLabs/spectacle/pull/495

[2018-06-05 15:05] ryan-roemer commented on #539
One page spectacle is already hitting this (which uses current off unpkg). For example, https://rawgit.com/seanode/welcome/meetup/may-2018/welcome.html#/1 gives us:

![screen shot 2018-06-05 at 8 04 27 am](https://user-images.githubusercontent.com/445557/40984589-1dd037a0-6897-11e8-9145-61d16f1f8842.png)

And even master in this repo hits it: https://rawgit.com/FormidableLabs/spectacle/master/one-

[2018-06-05 15:18] ryan-roemer opened #540 "componentWillReceiveProps is deprecated since React 16.3.0"
We've disabled these, but:

[code]

[2018-06-05 16:08] #537 closed

[2018-06-05 22:49] ryan-roemer commented on #539
Reverted websocket integration in https://github.com/FormidableLabs/spectacle/pull/543

https://rawgit.com/seanode/welcome/meetup/may-2018/welcome.html#/1 and https://rawgit.com/FormidableLabs/spectacle/master/one-page.html both work now...

[2018-06-05 22:49] #539 closed

[2018-06-05 22:50] samwhale opened #544 "Testing for PR #543"
Need to add testing for use of `localStorage` in Spectacle. WebSocket support has been removed for the time being, but if that gets reintroduced or used we should add testing for that as well.

Rel #543

[2018-06-06 15:29] #430 closed

[2018-06-08 04:42] sslotsky opened #546 "Prism version conflict"
Prism was nailed down to 1.6.0 due to https://github.com/FormidableLabs/spectacle/issues/512, but spectacle still depends on `react-live` which has a dependency on Prism 1.14.0

[code]

This version conflict leaves me unable to show a code slide in ReasonML. I can't help but wonder if it would be better to just load the languages in the way that the Prism team recommends https://github.com/PrismJS

[2018-06-08 04:54] ryan-roemer commented on #546
@sslotsky -- If your deck is in a public repo, can you point me to it? If not, can you create a minimal repository that exposes the issue?

We _should_ be able to force a resolution correctly, but I need to see the full tree + build configuration to better understand what's going on.

Looking at your links:

- https://github.com/PrismJS/prism/blob/gh-pages/components/index.js -- looks Node.js spec

[2018-06-08 06:18] Golmote commented on #546
Hi!

Do your builds always use Babel? @mAAdhaTTah took the time to think about this and ended up writing a babel plugin for this: https://www.npmjs.com/package/babel-plugin-prismjs Maybe you could take a look at it and see if it can generate an appropriate file taking languages dependencies into account automatically.

[2018-06-08 12:10] mAAdhaTTah commented on #546
@ryan-roemer Yes, the `components/index.js` is Node-specific and isn't intended to be used in webapps. The cache-clearing is to ensure that Prism modules are reloaded in the correct order so dependencies function correctly.

The intention was definitely to solve this problem with the babel plugin, although I think you might need to use it both in spectacle & react-live (and possibly component-play

[2018-06-08 12:52] sslotsky commented on #546
@ryan-roemer thanks for jumping on this so quickly and for bringing in the Prism folks!

I have a [minimal repo here](https://github.com/sslotsky/spectacle-prism-reason) that has the problem. Much appreciated.

[2018-06-08 13:15] ryan-roemer commented on #546
@mAAdhaTTah @Golmote -- Thanks. We do use babel and everything starts at `src` with ESM, so looks like https://github.com/mAAdhaTTah/babel-plugin-prismjs may be an option. And we can integrate with all of `react-live`, `component-playground` and `spectacle` if needed.

@sslotsky -- I'm slammed today, but having a short repository is invaluable to us. We'll dig into this, verify the error, then ass

[2018-06-08 13:22] sslotsky commented on #546
:bowing_man: :pray: :raised_hands:

[2018-06-08 14:14] mAAdhaTTah commented on #546
@ryan-roemer Great! And we're here to help if you need anything. The babel plugin is brand new, so if you run into issues, let us know. I use Spectacle myself, so happy to do what I can.

[2018-06-09 17:44] ryan-roemer commented on #546
Error is verified. Will try to find time this week to dig in more, but I'm on vacation half the week, so may be after...

[2018-06-10 01:04] sslotsky commented on #546
Understood. Any way I can help?

[2018-06-10 03:34] ryan-roemer commented on #546
If someone wants to throw up a WIP / POC PR that could potentially work, that may aide our efforts.

But if we're changing two projects simultaneously the infrastructure stuff might get complicated -- I'm pretty familiar with this type of situation and we've even written a dev tool [`lank`](https://github.com/FormidableLabs/lank) to assist with the shortcomings of `npm link` and multi-repo dev.

S

[2018-06-10 18:58] sslotsky commented on #546
@mAAdhaTTah I actually took a crack at this on the react-live repo and did run into some trouble trying to run the demo app, which is SSR with next.js. Do you have any examples of using the babel plugin with a React SSR app? I think `react-live` might be a good place to start since we can test the demo app without having to worry about duplicated dependencies, and also make sure that it works for

[2018-06-10 19:20] ryan-roemer commented on #546
@sslotsky -- I haven't worked much in the `react-live` repo, but a lot of us have. As long as there _is_ a babel step for the SSR stuff, I'm guessing we can get something going.

Thanks for the info -- we'll start there first rather than spectacle itself.

[2018-06-10 19:45] mAAdhaTTah commented on #546
@sslotsky SSR shouldn't really impact things. All the babel plugin does is ensure all the dependencies are loaded in the correct order. Prism should otherwise work fine on the server; the `highlight` method doesn't require the DOM, though the other methods do.

[2018-06-10 19:58] sslotsky commented on #546
@mAAdhaTTah I found that if I just naively follow the example on the babel plugin's README page, I get an error from `highlightAll` because `document` is undefined.

I tried to move the `highlightAll` call to a place where there would surely be a dom (e.g. `componentDidMount`). I wound up with this:

[code]
The `prism` function is defined as:

[code]

With this change I get an error in the `tokeni

[2018-06-10 20:01] sslotsky commented on #546
`.babelrc`

[code]

[2018-06-10 20:03] mAAdhaTTah commented on #546
Yeah, PrismJS itself assumes a browser(-like) environment. That's not really specific to the babel plugin.

The plugin configuration needs to be in an array:

[code]

[2018-06-10 20:17] sslotsky commented on #546
Good catch, thanks. I made this change and it doesn't seem to help? Here's the languages that are available at runtime.

![image](https://user-images.githubusercontent.com/374078/41205885-4481fe0a-6cc1-11e8-9384-7400a57dc5db.png)

[2018-06-10 20:30] sslotsky commented on #546
https://github.com/sslotsky/react-live/tree/babel-prism

[2018-06-10 21:16] mAAdhaTTah commented on #546
When react-live itself is built, it sticks with the `import Prism from 'prismjs'` bit for the ESM build, which is good, but it means that the prism babel configuration needs to be at the app level, e.g. in the demo. This would allow the consumer of react-live to configure how much of Prism they wants to include in their app.

Is that a reasonable expectation for consumers?

Also, right now, `babel

[2018-06-10 22:12] sslotsky commented on #546
Speaking only for myself as a consumer, I think that the extra step of configuring the babel plugin might fall into the annoying-but-tolerable category, as long as the requirements and steps are highly discoverable. A way to automate as much of it as possible would be preferred, or at least have something make a lot of noise if the configuration is missing.

[2018-06-10 23:56] mAAdhaTTah commented on #546
Documentation in all 3 packages, plus default + links in the changelog should cover it. Maybe even update the starter / generator packages.

Yeah, I'll add validation to the babel plugin settings though. It should yell at you.

Those 3 packages will have to remove their current Prism imports, so the consumer can configure it completely. This might be a breaking change for those packages; not sure

[2018-06-11 13:20] kenwheeler commented on #536
Does using the hasSlideChildren prop, when using the new component work for you?

[2018-06-11 13:24] kenwheeler commented on #522
Can someone provide a repo that demonstrates this issue so that I can investigate further?

[2018-06-11 13:26] #513 closed, assigned to nobody

[2018-06-11 13:27] kenwheeler commented on #506
If thats a heading, its a block level element, you would have to change it to inline block or set the justification to left

[2018-06-11 13:27] #506 closed

[2018-06-11 13:29] kenwheeler commented on #488
Does this happen in prod as well as dev?

[2018-06-11 13:32] kenwheeler commented on #487
I'm not sure I understand this request? Do you mean like when you press option-o in spectacle?

[2018-06-11 13:38] kenwheeler commented on #476
Whats the ideal API here? Like a config on Deck that allows overrides by event key?

[2018-06-11 13:38] kenwheeler commented on #475
I would love these updates!

[2018-06-11 13:49] kenwheeler commented on #472
Closing in favor of #476, where we'll likely make the key map override-able.

[2018-06-11 13:49] #472 closed

[2018-06-11 13:50] kenwheeler commented on #469
The Deck tag takes a custom history. This should allow you to pass in different histories more suited for the server.

[2018-06-11 13:50] #469 closed

[2018-06-11 14:03] vadimshvetsov commented on #500
Is it possible to solve width with `styled(Slide)`?
I'm trying to add styles to SlideContent with className from styled-components, but then animation of SlideContainers breaks.
Here is a code:
[code]
And the nothing is shown except background.

[2018-06-11 14:17] kenwheeler commented on #486
Hmm. You might have to put your provider inside the slide. Other than that, not seeing a clear fix for this atm. We'll be migrating to use the new context API, so in the future this conflict wont exist.

[2018-06-11 14:17] #486 closed

[2018-06-11 14:18] #467 closed

[2018-06-11 14:19] kenwheeler commented on #464
Not at the moment. URLs are pretty coupled to operation right now.

[2018-06-11 14:19] #464 closed

[2018-06-11 14:20] kenwheeler commented on #462
Are you using spectacle-scripts or the boilerplate?

[2018-06-11 14:21] kenwheeler commented on #455
Use the Fit and Fill tags

[2018-06-11 14:21] #455 closed

[2018-06-11 14:29] dileep-kishore commented on #487
No, I was referring to the ability to show multiple `spectacle` slide decks in an index page. Something like a table of contents that would contain a grid or a table of all the slide decks that are part of the "project".

[2018-06-11 14:36] MikeDabrowski commented on #462
I used boilerplate, but bear in mind that was in jan/feb so things could change since then.

[2018-06-11 15:46] AlanFoster commented on #476
For my particular use case I wished to provide my own implementation for the key shortcuts on a particular set of slides, but I believe @AjkP may have wanted a global handler implementation.

Perhaps the config could be implemented at the slide level, and follow the normal event bubbling mechanism that developers would expect. i.e. If a slide doesn't specify a handler, it will reach the Deck handl

[2018-06-12 02:06] coreybruyere opened #548 "progressColor and controlColor prop not working"
[code]

I'm not able to change progress bar color and arrow color via `controlColor` and `progressColor` props provided w/ the Slide component. I've tried a few of the other props listed in the docs for the Slide component and don't have any issues with them, just those 2. Am I missing something?

[2018-06-12 13:22] kitten commented on #536
@kenwheeler I've tried researching and refactoring to support this use-case before, if you recall it, and the biggest (only?) blocker was how slide transitions are handled using hooks on the component, instead of props or other means of animating.

Now that popmotion pose is pretty solid I'd propose for us to refactor to that and introduce a state for the transitions, i.e.: `'before-active' | 'act

[2018-06-12 13:27] kenwheeler commented on #536
@kitten I fully support that refactor, but does that solve this particular issue?

[2018-06-12 17:30] samwhale commented on #514
@thomasfarago Can you share a minimal repo with the bug?

[2018-06-12 19:13] samwhale commented on #524
The margin is applied as padding for the SlideContent:

https://github.com/FormidableLabs/spectacle/blob/d31c3467fc885245830477cd50845d099ab0a55f/src/components/slide-components.js#L51

Is this the expected behavior @kenwheeler? We could remove that and provide a `padding` prop that's passed through the Slide

[2018-06-13 12:20] kitten commented on #536
@kenwheeler it's a long way off tbh, but such a refactor would ultimately aim at removing all assumptions around the deck, slides, and context structure. It's a huge chunk of work though

[2018-06-15 16:18] LucaFranceschini opened #550 "Greater control on magic moves"
From the documentation:

So... here I am.

Currently, is there any way/hack to have some control over magic moves? Is there any ongoing attempt to implement this?

Consider the following:

[code]

Arguably, the most natural thing to expect would be for "this" and "magic" to get more distant letting "is" to appear between them. What spectacle does is to move the "i" from "magic" to the newly appear

[2018-06-17 01:12] iamstarkov commented on #469
@kenwheeler indeed `Deck` takes custom history, but you have no chance to get that far: somehow any import from spectacle throws `Invariant Violation: Hash history needs a DOM`

[2018-06-17 01:13] iamstarkov commented on #469
i had to write special component to load spectacle only on client side

[code]

@romelperez

[2018-06-18 19:36] iamstarkov commented on #469
it is due to this line in in [controller.js](https://github.com/FormidableLabs/spectacle/blob/9391dfb003bba53a4230e73d699333c679b197fe/src/utils/controller.js#L10)

[code]

which is invoked straight away, so it will be invoked whenever this file is imported. And it happens in [`deck.js`](https://github.com/FormidableLabs/spectacle/blob/9391dfb003bba53a4230e73d699333c679b197fe/src/components/deck.j

[2018-06-18 19:36] iamstarkov commented on #469
/cc @kenwheeler

[2018-06-19 22:29] thochra opened #551 "Firefox complains about "TypeError: CSS2Properties doesn't have an indexed property setter for '0'""
Hello,

I was giving a try to some markdown support and I found that with tables it fails at rendering on Firefox.
I'm using the boilerplate (with the "patch" 4.0.4 applied on the package.json => https://github.com/FormidableLabs/spectacle-boilerplate/issues/57).

[code]

The presentation code is this one:
[code]

By going on slide 2 it should fail with firefox but not with chromium.

I tried to g

[2018-06-21 22:37] horacioh commented on #522
I don't think this is related to the project but jest itself. this error happens to me with a plain javascript setup.. I can share my setup @kenwheeler but dunno if its relevant in this project

[2018-06-27 02:17] artyomtrityak commented on #522
you can use `npm install babel-loader@next` if you're using webpack

[2018-06-27 20:15] mplis opened #552 "Error when initializing with spectacle-scripts"
node version: 8.9.4
npm version: 5.6.0
create-react-app version: 1.5.2

[code]

[2018-06-28 01:32] bdarnell commented on #536
I didn't use transitions in my presentation, so it's possible that I missed something that would make transitions work (I see that [codeslide has some methods](https://github.com/jamiebuilds/spectacle-code-slide/blob/978dffec405d14d135057f99b6306ed2717b46a0/src/CodeSlide.js#L75-L106) that I didn't implement here)

I think my issue is mainly separate from transitions: function-based components rais

[2018-07-04 22:34] thomasfarago opened #553 "Opt to have bgImage .gif files not replay?"
Is this an option that can be added? Would help greatly.

(Having them stop on the last frame would be amazing.)

[2018-07-05 16:59] #525 closed

[2018-07-05 18:00] samwhale commented on #457
Hi @MikeDabrowski, could you give me a small pen that I could take a look at to reproduce the problem?

[2018-07-06 06:46] thomasfarago opened #555 "bgImage load lag"
I think it makes a lot of sense to have the next ~5-10 slides' images (<img> tag and **bgImage**s) load in advance, so as to ensure that there's a seamless transition. I have some **bgImage**s that are higher-resolution images (or animated .gifs), and they frustratingly take too long to get going when Spectacle is loading them in.

One caveat here is that gifs don't start from their beginning poin

[2018-07-06 12:30] Alekos92 opened #556 "Typescript Support"
I have been trying for several hours to get typescript to work with spectacle.
The @types/spectacle definition file seems to have several shortcomings, like missing components. For example, Anim is not even included.

The only way I managed to get the full functionality of spectacle was to clone the repo and work from there. This way my typescript React components were functioning properly in my p

[2018-07-10 02:06] nalgritz opened #557 "Slide background radial-gradient support"
I tried to add gradient background color to Slide tag. As `Silde` doesn't have background props so i added as follow:
[code]
However it only shows white background color. Also tried below return transparent background but still no radial-gradient
[code]
I wonder if it supports gradient background?

[2018-07-11 13:04] imranolas opened #558 "Prism version conflict: Continuation of #546"
Continuation of #546

The `tl;dr` is that the "normal" way we import Prism in `react-live` and `spectacle` completely collide as Prism doesn't allow for multiple versions to exist, so we're currently bandaiding to always use `1.6.0`.

Work:

- [ ] Research and identify a better means of allowing us to have multiple projects with potentially _different_ versions of prism installed.

[2018-07-12 21:30] Alekos92 opened #559 "Wrong slide transition after using overview mode"
I noticed there's some sort of a bug when using overview mode to move back in the presentation.

Steps to reproduce:

- Open multi-slide Spectacle presentation.
- Go to one of the last slides of the presentation.
- Use overview mode (Alt + O) to overview slides and select first slide of presentation.
- Press right arrow button to transition to second slide.
- Presentation actually moves to the sli

[2018-07-24 15:10] tizano commented on #548
Hello @coreybruyere, I don't know if you resolved the issue. But there is a workaround. You can set the progress bar's color by changing the quarternary theme's color.

For example :
[code]

and then set it to the Deck component
[code]

I hope it will be useful 😄

[2018-07-28 00:37] loraxx753 commented on #536
Not sure if it helps or is even related, but I've been building up my custom slides like this:

[code]

[2018-07-29 21:58] jalmarazg commented on #557
Hi!
Actually I tried what you wanted and actually got a workaround. So, I'll first tell you why It's not working with the actual properties of the "Slide" tag:

### Reproducing the scenario
In this case I tried using ```bgColor``` as you suggested but got no results. After that, I tried creating a _theme_ with the ```createTheme``` method and tried with ```bgImage``` again with no results.
I decid

[2018-07-30 14:39] shuminyang commented on #486
Yeah, I see. I "solved" it by using the Context API on my side.

[2018-08-01 07:11] gogulanareshkw commented on #522
please help me to resolve compatibilty issue.

 "dependencies": {
    "@babel/core": "^7.0.0-beta.55",
    "@babel/preset-env": "^7.0.0-beta.55",
    "@babel/preset-react": "^7.0.0-beta.55",
    "native-base": "^2.6.1",
    "react": "^16.4.1",
    "react-native": "^0.55.4",
    "react-native-code-push": "^5.4.1",
    "react-native-vector-icons": "^4.6.0",
  },
  "devDependencies": {
    "babel-esl

[2018-08-03 13:04] romellogoodman opened #563 "Fullscreen button is not applying the tertiary color from the theme"
Hey!

Im noticing a bug where the fullscreen button is not applying the tertiary color i set in the theme. This happens both when hovered and not hovered.

[2018-08-08 15:48] markerikson commented on #456
Pretty much, yeah.

[2018-08-09 13:12] Benjamsk opened #565 "Feature Request: code-slide with semantic highlighting and walk-through"
Thanks for building such a great library for presentations.

I see many struggle with compatibility of the spectacle-code-slide with newer versions of spectacle, and so I suggest adding a code-slide with semantic highlighting and "walk-through-the-code" features (highlighting code in focus, darkening/blurring out-of-focus code) to the spectacle package.

Thanks again

[2018-08-12 12:06] doronnac opened #567 "Keyboard events don't play well with react-live"
Noticed that keyboard events still work while inside react-live's pseudo textarea. Looking in the code, there is indeed a special handling for textarea but for the standard one only.

I submitted a [PR](https://github.com/FormidableLabs/spectacle/pull/566) which adds awareness for react-live textarea, and also added `keyboard` prop in Deck component to manually toggle keyboard events.

Tests will

[2018-08-12 14:06] ryan-roemer commented on #456
It looks like this landed in `spectacle-scripts` a while ago https://github.com/FormidableLabs/spectacle-scripts/pull/2 but we maybe forgot to publish it to npm.

Can someone verify / try things off of github master and report back here? Thanks!

[2018-08-13 08:13] benwiley4000 commented on #536
The comments in the first post helped me solve my problem. Animations started kicking in once I started spreading all my unused props to the child `Slide` component in my custom components.

[code]

[2018-08-14 19:00] codepunkt opened #570 "Feature request: Brighten background images"
Sometimes you have images that can only be placed on bright backgrounds. That is easily doable with a bright `bgColor`, but whenever you use a `bgImage`, you can only darken it using `bgDarken`.

I would like to be able to have background images, that are lightened up instead.

API proposals:
1. add `bgLighten` to do so _or_
2. add something like `bgBrightness` or `bgImageBrightness` which could b

[2018-08-15 18:44] boygirl commented on #567
closed by https://github.com/FormidableLabs/spectacle/pull/566

[2018-08-15 18:44] #567 closed

[2018-08-16 08:57] rayj10 commented on #522
@rmc33 tried ur solution, giving me this upon installation:

No matching version found for babel-loader@8.0.0-beta
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

any idea why?

[2018-08-16 22:59] rmc33 commented on #522
Hi @rayj10
That is because you are using babel-loader**@**8.0.0-beta instead of babel-loader**@^**8.0.0-beta. There is no specific version 8.0.0-beta so if you wanted to reference a specific 8 version check https://www.npmjs.com/package/babel-loader, I see the latest is babel-loader@8.0.0-beta**.4**

[2018-08-17 00:03] rayj10 commented on #522
@rmc33 Ah yes i see thanks for the pointers! :smile:

[2018-08-17 00:15] rmc33 commented on #522
@rayj10 no problem, as you can see babel-core changed to @babel/core at version 7 which will cause these problems if you are still using loaders, plugins or presets that use babel-core, maybe you need to keep babel-core for some time or go ahead and upgrade if they are available for @babel/core.

[2018-08-17 08:57] greeeg commented on #450
@markerikson @tim-soft I finally found a way to organize custom slides and pass them data.

A custom slide might look like this:
[code]

And then comes the tricky way to use this slide:
[code]

[2018-08-22 17:50] ebrillhart commented on #570
Hey @codepunkt! This is something that's in-progress and will be merged soon. Thanks! Closing with reference to #445

[2018-08-22 17:50] #570 closed

[2018-08-22 17:51] ebrillhart commented on #565
Thanks @Benjamsk! Looking into this.

[2018-08-22 17:52] ebrillhart commented on #563
Thanks @romellogoodman! We'll look into this.

[2018-08-22 17:52] ebrillhart commented on #559
Thanks @Alekos92, we'll look into this.

[2018-08-22 17:53] ebrillhart commented on #556
Thanks @Alekos92, we'll consider this.

[2018-08-22 17:55] ebrillhart commented on #551
Thanks @thochra, we'll look into this!

[2018-08-22 17:56] ebrillhart commented on #550
Thanks @LucaFranceschini, we'll look into this!

[2018-08-24 23:08] totemcaf opened #572 "Suspicious HTML fontSize setting"
I was seeing in slide-wrapper.js that any wrapped component modifies the fontSize of the HTML tag based on its own zoom state.

[code]

Is this correct?

What's the use of "viewerScaleMode" attribute?

I was looking for the code that modifies the fontSize of the HTML element after the page starts rendering.

[2018-08-26 23:49] ebrillhart commented on #572
Hi @totemcaf! Could you give a bit more detail about what you're trying to do/looking for, or the issue you're running into? That would help me make sure we answer your question fully!

[2018-08-27 17:05] ebrillhart commented on #514
Hi @thomasfarago the `textAlign` prop seems to be working as intended when I test it out. Closing for now, but if I'm misunderstanding the issue or you're encountering another one, please feel free to open a new issue!

[2018-08-27 17:05] #514 closed

[2018-08-27 17:56] #563 closed

[2018-08-28 17:35] ebrillhart commented on #61
Closing this - I think #295 satisfies the general need!

[2018-08-28 17:35] #61 closed

[2018-08-28 17:45] #152 closed

[2018-08-28 17:47] ebrillhart commented on #412
hey @kitten I'm going through and cleaning up the backlog - was this feature ever implemented/can this issue be closed?

[2018-08-28 20:34] ebrillhart commented on #553
Hi @thomasfarago, unfortunately this is a pretty complicated piece of functionality and has much more to do with the .gif file itself than with anything that we could reasonably add to the Spectacle library. I hope you're able to find another workaround for this issue! Might be worth looking into processing the image with something like https://davidwalsh.name/prevent-gif-loop before adding it to

[2018-08-28 20:34] #553 closed

[2018-08-29 19:44] kitten commented on #412
@ebrillhart It was started by Ken before he left. Not sure if any more cleanup work is needed :)

[2018-08-29 20:50] AjkP commented on #476
I really want a set of hotkeys to be overridden by spectacle into doing nothing.

I.e. in the preferences have a `disable hotkeys`, where I can input a bunch of hotkeys I want to do NOTHING ever.

As an explanation about why... it's because I already do it.
Spectacle hotkeys take precedence over all other apps. I use this fact to hack some hotkeys into spectacle hotkeys that I don't care about, so

[2018-08-31 10:45] peterrattew commented on #522
I would recommend using [Babel Upgrade](https://github.com/babel/babel-upgrade) and let it update all your dependencies to whats needed.

[2018-09-01 15:53] developer239 commented on #522
@peterrattew thank you so much 🙂 that tool is priceless

[2018-09-03 13:00] harrison-ifeanyichukwu commented on #522
@PT-Jessica, @LeBenLeBen , @joeLloyd
in version 7, babel decided to implement their stuffs as **scoped packages**, whereby you simply replace `babel-` to `@babel/`.

**Examples:**
`babel-register` => `@babel/register`
`babel-core` => `@babel/core`.

if you are using babel 7, then you have to install all dependencies with the naming convention shown above. `babel-eslint` would be `@babel/eslint`, s

[2018-09-04 14:02] philipwhiuk opened #578 "Notes only mode"
It would be nice to have a mode that just provided a printable version of the notes for each slides.

This would be good for scenarios where you won't have a second screen to present from and want to print your slide notes.

It would render as a fairly basic page with the notes for all the slides.

`/?notes` seems like the right URL flag.

[2018-09-04 16:30] ebrillhart commented on #578
Thanks @philipwhiuk, we'll look into adding this!

[2018-09-04 18:54] ElreyB commented on #548
Hello @coreybruyere, I tried to recreate the issue using your code snippet but was able to change the colors of both arrow and progress bar. Are you still getting the same bug or has this been resolved?

[code]
Before
![screen shot 2018-09-04 at 10 42 08 am](https://user-images.githubusercontent.com/20192033/45051395-d13ea180-b038-11e8-8c2f-5d42381e0079.png)

After

![screen shot 2018-09-04 at 10

[2018-09-04 18:56] ElreyB commented on #548
Closes #548

[2018-09-04 18:58] #548 closed

[2018-09-05 21:06] ElreyB opened #580 "Quote tag not visible in Blockquote"
### Describe Your Environment
 What version of Spectacle are you using? (can be found by running `npm list spectacle`)
	-spectacle-scripts@2.0.0
 	-spectacle@4.4.1

 What version of React are you using? (can be found by running `npm list react`)
	-react@16.4.2

 What browser are you using?
	-Chrome

 What machine are you on?
	-Mac

 ### Describe the Problem

When using the `BlockQuote` tag the `Qu

[2018-09-05 21:19] ebrillhart commented on #580
hey @ElreyB! my suspicion is that in the default theme, both the slide background and the quote tag are assigned the same color. can you try applying `textColor: 'primary'` as a prop to the `<Quote/>` tag?

[2018-09-05 21:51] ElreyB commented on #580
@ebrillhart When using `textColor: 'primary'` it still doesn't show up. I am assume this is the default textColor for the `Quote` tag because when I use `textColor: 'secondary'` it shows up.

[2018-09-05 22:27] ebrillhart commented on #580
okay! I might look at this a little more to make sure my assumptions are correct. thanks for raising!

[2018-09-05 23:17] affanshahid commented on #536
Even spreading the props isnt working for me, is this something thats on the "roadmap" ? Amazing stuff would be even better if I can break up my slides into components

[2018-09-06 00:42] NicholasAaronBrady commented on #211
old thread.. but I looked here while trying to find the answer. You can pass `textSize={20}`
[code]

[2018-09-06 21:46] ebrillhart commented on #572
Hey @totemcaf since we haven't heard from you I'm going to close this issue. Please feel free to re-open if it's still causing you problems!

[2018-09-06 21:46] #572 closed

[2018-09-07 09:10] LucaFranceschini opened #582 "Poor performance in Chromium"
I experience poor performance in Chromium when I start the presentation, namely, transitions are definitely not smooth. Even running the boilerplate example or the live demo on the website exhibits the problem. In Firefox transitions are smooth.

I am using Chromium 69.0.3497.8, on an Arch Linux 64 bits machine.

Is this some kind of known issue? If so, is there a known solution?
Otherwise, can I

[2018-09-07 09:20] ebertmi commented on #582
@LucaFranceschini are you using slides.com or spectacle? Slides.com uses reval.js for the presentations and is not react based.

[2018-09-07 09:35] LucaFranceschini commented on #582
@ebertmi Sorry I messed up cause I was trying both. Edited, thanks. Sorry for confusion.

[2018-09-07 10:37] limoozyn opened #583 "Stop/Continue Autoplay with keyboard shortcut on current slide"
Hi,

Your product looks great!

###Description

Now the feature I expected to exist.
I was not able to _stop_ presentation on current slide, only left/right arrow buttons work. But they lead to prev/next slide. The only way worked for me is creating a button on each slide with onClick handler
`
handleClick() {
    this.setState({
        autoplay: !this.state.autoplay
    });
}
`

### Proposal

I

[2018-09-07 10:49] limoozyn opened #584 "Password protected presentation"
Hi,

### Description

It would be great, if presentation has option to prompt password before showing actual presentation.
It is for the use case if presentation is shared by link but needs authorize user before showing him slide.

[2018-09-07 10:59] limoozyn opened #585 "Visible menu to turn on Autoplay, Overview, Fullscreen, Print etc."
### Description
Hi,

My use case is shareable presentation. So the target person surely is unaware of  keyboard shortcuts.
It would be great to have visible menu somewhere on the bottom of the screen, which duplicate the shortcuts functionality.

[2018-09-07 17:54] ebrillhart commented on #582
Hi @LucaFranceschini thanks for the info, we'll look into this.

[2018-09-07 17:57] ebrillhart commented on #584
Hi @limoozyn thanks for the feedback! This is an interesting idea, but not one that we are going to pursue - for the meantime, a manual way to get around this would be sharing the link in a password-protected document or other secure file-sharing method. I'll close this issue, but hope this helps!

[2018-09-07 17:57] #584 closed

[2018-09-07 18:02] ebrillhart commented on #580
Okay, my assumptions on this were correct, and the right fix is to update which color the Quote uses if default theme is applied. Thanks for helping to clarify this in the docs!

[2018-09-07 18:02] #580 closed

[2018-09-07 18:06] kale-stew commented on #475
@siakaramalegos thank you for pointing these inconsistencies out! we are addressing these in #577 and working to update `<SlideSet />` so it actually functions as documented 😅

[2018-09-07 20:43] kale-stew opened #586 "SlideSet behavior is not as expected"
### Describe Your Environment

What version of Spectacle are you using? `"spectacle": "5.1.0"`

What version of React are you using? `"react": "16.4.2"`

What browser are you using? Google Chrome

What machine are you on? Mac OSX

### Describe the Problem

[This CodePen](https://codesandbox.io/s/6wyvy4p85n) describes the problem well.

**Expected behavior:** We should be able to extend styles to a

[2018-09-08 00:40] ccorcos commented on #522
I think the problem has to do with Jest using an older version of Babel.

[2018-09-08 00:41] ccorcos commented on #522
Maybe try forcing Jest to use babel 7.

https://github.com/babel/babel/issues/8206#issuecomment-399137890

[code]

[2018-09-12 06:47] elangovanshanthi commented on #522
Just add  `"@babel/cli": "^7.0.0"`  into your `package.json` file and `npm install.`
It will resolve this issue.

[2018-09-12 06:49] za-ek commented on #522
Replacing all packages like 'babel-core', 'babel-cli' etc.. with '@babel/core', '@babel/cli' solve the problem.

[2018-09-15 05:04] codepunkt commented on #570
Thanks Emma! 👍

[2018-09-17 21:11] ebrillhart commented on #557
closed by #587

[2018-09-17 21:11] #557 closed

[2018-09-17 23:33] #475 closed

[2018-09-19 20:50] iamstarkov commented on #469
@dharmeshkakadia have you tried it? I use dynamic import in client-side only react lifecycle method

[2018-09-19 23:47] iamstarkov commented on #469
@dharmeshkakadia  you do not import anything from spectacle manually, you should utilise (like I use `Deck` from the callback argument) render prop's callback's arguments which reflects [spectacle's exports](https://github.com/FormidableLabs/spectacle/blob/master/src/index.js#L43-L76) and they are:

[code]

and I dont see `createTheme` in this list

[2018-09-20 02:32] brybrophy commented on #522
I just dealt with this issue after upgrading all of the packages in react-progressive-image.

The problem there was with `babel-jest`.  The babel-jest repo has this note in it.
<img width="910" alt="screen shot 2018-09-19 at 7 31 29 pm" src="https://user-images.githubusercontent.com/16469185/45792476-b6784980-bc42-11e8-8db7-2eb57a51fb66.png">

[2018-09-20 03:52] #428 closed

[2018-09-20 04:34] ebrillhart commented on #445
closed with #542

[2018-09-20 04:34] #445 closed

[2018-09-22 21:08] ganeshchand opened #593 "How can I separate my slides into other files?"
This section in the README.md is left empty. If it's possible to separate slides into separate files, could you please document it?

[2018-09-22 21:42] ebrillhart commented on #593
Hi @ganeshchand, thanks for raising this issue. We'll fix the documentation.

In the meantime, the easiest way to separate slides into separate files (if you mean what I think you mean) is to create a component in a separate file that modifies a `<Slide />` component in the way that you want, and then importing it into your presentation index file.

Let me know if you have any other questions.

[2018-09-22 21:47] ebrillhart opened #594 "Add a "Getting Started" Tutorial"
### Description

I'd like to have a basic "getting started" tutorial for Spectacle similar to [the one we have for Victory](https://formidable.com/open-source/victory/docs/)

### Proposal

I'd like to add it in a separate TUTORIAL.md file at the root level of the project and then link to it in the main README in the getting started section.

[2018-09-22 23:06] ebrillhart commented on #593
Going to close this since it's not actionable beyond the feature that we're already slated to fix.

[2018-09-22 23:06] #593 closed

[2018-09-23 21:51] clemgrim opened #596 "Export issue: exports only the last slide"
- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] This issue not specific to `spectacle-boilerplate` (those issues should be opened [here](https://github.com/FormidableLabs/spectacle-boilerplate/issues/new)).
- [x] I have read through the [docs](https://formidable.com/open-source/spectacle/docs/) before as

[2018-09-24 06:45] bhariyani commented on #522
install "@babel/core": "^7.1.0" that will fix.

[2018-09-24 17:10] ebrillhart commented on #596
Hi @clemgrim thanks for letting me know that you're running into this! We'll investigate ASAP.

[2018-09-24 17:18] ryan-roemer commented on #596
Suggest verifying against local host for our own demo _first_ w 1. Export to pdf in browser, 2. Using spectacle-renderer

If that doesn’t repro the issue, let’s then ask for a full non working sample to verify against

[2018-09-25 08:09] DZuz14 commented on #522
For me it was as simple as:
[code]
Jest was not working until I added the bridge package below @babel/core

[2018-09-25 17:50] ebrillhart commented on #540
closed with #591

[2018-09-25 17:50] #540 closed

[2018-09-26 18:15] ebrillhart commented on #596
I think this is connected to #586

[2018-09-27 02:01] datagurkhas commented on #456
I am stuck on this issue too. I have been trying to use `CodePane` to load my code from a file and it doesn't seem to work. I wonder how these people got it working:

- https://github.com/sebald/spectacle-theme-nova/blob/master/example/index.js#L154

- https://github.com/jamiebuilds/spectacle-code-slide
This also means I am unable to use `spectacle-code-slide`. If this extension no longer works wi

[2018-10-01 15:06] AdamMaras opened #597 "CodePane within Appear prevents navigating backwards"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] This issue not specific to `spectacle-boilerplate` (those issues should be opened [here](https://github.com/FormidableLabs/spectacle-boilerplate/issues/ne

[2018-10-01 15:20] JCofman commented on #456
I had the same issue so the easiest way for me to resolve this was to:

1. Install dependencies
[code]
2. Configure react-app-rewired create a `config-overides.js` file in the root directory and add the following:
[code]
3. Replace standard scripts in the `package.json` with react-rewired:

[code]

[2018-10-01 16:53] ebrillhart commented on #597
Thanks @AdamMaras, we'll look into this

[2018-10-03 19:45] audoralc commented on #594
Would be happy to help out with this if it's still available.

[2018-10-03 20:08] sylvainar commented on #529
I personally use :
[code]

HOCs can help you too.

[2018-10-03 20:10] sylvainar commented on #487
You mean overview ? http://stack.formidable.com/spectacle/#/?overview&_k=9k1bip

[2018-10-03 20:54] ebrillhart commented on #594
@audoralc yep! feel free to take a whack at it. assign yourself to the issue if you start working on it, and good luck 🙂!

[2018-10-05 18:11] ebrillhart commented on #597
hey @AdamMaras, try wrapping the codepane element inside a div as recommended here: https://github.com/FormidableLabs/spectacle/pull/598

and let me know if that solves your problem!

[2018-10-08 16:41] dileep-kishore commented on #487
What I meant was an overview (just a preview of the first slide maybe) of a collection of `Deck`s not `Slide`s.

[2018-10-08 20:35] AdamMaras commented on #597
I can confirm that this workaround indeed fixes the problem, and that the `Appear`'d `CodePane`s are now behaving as expected.

Thanks!

[2018-10-08 20:35] #597 closed

[2018-10-09 23:13] condef5 opened #600 "Curious question"
### Question

Congratulations for this incredible wonder <3
I have a curious question, how they manage to send the content of the first tab to a second screen (ctrl + p command) and how they manage to synchronize the changes.

[2018-10-10 16:57] condef5 commented on #600
I found the answers in the source code xd.
Leave these links for future curious people like me:
* [PresentationRequest](https://developer.mozilla.org/en-US/docs/Web/API/PresentationRequest)
* [Events localstorage](https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API/Using_the_Web_Storage_API#Responding_to_storage_changes_with_the_StorageEvent)
* [Pull request](https://github.com/Formid

[2018-10-10 16:58] #600 closed

[2018-10-11 14:34] CaoThien96 opened #601 "How i can use HashRouter"
### Question
I see http://stack.formidable.com/spectacle/ , url is http://stack.formidable.com/spectacle/#/0 .
I want to do like it but when i use HashRouter. When i change slide url change from
http://localhost:3000/#/admin/present to http://localhost:3000/#/1.
Please help me fix it. Thank you everyone

[2018-10-14 12:03] ruslankhh commented on #522
I fix this problem with them.
[code]
[code]
[code]

[2018-10-16 20:11] AndyOGo opened #603 "Vertical Slides"
### Description

It would be nice to have support for vertical slides similar to `reveal.js`.

### Proposal

None yet.

### Links / References

DEMO: https://revealjs.com/#/2
Content: https://github.com/hakimel/reveal.js#markup

[2018-10-17 23:56] lecardozo opened #604 "iframe fullwidth background ?"
### Question
I'm trying to reproduce the same behavior of [Reveal.js iframe backgrounds](https://github.com/hakimel/reveal.js/#iframe-backgrounds) with spectacle but, so far, I haven't been successful. I think a similar approach could be used for #510. Any idea on how could I achieve this?

Thanks for such a great project! :smile:

### Background Info/Attempts
What I tried, so far:

[code]

[2018-10-18 17:28] timkuilman opened #605 "TokContext is not a constructor"
Hi there!

I'm eager to try out spectacle but unfortunately I'm running into some problems that I can not seem to fix!

### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [V] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [V] This issue not specific to `specta

[2018-10-21 18:57] jtiscione commented on #605
I'm seeing this too. I tried downgrading Node to version 8 but that didn't fix anything.
I tried cloning and running spectacle-boilerplate, but that yields a similar error message.
<img width="577" alt="screen shot 2018-10-21 at 12 55 08 pm" src="https://user-images.githubusercontent.com/5413726/47270993-c7152b80-d530-11e8-9c9e-1a53b4be9535.png">

[2018-10-22 10:04] ssmyczynski commented on #605
+1

[2018-10-22 10:38] timkuilman commented on #605
@jtiscione You can reset the Spectacle boilerplate to commit be8cfa6dd7f207b2a11b09542ec68cd18e24833f. This is the first commit that is working properly!

It seems that this bug was introduced when the spectacle version was bumped from 4.0.0 to 5.1.0.

[2018-10-22 15:10] ssmyczynski commented on #605
Found solution somewhere else:
[code]
Works for me.
(https://github.com/pedronauck/docz/issues/416#issuecomment-430520805)

[2018-10-22 15:48] timkuilman commented on #605
Works for me too! I had to save it as a dev dependency on the boilerplate though!

[2018-10-22 16:00] jtiscione commented on #605
Success here also, with the "classic setup" created by `npx create-react-app my-presentation --scripts-version spectacle-scripts`. I inserted "buble": "0.19.4" in package.json (i.e. the exact version).

[2018-10-22 19:29] jeffzaccagnini commented on #605
Same issue. The only thing that worked for me was switching to branch: be8cfa6dd7f207b2a11b09542ec68cd18e24833f. I hope this gets fixed soon!

[2018-10-26 18:54] justsml opened #607 "Zoom-in doesn't scale slides & contents linearly"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

What browser are you using?

### Describe the Problem

As you zoom with `Cmd +` the content gets smaller (between 100%-175%) before it actually gets bigger.

To me this is a usability & an accessibility concern.

**Expected behavior:** Contents should scale with page zoom.

**Act

[2018-10-27 16:08] andyrichardson commented on #605
Good news - this issue doesn't seem to be present anymore.

As @ssmyczynski found, the problem was specific to version `0.19.5` of `buble` ([discussion here](https://github.com/Rich-Harris/buble/issues/159)) and looks to be fixed in version `0.19.6`.

Maybe adding a _package-lock.json_ to  [spectacle-scripts](https://github.com/FormidableLabs/spectacle-scripts/) would prevent issues like this in t

[2018-10-28 02:32] fullstackzach opened #608 "Display a component on every slide (Like a footer?)"
### Description

Including the problem you want to address, use cases, benefits, and/or goals.

I would like to be able to include my twitter handle / github username at the bottom left of every slide.
I know the fullscreen icon currently occupies the lower right corner.  This would help my audience know how to follow me throughout the presentation, not only on my intro about-me slide.

### Propos

[2018-10-28 03:15] fullstackzach commented on #608
I was able to workaround this by adding my own `Footer` component outside of the `Deck` component like this
[code]
 and assigning the styles
[code]

This placed my `Footer` component at the bottom left of every page

[2018-10-28 03:15] #608 closed

[2018-10-29 19:44] GTOsss commented on #522
I have the same problem.

Error: Requires Babel "^7.0.0-0", but was loaded with "6.26.3"...

I tryed install

Package.json:
[code]

.babelrc:
[code]

[2018-10-29 22:13] rmc33 commented on #522
Oh I see you don’t need babel-core since you have @babel/core and replace babel-cli with @babel/cli

[2018-10-30 05:37] GTOsss commented on #522
@rmc33 Thank you!

[2018-10-30 07:36] harrison-ifeanyichukwu commented on #522
I am using jest with **babel 7**. here is how i did it and it is working very fine, install the following packages

[code]

[2018-10-31 20:35] #559 closed

[2018-11-05 04:49] shreyasbharath opened #609 "Borders around tables?"
Hi there, is this possible at the moment?

I have searched the whole repo and I found no reference to borders for tables.

[2018-11-06 13:38] xuxinhang commented on #522
Please check carefully whether there is `babel-core` or other Babel7-styled npm package in your `node_modules`. Remove the whole `node_modules` and `yarn.lock`, then re-install all the packages again.
That works for my gulp configuration.

[2018-11-06 20:09] suhailsinghbains commented on #594
Hi, can I be assigned this bug, would love to work on it :)

[2018-11-06 21:31] 40x opened #610 "Spectacle Scripts + React 16.6 - unable to run build"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

└─┬ spectacle-scripts@2.0.0
  └── spectacle@4.4.1

What version of React are you using? (can be found by running `npm list react`)

└── react@16.6.0

What browser are you using?

Chrome

What machine are you on?

MacBook

### Describe the Problem

Build fails with an error:

<img

[2018-11-06 21:47] ebrillhart commented on #594
github won't let me formally assign you @suhailsinghbains but go for it!

[2018-11-06 22:09] sambarrowclough commented on #522
replace
[code]

with
[code]

[2018-11-07 14:12] motleydev opened #612 "bgImage, bgGradient, bgImageStyle don't work."
### Describe Your Environment
I am using version 5.2, previewing in Chrome

### Describe the Problem
Slide doesn't respect `bgImage|Gradient|ImageStyle`

https://codesandbox.io/s/1wz23w3jyj

**Expected behavior:** [What you expect to happen]
A background gradient to appear
**Actual behavior:** [What actually happens]
Just a white background (or whatever the current theme's primary field is) is app

[2018-11-07 17:13] glennsayers commented on #596
I can reproduce this pretty reliably. It occurs for me when I import a slide from another file rather than having everything inline.

This works:
[code]

This doesn't:

[code]

[2018-11-07 19:46] ebrillhart commented on #609
hey @shreyasbharath, could you please put together some sort of code snippet with what you're trying to illustrate the issue you're running into? thanks!

[2018-11-07 19:46] ebrillhart commented on #604
@lecardozo we'll look into this, thanks!

[2018-11-07 19:48] ebrillhart commented on #601
hey @CaoThien96 could you throw together a quick codesandbox to illustrate more fully the problem you're running into? thanks!

[2018-11-07 19:51] #612 closed

[2018-11-08 05:57] motleydev commented on #612
Wow, thanks for the super fast fix on this! I would have looked into it myself, but I actually need to get the presentation done! :)

[2018-11-08 09:30] motleydev opened #614 "Anim does not animate transforms on g tags."
**Expected behavior:** [What you expect to happen]
Anim to animate `<g />` tags.
**Actual behavior:** [What actually happens]
Does not animate g tags using transform.
### Additional Information
I'll try to ad some code when I have a moment, but for now the issue can be reported.

[2018-11-08 09:44] motleydev commented on #614
The issue is that it doesn't work without units like px after the values.

[2018-11-08 11:18] westmark commented on #500
I worked around this problem like so

[code]

[2018-11-08 13:18] suhailsinghbains commented on #594
Okay, no problem, working on it :)

[2018-11-08 14:44] suhailsinghbains commented on #594
r ? @ebrillhart

[2018-11-09 02:49] ibelem commented on #610
Exact same build error on Windows 10, please help.

package.json file:

[code]

npm run-script build

[code]

[2018-11-09 08:11] yutianhaijiao commented on #522
I started with NPM and then I started with yarn ，so I use rm -rf node_moudules  and package_lock.json without work . at last  rm -rf yarn.lock and rm -rf node_moudules . and then  yarn install  .it is work fine.

[2018-11-09 10:58] Alekos92 commented on #556
Greetings,

I have not been using Visual Studio, I have been using WebStorm. I don't think it's an IDE-specific problem, though. I think the main issue is missing definitions and definitions with wrong argument types.

For the time being, I have decided to bite the bullet and use regular-old JavaScript, and I haven't touched on this issue for months. If I do and realize that the issue has been res

[2018-11-09 14:14] suhailsinghbains commented on #556
I had been working on Visual Studio, it's a pain to use it with TypeScript and importing ReactJS Libraries. However, this is not our issue.

Yeah, sure. I'll try it myself in a bit too :)

[2018-11-10 14:31] XVincentX commented on #174
Hey @kenwheeler,

I do not know how much you're involved in this project; however my use case here would be to change the state of a Victory Chart component in order to display different data instead of going to the next slide. Does that make sense to you?

[2018-11-13 11:14] sarath-sasikumar opened #616 "Display a react component in a slide"
### Question

Is it possible to display a react component in each individual slides.

### Background Info/Attempts

I would like to have a react component rendered in each of the slides, rather than any particular `<Text/>` etc.
I have tried putting in the `<div/>` inside the `<Slide/>` tag but it does not seem to work.

[2018-11-14 16:46] ebrillhart commented on #616
Hey @sarath-sasikumar are you trying to display the code for the component or the component itself?

[2018-11-14 22:30] ebrillhart commented on #450
Hey everyone, this issue is related to a known bug that we're in the process of fixing! Just wanted to give an update.

[2018-11-14 22:47] #522 closed

[2018-11-19 17:53] ashishdommety commented on #522
Installing `babel-core@^7.0.0-bridge.0` seems to work for me -- I already had `"@babel/core": "^7.1.6"` installed though.
Any pointers on why just `@babel-core` doesn't do the trick?

[2018-12-02 13:12] lennerd opened #617 "ComponentPlayground – Maximum update depth exceeded"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
spectacle@5.2.2

What version of React are you using? (can be found by running `npm list react`)
react@16.6.3

What browser are you using?
Chrome@70.0.3538.110

What machine are you on?
macOS@10.14.1

### Describe the Problem

When using the `ComponentPlayground` component with cu

[2018-12-02 13:50] lennerd commented on #617
I think the ComponentPlayground should actually be an uncontrolled component, right? Mixing both concepts in my experience is a very hard task leading to a lot of pitfalls and very complex components.

In the case of ComponentPlayground its currently not even working correctly when using the examples in this repo. Simply because the component overwrites changes to the code (in state) with the defa

[2018-12-03 20:27] sag1v opened #618 "prism plugins"
### Question

I'm sure i am missing something and it seems easy but for some reason i struggle with this.
I would like to use couple of prism plugins ([line-numbers](https://prismjs.com/plugins/line-numbers/) and [line-highlight](https://prismjs.com/plugins/line-highlight/)) and i have tried couple of things but no luck so far.

### Background Info/Attempts

I'm using the [spectacle-boilerplate](h

[2018-12-03 21:15] kitten commented on #618
If I'm correct this plugin requires some additional markup, like `line-numbers-rows`, which shouldn't be too hard to add? Its JS file might attempt to add this code by targeting specific other classes that we are not setting on the codepane. This was an older, conscious decision in this project, and also in `react-live`.

This is because modifying the DOM that React controls can sometimes be a bad

[2018-12-03 22:52] sag1v commented on #618
Yeah i have looked at `prism-react-renderer` and its flexible as hell, though i'm not sure it will help me, i mean it can help but there is a lot of work to do in order to achieve something that is already built in for prism.

As for `code-surfer` , this is  an amazing abstraction and a great tool, but again this is not what i'm looking for.

I'm actually trying to do something similar to [this pr

[2018-12-04 07:48] sarath-sasikumar commented on #616
Is there any answer for this !!.
It would be of great help !

[2018-12-04 15:53] bndray opened #620 "IE11: Viewport is not displayed properly"
Using IE11, the viewport is not displaying properly - the width of the slides are not fitting the width of the viewport, would it be possible to get support on this?

Spectacle version: Spectacle@5.2.2
OS: Windows 10
React version: react@15.6.2
Browser: IE11 (operates correctly on chrome/firefox

Thanks in advance!

[2018-12-04 16:21] #618 closed

[2018-12-04 18:42] ebrillhart commented on #616
@sarath-sasikumar If I understand correctly, this should just be working as-is! If you could post an example from codesandbox or similar, that might help us see the issue you're running into.

[2018-12-05 17:43] mfellner commented on #456
Apparently it's enough to turn off the eslint check by adding this comment line:
[code]

[2018-12-07 00:53] kale-stew commented on #556
I've opened a PR in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) to update our type definitions, which you can track [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/31146). It looks like the current definitions are _extremely_ out of date with the latest features/API, which would explain the problems you're reporting @Alekos92.

[2018-12-10 15:36] ebrillhart commented on #556
Closing this issue as type defs have been updated in DefinitelyTyped! See Kylie's comment for more details.

[2018-12-10 15:36] #556 closed

[2018-12-13 10:34] SilentFlute commented on #522
hi guys, i occur this problem too, and i try many solve ways above these answers, `babel-core@7.0.0-bridge.0` even upgraded `babel-loader` from `8.0.0` to `8.0.4`, until i see @Harrison Ifeanyichukwu , he mentioned `@babel/register`, and i realized i had `babel-register`, so i install `@babel/register` to instead it, then the problem still there, and i search `babel-register`, i find there is a `j

[2018-12-13 10:34] SilentFlute commented on #522
@harrison-ifeanyichukwu i am sorry😂😂

[2018-12-15 00:05] ebrillhart commented on #610
This should be fixed with an update to spectacle scripts

[2018-12-15 00:05] #610 closed

[2018-12-18 16:00] mfellner commented on #456
@jmagrippis Using `.txt` is OK but the downside is that it's more cumbersome to work with such files inside an editor, e.g. in VS code I need to manually set the correct file type, or to reuse them in some other context, e.g. use as actual working code.

Fortunately the raw-loader approach *just works* in the latest create-react-app version of spectacle: `require('!raw-loader!./something.js')`, th

[2018-12-20 22:44] rawrmonstar commented on #551
@thochra sorry for taking so long to investigate this. I can no longer reproduce using the current spectacle boilerplate and up-to-date stable Firefox. Please let me know if you are still experiencing this issue. Thanks 😄

[2018-12-20 22:44] #551 closed

[2018-12-22 01:24] rawrmonstar opened #627 "Package TypeScript Type definitions locally"
### Description

If we want to treat TypeScript as a first class citizen and require all changes to update the definitions it would probably be best to package the definitions in this repo instead of relying on DefinitelyTyped. It seems a little difficult to try to coordinate PRs to spectacle with type definition updates in a different repo.

### Proposal

I think we should maintain the type defin

[2018-12-22 16:37] kale-stew commented on #627
For context: I initially opted to keep our type definitions in DefinitelyTyped because

1- they were already there and broken, so it seemed more maintainable to just update them
2- the [TypeScript docs](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) recommend publishing type defs to DT instead of colocating them with the package _if the library is not written in TS

[2018-12-22 16:43] kale-stew commented on #627
The above being said, I agree that updating the defs separately from introducing the feature is a rough process and, since a bot handles merging DefinitelyTyped's PRs, there's potential for type defs to merge without the feature itself. This could get ugly quick

[2018-12-22 16:51] #594 closed

[2018-12-25 16:02] bruevin-paul commented on #522
"dependencies": {
    "express": "^4.16.4",
    "mongodb": "^3.1.10",
    "react": "^16.7.0",
    "react-dom": "^16.7.0"
  },
  "devDependencies": {
    "@babel/core": "^7.2.2",
    "@babel/preset-env": "^7.2.3",
    "@babel/preset-react": "^7.0.0",
    "@babel/preset-stage-2": "^7.0.0",
    "babel-core": "6.x || ^7.0.0-bridge.0",
    "babel-eslint": "^10.0.1",
    "babel-loader": "^8.0.4",
    "e

[2018-12-26 23:17] #434 closed

[2018-12-27 18:01] rawrmonstar commented on #526
This was fixed in #546

[2018-12-27 18:01] #526 closed

[2018-12-27 19:30] #397 closed

[2018-12-27 19:50] rawrmonstar commented on #627
I'll do this today

[2018-12-28 04:56] kevinsimper commented on #522
I made a working example of `babel-jest` after an hour of errors, so if any poor soul lands on this issue: https://github.com/kevinsimper/babel-jest-example

[2018-12-28 09:58] igbominadeveloper commented on #522
Did you edit your node_modules file?

[2018-12-28 17:51] #627 closed

[2018-12-28 18:54] #413 closed

[2018-12-29 00:07] ryan-roemer opened #631 "Feature: Upgrade babel libraries to non-beta."
### Description

We've got a lot of `-beta` babel deps in `package.json` like:

[code]

This causes our users to sometimes hit things like #522 which can be tricky to resolve. Also, we're on beta when all these babel libs are on `7.2.2`

### Proposal

Upgrade all `@babel` libs to current (presently `7.2.2`) and any related babel-supporting libraries to current.

### Links / References

- https://g

[2018-12-30 03:34] SilentFlute commented on #522
Nope!!!! Only the `webpack` config files, and now, I used a scaffold, it solved all the bundle and compile things, that I can focus on programming

[2019-01-08 16:05] MathEman-1 opened #633 "Feature: Autoplaying Toggle + Autoplay on Presentation Start prop/tag"
### Description

I have 2 minor improvement suggestions for the autoplay feature:
1. Alt/Option + A Start autoplay should be a toggle (start/stop depending on the state - same as the other key combination toggles)

Currently only starts the presentation, no key combination to pause the presentation -> would be great if this is a toggle.

2. Add prop/tag to Deck to pause autoplaying on slideshow st

[2019-01-08 17:17] ebrillhart commented on #633
Hi @MathEman-1, go ahead and create a PR from your forked repo to this repo and I'll review and give feedback! Thanks for putting in some work on this!

[2019-01-09 01:39] ebrillhart opened #634 "Upgrade Emotion to v.10+ (w/ related switch from react-emotion)"
### Description

Upgrade to `emotion` v.10+ and switch from `react-emotion` to `@emotion/core` and `@emotion/styled` where needed.

Will also require an update to `babel-plugin-emotion`

[2019-01-09 01:40] ebrillhart opened #635 "Upgrade to react-transition-group v2"
### Description

Make migration to `react-transition-group v2+

### Links / References

[Migration Docs](https://github.com/reactjs/react-transition-group/blob/HEAD/Migration.md)

[2019-01-09 02:46] kale-stew opened #636 "Magic move is broken"
### Describe Your Environment

What version of Spectacle are you using? `5.2.2`

What version of React are you using? `16.4.2`

What browser are you using? Chrome `v71.0.3578.98`

What machine are you on? 2017 MBP 13", running Mojave `v10.14.3 Beta`

### Describe the Problem

**Expected behavior:** Magic move to work like it did when it was released - [see gif here](https://formidable.com/assets/u

[2019-01-09 13:06] MathEman-1 commented on #633
Thanks for continued support of this cool library :)

I created a PR and went through the checklist, seems like the travis check failed - but not sure what to do about that.

[2019-01-09 17:47] ebrillhart opened #638 "Update react-redux"
Upgrade to `react-redux` v6+ and handle breaking changes

[2019-01-09 17:58] ebrillhart opened #639 "Update eslint ecosystem"
update the following to current:
[code]

[2019-01-09 19:09] paulowski commented on #522
I searched on the internet and tried different solution (attempts). Nothing worked. Among others I also removed `package.json` and `node_modules`. What worked is to uninstall `babel-jest` with having jest as the only modules parsing my tests.
This confuses me because I thought the `jest` module's [responsibility](https://en.wikipedia.org/wiki/Single_responsibility_principle) is only parsing test (

[2019-01-10 15:17] stevenmusumeche opened #640 "Export with Notes does not work"
What version of Spectacle are you using? **spectacle@5.2.2**

What version of React are you using? **react@16.7.0**

What browser are you using? **Google Chrome**

What machine are you on? **MacBook Pro**

**Describe the Problem**

I have a presentation created with MDX that includes notes.  I want to export the slides with notes to print, so I went to http://localhost:3000/#/1?export&notes.  Noth

[2019-01-10 15:41] stevenmusumeche opened #641 "Code highlighting doesn't use specified language"
### Describe Your Environment

What version of Spectacle are you using? **spectacle@5.3.0**

What version of React are you using? **react@16.7.0**

What browser are you using? **Google Chrome**

What machine are you on? **MacBook Pro**

### Describe the Problem

I created a new MDX presentation by following the instructions in the README (cloning the Spectacle Boilerplate, etc).  I added a few Cod

[2019-01-10 16:12] ebrillhart commented on #640
Hey @stevenmusumeche! This functionality was actually not released until 5.3.0, let me know if it's working for you on that version.

[2019-01-10 16:18] ebrillhart commented on #640
Closing since this _should_ be working in current version.

[2019-01-11 16:50] ebrillhart commented on #640
Hrmmm, good q, I'll look into it!

[2019-01-12 17:44] kale-stew commented on #640
I did not test these changes with MDX so there's a really good chance this was an oversight on my part. I can dig in @ebrillhart I think I know where the problem lies

[2019-01-15 06:54] TheBestJohn opened #644 "Feature request: implement a way to alert "next" press changes slide"
When you have a lot of appear tags, it can be difficult to remember which one is the last. It would be nice to pop some kind of indicator on the presenter screen that lets you know your next press will transition to a new slide.

[2019-01-15 17:18] #633 closed

[2019-01-15 17:19] ebrillhart commented on #583
closed by #637

[2019-01-16 18:52] blairbodnar commented on #522
Thanks for this @kevinsimper !

[2019-01-18 07:18] DeX3 opened #646 "Typescript type definitions are not part of 5.3.0 release"
### Describe Your Environment

What version of Spectacle are you using? 5.3.0

### Describe the Problem

Installing the latest version of spectacle via `yarn add spectacle` does not include the `index.d.ts` file currently at the base of this repo. The docs state that the library should ship with the type definitions, but they're missing in the release.

**Expected behavior:** `index.d.ts` exists i

[2019-01-18 15:50] #646 closed

[2019-01-18 17:39] ebrillhart opened #648 "Update Source-Map dependency"
Updating source-map to latest version has breaking changes, should be handled separately

[2019-01-18 19:22] #631 closed

[2019-01-28 23:56] vadimshvetsov commented on #565
@ebrillhart I've faced with many restrictions while was using `spectacle-code-slide`. The idea with jumping in code is so awesome for presenting, but there is no active maintainers. I see many great PR's and nobody merges this. I would like to maintain this library or trying to transfer this functional to spectacle as a component.Is it possible? @kenwheeler has an access to maintaining this librar

[2019-01-29 00:19] vadimshvetsov commented on #565
@ryan-roemer yeah, I know that this project is not a Formidable project, but there is a closed issue tracker and the last publisher is Ken 😄 Anyway, would be glad to do anything in this direction to get convenient code-walking slide (maintain or reimplement inside spectacle)

[2019-01-31 09:06] mighty-titan commented on #617
Any update at this? This is still a problem and @lennerd  solution works for the moment.

[2019-02-09 06:58] markerikson opened #651 "Example repo: a CRA-based Spectacle + MDX boilerplate"
I wanted to try out Spectacle's MDX support, but prefer to use CRA as my baseline project setup.  I looked at `spectacle-scripts`, but it doesn't seem to have MDX support added in.

I spent most of today trying to wrangle different pieces around, and eventually was able to put together a CRA repo that overrides some of the Webpack config to load MDX properly.  In the process, I also figured out ho

[2019-02-11 16:24] ebrillhart commented on #651
Thanks so much, @markerikson! I'm going to dig into this a bit more later this week

[2019-02-15 11:40] urmaul opened #653 "Handle PageDown and PageUp keys"
### Description

I want to be able to navigate between slides using wireless presenter. Some presenters (like mine) have keyboard keys PageUp and PageDown mapped to "Previous Slide"/"Next Slide" buttons.

### Proposal

Handle PageDown and PageUp keys and map them to nextSlide and prevSlide just like left and right arrow keys.

### Links / References

http://weibeld.net/mac/remap-presenter-keys.htm

[2019-02-15 18:55] urmaul commented on #653
Nevermind. I connected presenter to wrong laptop 😅

[2019-02-15 18:55] #653 closed

[2019-02-20 18:39] #437 closed

[2019-02-27 15:17] boardfish opened #654 "Full screen button does not change back"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`) 5.4.0

What version of React are you using? (can be found by running `npm list react`) 16.5.2

What browser are you using? Chrome

What machine are you on? MacBook

### Describe the Problem

**Expected behavior:** [What you expect to happen] Full screen button toggles its appearan

[2019-02-28 11:24] boardfish opened #655 "Slide templates"
Hey all, I've picked up Spectacle in the last couple of days. I'm pretty new to React in general, but I got my head around higher order components to make slide templates. I've done something over [here](https://github.com/boardfish/spectacle-slide-templates) to show how it's done, and I'll be dropping it into a personal project very soon so that it can be seen in action. Perhaps it could be worth

[2019-03-01 11:40] boardfish commented on #655
There's now a [demo repo](https://github.com/boardfish/spectacle-slide-templates-demo) too.

[2019-03-01 12:44] dkosasih opened #657 "Feature request: Up/Down keyboard hook for next/back slide"
### Description
I'd like to request for Up/Down keyboard hook to move the slide back and forth. I know what there are few clickers that only do up/down and it was really troublesome to use third party software to intercept key and map to left/right - that would affect the normal keyboard ket

### Proposal
I can do a PR if the request is approved :)

[2019-03-06 05:59] denny64 commented on #603
Any updates on if this will happen?

[2019-03-08 14:13] mwanago opened #658 "getAnimStep is missing in the documentation"
The getAnimStep function is missing in the documentation. Adding it can save a lot of time for people looking for something like that.

[2019-03-08 16:57] ebrillhart commented on #654
Thanks for the report, @boardfish! We'll look into this.

[2019-03-08 16:57] ebrillhart commented on #655
Thank you!

[2019-03-08 16:58] ebrillhart commented on #657
Hey @dkosasih! PR would be totally welcome - would love for it to be flexible enough for a user to disable the feature, but this makes sense!

[2019-03-08 16:59] ebrillhart commented on #658
Thanks @mwanago! We'll fix this.

[2019-03-10 12:48] guillaumepn opened #659 "Has bulletStyle List props been removed ?"
### Question

Has the `bulletStyle` List and ListItem prop been removed from spectacle ?
It is referenced in this repo's README, but not on spectacle's website docs

### Background Info/Attempts

I tried the following and the bullet points are not changing :

[code]

[2019-03-11 13:35] dkosasih opened #660 "Running test failed"
### Question
Hi all,

I am trying to submit a PR for #657. Unfortunately, I am getting the following error when I running the test.
![image](https://user-images.githubusercontent.com/8027235/54127643-67c3a380-445e-11e9-8089-2aa0f6c9895c.png)
Does anyone have this issue before and how did you fix it?

### Background Info/Attempts
yarn version: 1.13.0
OS: Windows 10

[2019-03-11 16:48] ebrillhart commented on #659
Hi @guillaumepn, the website docs are actually quite out of date, so the Readme should have the latest documentation. We'll look into why this isn't working.

[2019-03-13 15:18] glassblowerscat opened #661 "No-op when slideshow is programmatically unmounted"
### Describe Your Environment

What version of Spectacle are you using? 5.4.0

What version of React are you using? 16.8.3

What browser are you using? Chrome 72

What machine are you on? MacBook Pro 6,1

### Describe the Problem

I am using Spectacle for a simple autoplaying slideshow that should disappear as soon as a user clicks or taps the browser window, to be replaced with a survey the user

[2019-03-14 21:55] jpbourgeon commented on #661
I have the exact same problem. But my deck is still small and this is not blocking me, so far.

AFAIK this usually happens when you try to setState on unmounted Components

This link may be useful ? <https://www.robinwieruch.de/react-warning-cant-call-setstate-on-an-unmounted-component/>

[code]
<details>
 <summary>Click to show the full warning message</summary>

[code]
</details>

[2019-03-15 01:57] glassblowerscat commented on #661
I strongly suspect that this is indeed the problem. Unfortunately, there is no way that I know of to correct this behavior in Spectacle. If you're thinking of rolling your own slideshow at some point to solve this problem, I'm using [react-timeout](https://www.npmjs.com/package/react-timeout) to implement a safe `setInterval()` that prevents this behavior.

[2019-03-17 17:38] gkn06 commented on #659
@ebrillhart  Even am facing this issue.
How to use bulletstyle in List item. Am using typescript. And in Index.d.ts I can't find bulletstyle prop.

[2019-03-18 21:48] sreimer15 commented on #596
I would love to help out with this bug, if at all possible. Is there any information on what might be going wrong with this one? Thank you!

[2019-03-21 01:05] meanmachine22 commented on #522
{
  "name": "babel_comp",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "build": "babel src --out-dir dist"
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "@babel/cli": "^7.2.3",
    "@babel/core": "^7.4.0",
    "@babel/node": "^7.2.2",
    "@babel/preset-env": "^7.4.1",
    "nodem

[2019-03-27 02:13] ebrillhart commented on #155
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:13] #155 closed

[2019-03-27 02:13] ebrillhart commented on #192
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:13] #192 closed

[2019-03-27 02:13] ebrillhart commented on #242
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:13] #242 closed

[2019-03-27 02:14] ebrillhart commented on #425
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:14] #425 closed

[2019-03-27 02:14] ebrillhart commented on #431
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:14] #431 closed

[2019-03-27 02:15] ebrillhart commented on #433
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:15] #433 closed

[2019-03-27 02:15] ebrillhart commented on #440
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:15] #440 closed

[2019-03-27 02:16] ebrillhart commented on #441
Hi! In an effort to focus on more recent bugs and requests, we're closing all open issues more than a year old, with some exceptions. If your issue is closed, and you still feel strongly about it, please feel free to reopen it or submit a PR with the change!

[2019-03-27 02:16] #441 closed

[2019-03-27 02:58] #616 closed

[2019-03-27 02:58] #601 closed

[2019-03-27 02:58] #609 closed

[2019-03-27 03:02] ebrillhart commented on #658
Hey @mwanago, I've been looking into this a bit and would love if you could give some more context around this - I'm actually not sure this function is included anymore

[2019-03-27 03:20] ebrillhart commented on #660
Hi @dkosasih sorry for the delayed response! I don't off the top of my head know what the issue is here - could you open a PR using a force push or similar so that we can see your changes?

[2019-03-28 21:28] ebrillhart commented on #654
Hey @boardfish could you please put together a small codepen or gif that demonstrates the issue you're running into? We haven't been able to reproduce on our end. Thanks!

[2019-03-29 10:18] angelo-v opened #663 "Font handling"
### Question

What exactly is the difference between `primary` and `secondary` fonts in `createTheme`? How do I specifiy a fallback font, if a specified Font is not installed on the target system?

### Background Info/Attempts

First I thought `secondary` is meant to specifiy a fallback, but It seams to have a different purpose. I also tried to specify multiple fonts, like in CSS, comma-separated

[2019-03-30 03:51] dkosasih commented on #660
I was trying to create a draft PR on #657 but I think I lost the branch completely when I switch computer before even pushing to the repo :(

let me see if I can re-create it. apologies.

[2019-03-30 16:26] ebrillhart commented on #663
Hi @angelo-v - to answer your question about the usage of `primary` and `secondary`, that would be more for when you maybe want one font to reach for for titles, and another font to use for body text.

For fallback fonts, that's actually a great question and it seems like we may need to add better handling and documentation for that functionality. Thanks for bringing this up!

[2019-03-30 16:30] ebrillhart opened #665 "Improved Handling and Documentation for Fallback Fonts in Themes"
### Description

Currently, there is no clear way to add fallback fonts when creating a theme to handle a font not being available on the machine the presentation is being run on.

### Proposal

Perhaps allow users to add an array of fonts when specifying fonts in a theme

[2019-03-30 16:51] angelo-v commented on #663
But all my texts use the primary font only. How do I make use of the secondary font?

Yes, HTML/JS slides are great to host on the web for everybody even after the actual talk. So it would be good to have more control over the fonts.

[2019-03-31 23:36] jdmg94 opened #666 "Appear tag doesn't work out of the box"
The issue at hand is very simple, you can either setup your environment with CRA or cloning the boilerplate repo, I've tried both with the same results.

## Steps to Reproduce

1) initialize a spectacle project (doesn't matter how)

2) delete everything in the deck

3) add a Slide with visible content (Heading, Text, etc)

4) Add an _Appear_ tag below the visible content on the same slide with con

[2019-04-01 11:17] jevakallio commented on #666
Hey! I tried reproducing this with:

[code]

And replaced `presentation.js` with this:

[code]

Here's the outcome which seems to work as expected:

![spectacle-666](https://user-images.githubusercontent.com/1203949/55323787-03ea3480-5478-11e9-992d-78e26f716639.gif)

Could you please provide more detailed reproduction steps, thanks!

[2019-04-01 11:17] jevakallio commented on #666
Oops! Closed by accident. Reopened! 😬

[2019-04-01 13:47] alecmce commented on #666
I've got this problem, too. I'm wrapping each Slide into a Component (because it kicks off some WebGL under the slide). It looks to me as though this is messing with the Appear tags because the Manager traverses the presentation states up-front. ... but I'm still digging.

[2019-04-01 13:48] jevakallio commented on #666
@alecmce if you have a minimal reproducible example you could share, that would be very useful!

[2019-04-01 13:53] alecmce commented on #666
Yep - this breaks:

[code]

[2019-04-01 13:57] jevakallio commented on #666
Can confirm, that does indeed break the `<Appear>` element behaviour. This is approximately where my Spectacle knowledge ends, so I'll let the core maintainers to pick it up from here 👍

[2019-04-01 14:01] alecmce commented on #666
FWIW for others - I confirmed that if I rewrite such that my custom slide logic goes into a React.Component that

[code]

Then the CustomUI logic gets constructed, mounted etc. at the appropriate time. Just didn't feel like the optimal pattern for me because I don't like the master controller pattern that forcing the inline Slides kind of pushes you to. But, glad to get unblocked.

Thanks for your

[2019-04-01 14:01] jdmg94 commented on #666
@jevakallio If anything I think we should consider something like [react-spring](https://react-spring.io) to enable people to control their own animations through hooks, spectacle could expose the transitions it currently has as hooks to keep the functionality it is offered up front

[2019-04-01 19:53] ebrillhart commented on #663
Hey @angelo-v, you can use your secondary font by adding `textFont='secondary'` to the component you'd like to use the secondary font. See the base prop docs https://github.com/FormidableLabs/spectacle#base-props

When you want to use a Google font, the recommended setup in `createTheme` can be found here: https://github.com/FormidableLabs/spectacle#createthemecolors-fonts

[2019-04-01 19:54] ebrillhart commented on #663
I'm going to close this particular issue now, but there is a follow up issue at #665 for the specific case of being able to add fallback fonts. It should be a pretty straightforward issue if you'd like to push the PR yourself! Otherwise, it'll get handled in our backlog

[2019-04-01 19:54] #663 closed

[2019-04-01 20:01] ebrillhart commented on #522
@meanmachine22 if you're using the latest version of Spectacle, the expectation is that this should be fixed!

[2019-04-02 23:53] ebrillhart commented on #457
Closed - maxWidth is no longer a prop, see #667 for suggestion of what to use instead

[2019-04-02 23:53] #457 closed

[2019-04-04 17:32] ashika01 commented on #654
The issue seems to be happening in one particular use case refer #668 for info. Let us know, if you come across this issue in a different use case.

[2019-04-05 20:42] dmitrif commented on #617
Any update on this? As of right now `ComponentPlayground` can be considered broken.

[2019-04-06 18:36] #654 closed

[2019-04-06 18:39] ebrillhart commented on #586
Fixed

[2019-04-06 18:39] #586 closed

[2019-04-08 18:12] nazaruk1228 opened #670 "Webpack 4 created 2 main.js files."
**My plugins:
Webpack: 4.29.6
WebPack-Cli:3.3.0
Node: 11.13.0
Npm: 6.7.0**
My packaje.json:
`{
  "name": "test_html",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {
    "type": "git",
    "url": "git+https://github.com/javurekv/test_html.git"
  },
  "author": "",
  "license": "ISC",

[2019-04-08 22:28] appsforartists opened #671 "Link to demo/example from README"
Is there a sample presentation hosted somewhere?  Can there be?

As a prospective user, I'd find it really helpful if there was a link to a demo at the top of the README, so I could play with it and get a feel for whether it will meet my needs without having to read through the docs or download anything.  It would be especially helpful if the example demonstrated the benefits touted in the docs (i

[2019-04-08 22:41] ryan-roemer commented on #671
Not directly answering the demo example code question, but just as a helpful tip -- the "one page" version of Spectacle (which is close, but not quite the same content-wise, functionality-wise) is always live available from our git source which you can view as a live web page at: https://raw.githack.com/FormidableLabs/spectacle/master/one-page.html or in raw source form at: https://github.com/Form

[2019-04-09 13:10] dmitrif opened #672 "Does this repo need a maintainer?"
### Question

Hi! What is the current maintainer roster? I would like to volunteer to fix some of the issues.

[2019-04-09 20:19] boygirl commented on #672
This repo is maintained by @ebrillhart and @kale-stew, but help on issues is always welcome.

[2019-04-11 15:34] angelo-v opened #673 "CodePane: TypeError: Cannot read property 'rest' of undefined"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)

spectacle@5.4.0

What version of React are you using? (can be found by running `npm list react`)

16.8.4

What browser are you using?

Chrome

### Describe the Problem

**Expected behavior:**

Using `CodePane` with `lang="json"` should render highlighted JSON code, both running t

[2019-04-11 22:21] ebrillhart commented on #671
Hey @appsforartists, this is a great suggestion. We'll add it to our list.

[2019-04-11 22:23] ebrillhart commented on #672
@dmitrif we always welcome PRs! Please read the Contributing.md file in the docs, and assign yourself to any issues that you pick up so that others know they're in progress. Thanks!

[2019-04-11 22:23] #672 closed

[2019-04-11 22:24] ebrillhart commented on #670
Hi @nazaruk1228 it can be hard for us to debug specific webpack setups. If you could give us a bit more detail, or maybe a link to a repository where you're encountering this issue, it might help us out!

[2019-04-11 22:28] #634 closed

[2019-04-11 22:28] #635 closed

[2019-04-11 22:28] #638 closed

[2019-04-11 22:28] #648 closed

[2019-04-11 22:28] #639 closed

[2019-04-12 11:55] angelo-v commented on #555
+1 The lag until `bgImage` is loaded is really annoying and nearly a show stopper

[2019-04-12 14:57] LeonardAukea commented on #135
Nobody is on this?

[2019-04-17 17:14] elbaro commented on #55
Ran into this old issue. Download the example [one-page.html](https://github.com/FormidableLabs/spectacle/blob/master/one-page.html) and open it with FF. The page 13 is broken.

[2019-04-18 14:08] elbaro opened #676 "Slide JSX Component in MDX"
### Description
A Slide component with arguments cannot be used in MDX.
I am using spectacle-boilerplate-mdx.

[code]

The second slide uses spectacle-code-slide with arguments but `index.js` ignores this.

Customizing index.js has a limitation. My markdown should be split like this:

[code]

I need $n+1$ markdown files for $n$ CodeSlide.

### Proposal

If there is one jsx component in a slide (be

[2019-04-23 18:25] drusellers commented on #456
Just checking in on this, loving this project so far, but def got tripped up trying to use CodePane and ComponentPlayground. Is there a punch list of work that has been identified to address this issue.

+1 for pulling in raw loader as that is the goal of the project - to present code, etc.

[2019-04-23 20:34] barni2000 commented on #673
I have same issue.
javascript, clike, markup works

python, css ... is not

[2019-04-23 21:15] barni2000 commented on #673
This issue is related: https://github.com/PrismJS/prism/issues/1129
Some languages is needed to be import.

[2019-04-26 14:59] ebrillhart commented on #676
Thanks @elbaro!

[2019-04-30 04:21] emilykoh commented on #665
Took a look at the issue, the ideal way to trigger the fallback based on some sort of check on whether or not the component rendered properly with the desired font, but I couldn't find any good ways to perform the check in `screen.js`.

Some attempted solutions:
* check if the component was rendered with the right font --> problem is that the component would be rendered with an undesired base defa

[2019-04-30 18:30] neggert commented on #673
I'm seeing the same issue with python and other languages. Adding `require('prismjs/components/prism-python')` as suggested in https://github.com/PrismJS/prism/issues/1129 does not resolve the problem.

[2019-04-30 21:31] ebrillhart commented on #658
closing, but feel free to re-open if you can give me a bit more context to help me fix!

[2019-04-30 21:31] #658 closed

[2019-04-30 21:33] ebrillhart commented on #670
closing, please feel free to reopen if you can give more details!

[2019-04-30 21:33] #670 closed

[2019-05-02 22:05] keschaefer commented on #659
Hello @guillaumepn! I'm looking into the issue you were having with the bulletStyle prop. I've copied your code directly into my project and its rendering as expected with the `star` icon.

Are you receiving any errors when you spin this up? If not, what are you seeing, just default bullets or none at all? Any additional info you can provide would be much appreciated.

[2019-05-03 00:38] ashika01 commented on #659
I faced similar issue , my bulletStyle was not rendering. I just figured it was not working in version 5.4.0 Make sure you are in the latest version. If you are using spectacle-boilerplate like me, then you might wanna update to latest to make it work right. I am creating a PR with update in boilerplate 👍  Can you update us after you get on recent version and check if things are good or if you are

[2019-05-03 15:06] keschaefer commented on #659
@ashika01 thanks for this insight, I checked my version and I'm working in what I think is the latest, 5.5.0 which may be why my bulletStyle prop IS working, but for others it isn't. Thanks for updating that PR for the boilerplate, hopefully that will solve this issue. For others, try updating the most recent version of Spectacle to fix your bullets!

[2019-05-03 17:25] #671 closed

[2019-05-07 16:56] #659 closed

[2019-05-07 17:06] ebrillhart commented on #641
closed in mdx-boilerplate!

[2019-05-07 17:06] #641 closed

[2019-05-07 17:08] ebrillhart opened #678 "Various Issues w/ Imported Slides"
We've been seeing a variety of bugs that all have one thing in common - slides that are being imported from elsewhere in the project and are not co-located with the `<Deck />` component. Related issues (that I've closed in favor of focusing on the overarching problem) include:

- Appear tags used in imported slides not working, even though they work as documented in non-imported Slides https://git

[2019-05-07 17:08] ebrillhart commented on #666
closing in favor of #678 which addresses the crux of the issue here

[2019-05-07 17:08] #666 closed

[2019-05-08 16:26] marhaupe commented on #673
I'm having the same issue. Downgrading to 5.4.0 does not solve it for me. This might help if anyone finds the time to dig into the issue: https://codesandbox.io/s/zk2p9p7jm4. In this case, the `lang` is set to `go` and produces the same issue.

[2019-05-13 13:19] dbendy opened #679 "Navigation Oddity"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] This issue not specific to `spectacle-boilerplate` (those issues should be opened [here](https://github.com/FormidableLabs/spectacle-boilerplate/issues/ne

[2019-05-17 16:21] angelo-v commented on #617
Really sad, that such an outstanding feature is not usable at the moment

[2019-05-19 15:37] TrevorBurnham opened #680 "Can the transition at the start of the presentation be prevented?"
### Question

When I open my slide deck, the first slide transitions in by default. For example, if the `Deck` has `transition={['slide']}`, the first slide will slide in when the page opens. How do I prevent this without other side effects?

### Background Info/Attempts

I tried setting `transitionIn={['']}` on the first `Slide` (`transitionIn={[]}`) appears to be a no-op), but this had the surpr

[2019-05-26 10:59] karl-run commented on #673
I'm also seeing this error after upgrading from `spectacle-scripts@2.3.0` to `spectacle-scripts@2.4.0`.

I'm requiring the components, the lang argument is present, but it seems the `languages[lang]` in prism-core.js is an empty array when it attempts to tokenize.

[2019-05-29 18:43] kale-stew commented on #660
👋 @dkosasih - I am taking over maintenance of this repo and I want to get this feature merged in. For simplicity's sake, I'm going to close this issue and handle the failing tests in your Draft PR #664

[2019-05-29 18:43] #660 closed

[2019-05-29 19:04] kale-stew commented on #680
Good question, @TrevorBurnham. It looks like currently, no, the designated transition will apply to every slide. I'll dig into this to see how easily we can flag that initial transition not to happen.

[2019-05-29 21:20] kale-stew commented on #544
@samwhale did you have a particular strategy for these tests in mind?

[2019-05-29 22:22] SamFrampton01 opened #683 "IFrame Squished"
Hi,

First of all I'd like to say thank you to Formidable team for creating Spectacle.

One issue I am having is embedding iFrame into my project and for the height to be squished creating an overflow: scroll effect when there is ample room to present the Iframe in it's full glory. It's really odd because I can't understand why the slide is squishing a Heading and Iframe into such a small space on

[2019-05-30 01:04] ghumman commented on #456
@mfellner, Thanks a lot. putting '!' in the beginning resolved my issue.

[2019-05-31 15:57] mwanago commented on #658
@ebrillhart https://github.com/FormidableLabs/spectacle/blob/master/src/components/slide.js#L82
There is a prop called "getAnimStep" that you can pass to the Slide component and it acts as a callback to inform of any changes to the animation steps. It was very useful to me, but I don't see it anywhere in the documentation.

[2019-06-02 17:55] SamFrampton01 commented on #555
+1 the lag until bgImage is loaded is super annoying and doesn't render to cover full page first time. Often have to flick to next slide and back to fit cover.

[2019-06-04 09:12] barni2000 commented on #673
@neggert The CodePane implementation should import the language specific prism module. The js module is part of the prismjs core, but python is not.

[2019-06-05 22:44] samwhale commented on #544
Oof it's been a while since I thought about this 😄.

I think the thing that's valuable to test here is whether or not the slides are changing correctly. These local storage changes are getting made when slides are changing, so we can use the localStorage as a way to verify that the slides changed correctly.

If `_goToSlide` is called, then I would expect the value in my local storage to have that

[2019-06-08 15:11] tlakomy opened #685 "It's not possible to specify `transitionDuration` for a single slide"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
[code]

What version of React are you using? (can be found by running `npm list react`)
react@16.8.6

What browser are you using?
Chrome

What machine are you on?
Macbook Pro

### Describe the Problem

It's not possible to specify `transitionDuration` for a single slide (it was po

[2019-06-08 18:22] bkinsey808 commented on #678
Thank you. I'm also having this issue. I really don't want co-located slides.  But I have to if I want Appear.

[2019-06-10 22:09] kale-stew commented on #596
@sreimer15 it looks like it's related to a few other open issues we have surrounding Slide theming and modularization (see #678, #586). We would welcome your help if you can figure out what's going on!

[2019-06-10 22:11] kale-stew commented on #683
Rel #604 - we handle iFrames weird, apparently. This definitely needs to be fixed

[2019-06-10 22:12] kale-stew commented on #544
Closing this in favor of a new strategy we discussed offline 🎉

[2019-06-10 22:12] #544 closed

[2019-06-11 07:17] SamFrampton01 commented on #683
Hi,

I managed to fix problem, iframe was getting squished with flex box so had to add custom css styling set it’s position to absolute to make it responsive and utilise full space of page.

[2019-06-14 07:52] narinluangrath commented on #678
The problem is on line 747 of `Manager.js`

[code]

Before we render the current `<Slide />`, we attach a bunch of props to it, including Redux's `dispatch` function. That function gets used in `cDM` of the Slide component.

[code]

A "fragment" in the code above roughly corresponds an `<Appear />` component. This code essentially stores all the different fragments into Redux. `Manager` uses this

[2019-06-14 20:29] narinluangrath commented on #661
I verified that the bug exists. To reproduce:

- Clone https://github.com/glassblowerscat/spectacle-bug-demo
- `yarn start`
- Click `Start Demo`
- After the slideshow starts, click anywhere.
- At the rating screen, wait until the slideshow starts again (10 seconds)
- The slideshow toggles between "Slide 2" and "Slide 3"

[2019-06-17 22:35] Ebeldev opened #693 "On Node 12 and the spectacle boilerplate i get thoses errors"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
5.5.0
What version of React are you using? (can be found by running `npm list react`)
16.8.6
What browser are you using?
Chrome and Firefox
What machine are you on?
Mac with nodejs 12
### Describe the Problem

It's easier to show us than tell us what's going wrong with your code.

[2019-06-18 09:27] VirtualDOMinic commented on #55
Closing this issue as I only reopened it to address @elbaro 's more recent comment!

One pager should work as expected in latest master (thanks to #687 )

[2019-06-18 09:27] #55 closed

[2019-06-19 16:26] #661 closed

[2019-07-10 18:21] mhartington opened #700 "Out of date types in index.d.ts"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] This issue not specific to `spectacle-boilerplate` (those issues should be opened [here](https://github.com/FormidableLabs/spectacle-boilerplate/issues/ne

[2019-07-11 21:11] maxcan commented on #678
One work around is to have you modules export a react fragment and keep your slides top level under the deck:

[code]

[2019-07-13 03:36] GavinMoreYoung commented on #522
maybe you could install global babel-cli, you can try command : npm uninstall -g babel-cli babel-node.you need install @babel/cli and @babel/node.
OR
you can uninstall node and remove npm file in C:\Users\Administrator\AppData\Roaming
i hope i can help you.good luck

[2019-07-18 00:51] KKica commented on #522
If you are using babelify 7.3, update to 9.0
See my answer [on stackoverflow](https://stackoverflow.com/questions/55542042/error-after-upgrading-to-babel-7-requires-babel-7-0-0-0-but-was-loaded-with)

[2019-07-20 15:09] pitaz commented on #522
Installing packages with `yarn` instead of `npm` solved this issue for me.

[2019-07-29 21:28] gkemp94 commented on #617
Does anybody know when this was broken so I can roll back?

[2019-07-31 04:02] kale-stew commented on #693
Hi @Ebeldev - I think your issue might be in the implementation of puppeteer and not spectacle. we aren't using puppeteer within spectacle, so the dependency conflict is external to this library.

I'll be happy to re-open this issue if you can point to the line in our docs that you are getting stuck on. I don't believe we mention puppeteer anywhere in our [tutorial](https://github.com/FormidableLa

[2019-07-31 04:02] #693 closed

[2019-07-31 12:16] ArijeetWebonise opened #702 "How to implement a pre-existing react hash router with Deck"
### Question

How to implement a pre-existing react hash router with Deck

### Background Info/Attempts

I tried creating history as:
`
import { createHashHistory } from 'history'

export default createHashHistory({});
`
Later I set the history prop in Deck, but I am getting redirected to path '/#/1' from my original path '/#/slider'. Can I configure it to '/#/slider/:id'

[2019-07-31 14:45] kale-stew commented on #700
Fixed with #699, I will be releasing a version with the updated types this afternoon.

[2019-07-31 14:45] #700 closed

[2019-07-31 14:46] kale-stew commented on #680
Re; #685

[2019-08-01 12:45] chutzstudio commented on #522
OMG BRO, YOU SAVED MY DAY!

[2019-08-13 20:53] #685 closed

[2019-08-18 23:32] fbarbat opened #707 "Last frame of transition is not rendered"
### Describe Your Environment

What version of Spectacle are you using? (can be found by running `npm list spectacle`)
5.7.0

What version of React are you using? (can be found by running `npm list react`)
16.9.0

What browser are you using?
Chrome/Firefox

What machine are you on?
Ubuntu 18.04.3 LTS

### Describe the Problem

Spectacle transitions skip the last render causing incomplete effects a

[2019-08-24 19:02] shortwavedave opened #710 "Autoplay Appear/Anim"
### Question

How can you automate Appear and Anim on a slide, so that you don't need to click to progress the slide? I don't want to enable autoplay on the entire deck.

[2019-08-30 23:58] stevendaye commented on #522
Very bizarre. Me rather, I npm uninstall babel-core: --save-dev, and it works like a charm.

PS: I mean the package babel-core: ^7.0.0-bridge.0"

[2019-09-02 23:53] hannahhoward opened #716 "Information about rewrite endeavor?"
### Question

Hello! From following your issues/PRs, I can tell you've got a major rewrite underway (task/rewrite). It's exciting Formidable/Spectacle is devoting the resources to do this. I would love to hear, for those in the audience:

1. What are your major goals for this rewrite?
2. What problems with the existing codebase do you aim to address?
3. Do you want help from the community? If so,

[2019-09-03 15:50] kale-stew commented on #716
Hi @hannahhoward! We have indeed been taking on a rewrite of the library, good eye. I can address your questions at a high-level, but as this effort is still underway and we anticipate another three weeks of work before it's stable enough for a release, there will likely be more details to announce in the near future. 🙂

1. Our major goals are to
    - make Spectacle more approachable for beginner

[2019-09-03 16:11] hannahhoward commented on #716
That sounds lovely overall and good directions to take! (yes I've seen the manager code and it's a doozy :)

The biggest thing I do is maintain a whole bunch of what I call slide templates -- namely, rather than write out each slide, I often want a one liner for just the content of slide styles I use a lot (simple heading on a page, heading followed by text, text followed by heading, heading-image

[2019-09-09 17:44] ganeshchand opened #720 "Support React Hooks"
Spectacle seems to be using React 16.5.2. Hooks were introduced in React 16.8. Is it possible to use a higher React version than the default one that come with the spectacle starter project?
Hooks will simply creating stateful and interactive presentations.

[2019-09-20 14:07] michaelperrin commented on #707
I am having the same issue and is a real problem, especially with the slide effect where you can see parts of the previous slide (which shows if the background is not the same).

[2019-09-21 21:14] fbarbat commented on #707
@michaelmerrill As a workaround I used this patch https://github.com/fbarbat/cover-letter/tree/master/patches and https://www.npmjs.com/package/patch-package . Maybe that is useful for you as well in the meantime.

[2019-09-24 19:11] #720 closed

[2019-09-24 20:17] kale-stew commented on #720
@ganeshchand updating to Spectacle [v5.7.1](https://github.com/FormidableLabs/spectacle/releases/tag/v5.7.1) should fix this issue for you. 🙂

[2019-09-24 20:24] kale-stew commented on #680
Closed by #690

@TrevorBurnham, can you let me know if you're still having this issue with the latest update?

[2019-09-24 20:24] #680 closed

[2019-09-24 20:25] kale-stew commented on #412
Closing as we're now rewriting the library. 🙂

[2019-09-24 20:25] #412 closed

[2019-09-24 20:26] kale-stew commented on #451
Closing this for now, but will add it to our feature list for future consideration in the rewrite.

[2019-09-24 20:26] #451 closed

[2019-10-05 07:49] jocaml commented on #673
I spent a half hour trying to make Spectacle/Prism work with Rust syntax-coloring. Looked into code, `components/code-pane.js` uses `utils/prism-import.js` which imports `prismjs/components/prism-rust` so everything seems ok but I still get this error. Weird this hasn't been resolved yet, has anybody tried? Where should I look?

[2019-10-05 07:50] jocaml commented on #673
And what is the policy to make this bug "verified"?

[2019-10-11 17:54] kale-stew commented on #461
Closing because of lack of response from original reporter

[2019-10-11 17:54] #461 closed

[2019-10-11 17:57] kale-stew commented on #462
As of #652, custom enumerators are supported in Spectacle 🎉

[2019-10-11 17:57] #462 closed

[2019-10-11 17:58] kale-stew commented on #456
We've updated our CodePane component to use the latest and greatest in react-live, and I believe this issue is no longer relevant

[2019-10-11 17:58] #456 closed

[2019-10-11 17:58] kale-stew commented on #488
Closing for lack of response from the OP

[2019-10-11 17:58] #488 closed

[2019-10-11 18:00] kale-stew commented on #529
We will be handling slide templates and themes differently in [new spectacle](https://github.com/FormidableLabs/spectacle/issues/716), so I am closing this issue in favor of the impending API change

[2019-10-11 18:00] #529 closed

[2019-10-11 18:01] kale-stew commented on #655
This is awesome, thank you for sharing your approach with us! I will update the current README to reference your examples, but I should note that we are rewriting the library and expect to handle themes/templates more simply in the new API 🙂

[2019-10-11 18:02] kale-stew commented on #470
Closing as outdated. We will be handling themes, styling, and templates very differently in the [new spectacle](https://github.com/FormidableLabs/spectacle/issues/716). 🙂

[2019-10-11 18:02] #470 closed

[2019-10-11 18:03] kale-stew commented on #536
Closing as outdated. We are rewriting the library and will re-evaluate documentation requests like these once it is released. 🙂

[2019-10-11 18:03] #536 closed

[2019-10-11 18:04] kale-stew commented on #550
Closing as outdated -- magic move functionality is currently broken and not on the roadmap to be fixed before our rewrite is released.

[2019-10-11 18:04] #550 closed

[2019-10-11 18:04] kale-stew commented on #636
Closing as outdated - we can circle back to Magic Move functionality after the rewrite is released.

[2019-10-11 18:04] #636 closed

[2019-10-11 18:05] kale-stew commented on #476
Closing as outdated - we can re-evaluate this as a feature request against the rewrite when it is released. 🙂

[2019-10-11 18:05] #476 closed

[2019-10-11 18:07] kale-stew commented on #710
Currently, I do not think there is a way to automate only Appear and Anim elements without applying autoplay to the entire deck. You could try to create a second SlideSet of those animated elements, apply the autoplay to just that "deck", and render it within another presentation?

[2019-10-11 18:10] kale-stew commented on #596
Closing as outdated, but I do acknowledge this is a true issue in classic spectacle. Behavior when importing slides is just one of the critical issues we're facing with the current API. In our [rewrite](https://github.com/FormidableLabs/spectacle/issues/716), we are planning to handle the export differently, as well as subsets of Slides. I am making an internal note to circle back to this strange

[2019-10-11 18:10] #596 closed

[2019-10-11 18:11] kale-stew commented on #603
An update: I've add this feature request to our internal Roadmap for the [rewrite](https://github.com/FormidableLabs/spectacle/issues/716) endeavor.

[2019-10-11 18:38] boardfish commented on #655
Thanks for recognizing it! I'd be very happy to update it myself to help with my Hacktoberfest quota, if you'd allow for it 😊

Looking forward to seeing how it changes soon, too.

[2019-10-11 18:39] kale-stew commented on #614
Closing as outdated - please see our pinned issue for updates on the rewrite. 🙂

[2019-10-11 18:39] #614 closed

[2019-10-11 18:40] kale-stew commented on #578
Closing as outdated, but we have added this feature to our rewrite roadmap! Please see our [pinned issue](https://github.com/FormidableLabs/spectacle/issues/716) for more information about our rewrite endeavor.

[2019-10-11 18:40] #578 closed

[2019-10-11 18:44] kale-stew commented on #640
Closing as outdated b/c rewrite - @stevenmusumeche we'll make sure the new export w/ notes functionality addresses the MDX deck as well 🙂

[2019-10-11 18:44] #640 closed

[2019-10-11 18:46] kale-stew commented on #487
Closing as outdated - please see our pinned issue for info on the rewrite. 🙂

[2019-10-11 18:46] #487 closed

[2019-10-11 18:46] kale-stew commented on #450
Closing as outdated - please see our pinned issue for all things relevant to the rewrite, roadmap, etc.

[2019-10-11 18:46] #450 closed

[2019-10-11 18:47] kale-stew commented on #710
Closing as outdated for now - please see our pinned issue for all things rewrite-related.

[2019-10-11 18:47] #710 closed

[2019-10-11 18:47] kale-stew commented on #555
Closing as outdated - please see our pinned issue for all things rewrite-related. 🙂

[2019-10-11 18:47] #555 closed

[2019-10-11 18:49] kale-stew commented on #683
Closing as outdated and resolved - there is a functional workaround for the existing version of Spectacle. 🙂

[2019-10-11 18:49] #683 closed

[2019-10-11 18:49] kale-stew commented on #582
Closing as outdated - we are rewriting the library 🎉  Please see our pinned issue for more info

[2019-10-11 18:49] #582 closed

[2019-10-11 18:50] kale-stew commented on #565
Closing as outdated - we are rewriting the library and have added this feature request to the roadmap. 🎉  Please see our pinned issue for more info.

[2019-10-11 18:50] #565 closed

[2019-10-11 18:50] kale-stew commented on #678
Closing as a now-outdated known issue. We should resolve this in the rewrite. Please check out our pinned issue for more info

[2019-10-11 18:50] #678 closed

[2019-10-11 18:51] kale-stew commented on #603
Closing as outdated in favor of the rewrite - please see our pinned issue for more info. 🙂

[2019-10-11 18:51] #603 closed

[2019-10-11 18:57] markerikson commented on #716
Sounds great!

I particularly like using CRA as the baseline for build setup, with Spectacle on top.  I put together my own CRA+Spectacle+MDX boilerplate a while back - here's the reference repo:

https://github.com/markerikson/cra-spectacle-mdx-boilerplate

Biggest thing I remember with that is that I'm using an old outdated version of the MDX loader or something, because there were a bunch of br

[2019-10-11 18:58] kale-stew commented on #716
I'm going to use this issue as a landing pad for all things relevant to our rewrite. Questions, feedback, and input are all welcome!

It's important to note that all references to classic-spectacle or "old spectacle" in the following passage are talking about the existing codebase. The new API will be henceforth referred to as v6 or new-spectacle.

In our rewrite, we are aiming for as much feature

[2019-10-11 19:00] kale-stew commented on #716
@markerikson thank you for bringing this up! Our current approach to MDX is definitely brittle, and we've prioritized improving that user experience first and foremost. I think you'll be pleasantly surprised with the new API, given your issue is primarily with styling MDX slides. 🙂

[2019-10-11 19:02] kale-stew commented on #620
Hi @bndray - could you provide a little more info? In what way is the viewport not displaying properly? Do you have any screenshots?

[2019-10-11 19:02] kale-stew commented on #604
Closing as outdated for now - feel free to reopen if the solution in #683 doesn't work for you. 🙂

[2019-10-11 19:02] #604 closed

[2019-10-11 19:07] kale-stew commented on #651
Closing as outdated - we discussed these feature improvements in the [open rewrite issue](https://github.com/FormidableLabs/spectacle/issues/716).

[2019-10-11 19:07] #651 closed

[2019-10-11 19:08] kale-stew commented on #679
I cannot speak to _why_ this happened in the first place, but I would welcome your PR if you want to give it a go @dbendy 🙂

[2019-10-11 19:09] kale-stew commented on #665
Closing as outdated - we will document this better in the rewritten codebase. 🙂 See our pinned issue for more info.

[2019-10-11 19:09] #665 closed

[2019-10-11 19:16] kale-stew commented on #644
I would argue that the presenter mode takes care of this, as you can see what the final `Appear` is going to be in your current slide and what the next slide is going to look like.

Are you asking for some kind of indicator for the presenter or the audience? Would you like the view to be seen from the full screen slide? How might you want something like this displayed?

[2019-10-11 19:17] kale-stew commented on #558
Closed as outdated - package updates were merged.

[2019-10-11 19:17] #558 closed

[2019-10-11 19:18] kale-stew commented on #585
Closing as outdated, but I am adding this to our rewrite Roadmap! Please see our pinned issue for more info

[2019-10-11 19:18] #585 closed

[2019-10-11 19:20] kale-stew commented on #521
Closing as outdated, but I have added this to our rewrite roadmap. Please see our pinned issue for more info

[2019-10-11 19:20] #521 closed

[2019-10-11 19:22] kale-stew commented on #655
@boardfish go ahead and open a PR, we would love to help you increase your Hacktoberfest numbers. 📈

[2019-10-11 20:27] dbendy commented on #679
Ok, I'll open a PR in the next few days.  Thanks for getting back to me @kale-stew

[2019-10-11 22:28] philipwhiuk commented on #578
Rewrite roadmap sounds great - will keep an eye on it in case there’s anything I / community can do.

[2019-10-15 14:10] #655 closed

[2019-10-18 13:51] TheBestJohn commented on #644
I'm talking about an indicator for the presenter. During a presentation, it's not very convenient to have to compare what's being presented to the final Appear on your presenter screen. A lot of the time I can't even really see the presentation screen. Even just as much as throwing a border on the next slide preview in the presenter mode would be enough of a warning. I'll try to get something toge

[2019-10-21 10:42] alex-saunders opened #737 "Fix userTheme import"
Currently (after #732 has landed), the theme is just being imported from `window.userTheme` and is explicitly set in the example `one-page.html`.
We should come up with a more solid solution that supports the CLI flow (allowing theme files to be pointed to via `--theme=path-to-theme.js` - most likely using an import alias like is currently done within task/rewrite) as well as being able to set it

[2019-10-25 16:08] tjtaill opened #743 "TableHeaderItem is incorrectly bound to td instead of th"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [ ] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [ ] This issue not specific to `spectacle-boilerplate` (those issues should be opened [here](https://github.com/FormidableLabs/spectacle-boilerplate/issues/ne

[2019-10-25 16:22] #743 closed

[2019-10-30 20:37] ryan-roemer opened #755 "Infrastructure: Switch to monorepo?"
We conceivably have these related packages that might be best served in a monorepo:

[code]

- [ ] Consider if moving to monorepo makes sense
- [ ] If so, move to yarn workspaces (+ lerna)
- [ ] Deprecate `spectacle-cli` repo
- [ ] Release everything from monorepo.

[2019-11-02 19:24] ryan-roemer opened #763 "Bug: Webpack production mode produces a broken deck."
Same issue as reported in https://github.com/FormidableLabs/spectacle-cli/issues/6 -- it appears to be an issue here upstream in `spectacle`.

## Working development

Build a static example as development

[code]

Navigate to http://127.0.0.1:5000/?slide=0&slideElement=0

* **Expected/Actual**: A working deck.

## Broken production reproduction.

Build a static example as production

[code]

Navig

[2019-11-02 20:23] ryan-roemer commented on #763
Research note -- this still works fine in development even if we use the production React build:

[code]

[2019-11-02 21:45] ryan-roemer commented on #763
We're hitting this code:

[code]

and `children` has 8 elements but `filteredChildren` has 0.

[2019-11-02 22:13] ryan-roemer commented on #763
It's a bug in https://github.com/FormidableLabs/spectacle/blob/task/rewrite/src/utils/is-component-type.js -- `component.type.name` gets mutated by minification I'm guessing to values like `"Vn"`, `"Qa"`, etc. instead of `"Slide"`

[2019-11-02 22:18] ryan-roemer commented on #763
[code]

appears to produce the correct value and test. I'm guessing we can globally refactor all calls to `'Component'` to `Component.name` instead and it will all work...

[2019-11-04 12:12] #763 closed

[2019-11-04 12:14] ryan-roemer commented on #737
Fixed with refactor to take theme directly in deck props

[2019-11-04 12:14] #737 closed

[2019-11-04 17:02] lambdafu opened #768 "export&print does not use theme font"
I just created my first presentation following the instructions using the classic boilerplate, and tried the export-and-print option. What I noticed is that the font changed from Montserrat to Open Sans Condensed compared to just the export option or using the normal presentation mode. It seems that the createTheme() function adjusts the screen CSS but not the print CSS. This could mess with the l

[2019-11-28 03:37] AlfredoGJ commented on #679
Hello people, I would like to help and this issue seems god for me to start. Are you @dbendy still working on this one? if no please tell me so I can give it a try.

[2019-11-28 04:44] dbendy commented on #679
@AlfredoGJ: I hope to open a PR for this by the end of the weekend.  Sorry that I didn’t get to it until now.  Thanks for offering to help!

[2019-11-28 14:41] tlenclos commented on #676
We definitely need a way to customize slides with mdx.

How can we help going forward with the MDX implementation ?

[2019-11-28 15:46] kale-stew commented on #676
@tlenclos are you asking to customize slides with mdx using the CodeSlide extension referenced above?

If so, and given this issue is related to an external package that Formidable doesn't directly maintain, I would encourage you to check out our rewrite effort. We are prioritizing MDX and code slide walkthroughs, this may no longer be an issue [there](https://github.com/FormidableLabs/spectacle/i

[2019-12-03 18:18] travi opened #775 "release channel"
i'm looking forward to the new version once it's ready, but it looks like you've released the alpha on the latest channel.

[code]

until it's ready, would you mind updating the dist-tags to point to the proper versions so that its not necessary to `npm install spectacle@5` to get the stable vesion? also, `npm install spectacle@alpha` would not install the latest alpha version

[2019-12-03 20:14] ryan-roemer opened #776 "Feature: Auto-deployed lander."
- [x] Hook up netlify (our gh-pages looks like more work and is still tied to stack.formidable.com)
- [x] Hook up custom domain because it's easy (`spectacle.formidable.com`)
- [x] Enable deploys.

[2019-12-04 00:15] spectacle-ci opened #777 "Infra: Redirect Netlify/Travis to `master` branch after `task/rewrite` merged"
- [ ] Update Netlify config to point to `master` for target branch after we release.
- [ ] Update `.travis.yml` to remove `task/rewrite` from `branches` configuration

[2019-12-11 23:54] carlos-kelly commented on #775
Thank you for bringing this up. We have re-published stable and it should install 5.7.2.

[2019-12-11 23:54] #775 closed

[2019-12-13 02:41] nosrac77 opened #779 "Incoming live demo deck update regarding disappearing white icons?"
### Question

Is there an incoming update for the live demo deck regarding the disappearing white arrow/full-screen icons on slides 8 and 15 (see attached screenshots)?

### Background Info/Attempts

Navigating to the Spectacle Github Repo and clicking the [live demo](https://raw.githack.com/FormidableLabs/spectacle/master/one-page.html#/) link on the master branch's README.md using Mozilla Firefo

[2019-12-13 03:29] ryan-roemer commented on #779
We're almost complete with our [top-to-bottom rewrite](https://github.com/FormidableLabs/spectacle/tree/task/rewrite)! The new live preview site is available at: https://spectacle.formidable.com/ (built off https://github.com/FormidableLabs/spectacle/tree/task/rewrite/examples/js)

[2019-12-13 16:34] travi commented on #775
thanks. in case it's helpful in the future, it's also possible to simply [reassign the tags](https://docs.npmjs.com/cli/dist-tag) so that you don't to go through the hassle of another full publish of the same content.

[2019-12-15 04:00] dbendy commented on #679
Here is my PR @kale-stew and @AlfredoGJ: https://github.com/FormidableLabs/spectacle/pull/780.

[2019-12-21 01:57] alonjupiter opened #781 "Update the version of react-live"
### Description

The currently used `react-live` version is 1.6 that depends on `create-react-context` version 0.2.3, which isn't MIT licensed.

This nested dependency is a blocker for installing and using Spectacle in corporate environments and build systems.

### Proposal

Update `react-live` to v2.1.2 or above, which downgraded its `create-react-context` to 0.2.2 that is MIT licensed.

### Link

[2019-12-23 15:24] kale-stew opened #782 "Deploy docs from this repo, deprecate spectacle-docs"
### Description

We should sync the docs that exist within this repo with whatever is in [spectacle-docs](https://github.com/FormidableLabs/spectacle-docs/tree/master/src/content/docs), and then set up a config (maybe deployed through CI when docs are changed?) to serve those docs to the [docs hosted on the Formidable website](https://formidable.com/open-source/spectacle/docs) from this repo direc

[2019-12-27 04:23] 97thjingba commented on #522
If it does not work still when you intall **babel-core ^7.0.0-bridge.0"**.
you can try change you .babelrc to babel.config.js
it work for me

[2019-12-31 00:47] esthor commented on #673
have this problem with reason language...i think it's for basically all the language besides the 4 that seem to work

[2019-12-31 00:53] esthor commented on #673
I was on latest (5.7.2)....dropping back to spectacle 5.4 solved it for me for all the highlights i need. seems after 5.4, only prism core language component bundle is being imported and the rest are being ignored. Would be great to have a fix for this! Please, someone, anyone out there?

[2020-01-07 19:04] ryan-roemer opened #788 "Update docs to point to `spectacle-cli` for boilerplate"
After https://github.com/FormidableLabs/spectacle/pull/786 lands.

- [ ] Update all JS + MDX examples to point to equivalent `spectacle-cli` instructions.

[2020-01-08 17:31] kale-stew commented on #779
@nosrac77 closing as this question has been answered - feel free to reopen if you would like to discuss requests for our rewrite, or feel free to open a PR against the latest to add them back. 🙂

[2020-01-08 17:31] #779 closed

[2020-01-08 19:53] kale-stew opened #789 "Re-eval lint rules for v6"
We should gut all aesthetics-related lint rules and let `prettier` do the work for us. Something closer to what [we have in `spectacle-cli`](https://github.com/FormidableLabs/spectacle-cli/blob/master/.eslintrc), for example.

_[Originally posted by @ryan-roemer](https://github.com/FormidableLabs/spectacle/pull/786#discussion_r364358963)_

[2020-01-08 22:35] #782 closed

[2020-01-09 21:58] #776 closed

[2020-01-09 22:01] ryan-roemer opened #793 "Infra: Deploy docs to production"
- [x] deploy a staging build to surge.
- [x] Enable testing deployment to `open-source/spectacle-TODO-TESTING` and deploy. Verify site (will have broken code, just check files are there).
- [x] Ticket out and prepare `formidable.com` repository to exclude `open-source/spectacle-TODO-TESTING`. Should _not_ overwrite `open-source/spectacle-TODO-TESTING`.
- [x] Enable production deployment to real `o

[2020-01-09 22:41] boygirl commented on #793
@ryan-roemer would it make sense to include a CI step on PR that produces some staging site that wont have broken code so folks can take a look before deploying? Maybe create the staging build deploy to surge? Or does this seem like overkill to you?

[2020-01-09 22:50] ryan-roemer commented on #793
Yeah, we can hook up surge. Maybe I’ll do that in a follow on PR so I can test the deploy code dry run in this Pr?

[2020-01-10 00:54] ryan-roemer opened #794 "Docs: Sidebar links to tutorial aren't anchored correctly."
(Not sure if we take up in master or rewrite)

Quick side-issue to note: on https://formidable-com-spectacle-staging-791.surge.sh/open-source/spectacle/docs/tutorial/ the links to the numbered sections aren't working quite right:

LINK IN NAVBAR: https://formidable-com-spectacle-staging-791.surge.sh/open-source/spectacle/docs/tutorial/#4.-add-images

ACTUAL ANCHOR: https://formidable-com-spectacle

[2020-01-10 21:24] #794 closed

[2020-01-10 23:04] kale-stew commented on #793
Closed by #797 🎉

[2020-01-10 23:04] #793 closed

[2020-01-14 00:35] kale-stew commented on #781
Closed by #800

[2020-01-14 00:35] #781 closed

[2020-01-14 16:32] kale-stew commented on #781
@alonjupiter this is now fixed in [v5.8.0](https://github.com/FormidableLabs/spectacle/releases/tag/v5.8.0)! Thanks for bringing it to our attention.

[2020-01-14 16:38] kale-stew commented on #673
Is anyone still experiencing this issue? I've tried to reproduce in our sample presentation, internal to the repo, and in a sandbox and cannot confirm. If someone can point me to a sandbox, repo, or open a failing PR against v5.8, I can look further into it.

[2020-01-14 16:41] kale-stew commented on #617
This has been fixed by #800.

[2020-01-14 16:41] #617 closed

[2020-01-14 16:42] kale-stew commented on #676
Closing as I haven't heard back from the OP. Please feel free to reopen if you feel v6 doesn't solve this for you.

[2020-01-14 16:42] #676 closed

[2020-01-14 16:43] kale-stew commented on #679
Closing in favor of the rewrite, but I would welcome your input if the problem persists in v6. Thank you for opening this issue, @dbendy!

[2020-01-14 16:43] #679 closed

[2020-01-14 16:48] kale-stew commented on #707
We updated `victory-core` in [v5.7.1](https://github.com/FormidableLabs/spectacle/releases/tag/v5.7.1), so this should be fixed for you @fbarbat. Thank you for your contributions!

[2020-01-14 16:48] #707 closed

[2020-01-16 15:18] fzembow opened #801 "Main README has broken documentation links"
Great project, I managed to put together a nice presentation with embedded demos very easily!

FYI: The README on https://github.com/FormidableLabs/spectacle has all broken links. For example the Deck link 404s to https://github.com/FormidableLabs/spectacle/blob/master/docs/tag-api.md#deck

Not sure if they're meant to link to markdowns on github or to the actual documentation site

[2020-01-16 17:06] aristofanischionis opened #802 "Storing Presentations"
Hello,
Is there a way to store my spectacle presentation as a json or html?

[2020-01-16 17:55] kale-stew commented on #801
Looks like we forgot to update the dir path when we moved all of our docs into a sub-folder ~1 week ago. Thanks for bringing this up, @fzembow, I'll PR a fix now.

[2020-01-16 18:05] #801 closed

[2020-01-19 22:36] kale-stew commented on #802
Yes! See our [`one-page.html`](https://github.com/FormidableLabs/spectacle/blob/master/one-page.html) sample for an example of how to serve your presentation up as a single HTML file.

[2020-01-19 22:36] #802 closed

[2020-01-19 22:37] kale-stew commented on #788
Will be closed by #799 🙂

[2020-01-20 18:22] dvcorreia opened #806 "Slide overwrite"
### Question

How can I prevent slide overwrite?

### Background Info/Attempts

I've separated the presentation by chapters, so I divided the slides in 2 files:

[code]

If I try to export a component with multiple slides in `file1.js` and import the component in to the main `<Deck>` they will overwrite. Example:

[code]

Only the slide with the  **Hello World 3**  `<Header>` will show up in the p

[2020-01-20 20:51] kale-stew commented on #806
Closing as duplicate of #678

[2020-01-20 20:51] #806 closed

[2020-01-20 20:54] kale-stew commented on #673
Closing for lack of response and because I think this was fixed in our [most recent release](https://github.com/FormidableLabs/spectacle/releases/tag/v5.8.0), which updates the usage of `react-live`. Feel free to re-open this issue if the bug persists.

[2020-01-20 20:54] #673 closed

[2020-01-20 20:55] kale-stew commented on #657
Filing this away as a feature request for the rewrite to consolidate our issues. Thanks for all of your work @dkosasih!

[2020-01-20 20:55] #657 closed

[2020-01-21 20:10] #789 closed

[2020-01-22 05:23] kale-stew opened #808 "Docs: Update all 5 sample presentations"
In an effort to showcase what v6 can do, we should sync all 5 of the sample presentations to display use of:
- images
- fonts
- codepanes

This is a pre-requisite to shipping the rewrite. I would consider it a documentation update.

[2020-01-22 05:26] kale-stew opened #809 "Add type definitions for v6"
Fairly self-explanatory. 🙂

[2020-01-22 05:31] kale-stew opened #810 "Create a util to more concisely parse query params"
[regarding v6]

Currently, there are two issues with the way we are parsing query params:

1. Users need to pass `=true` to query params for them to take hold, i.e. `localhost:3000/?presenterMode=true`
2. Location matters, so a user cannot append their URL with `presenterMode=true`, it has to come immediately after the localhost, before any other `slideElements` are tacked on

We should handle thi

[2020-01-22 15:59] #788 closed

[2020-01-22 20:18] ryan-roemer opened #811 "Docs: Revise "deploy" section?"
Maybe we consider removing / replacing `Deploying with Github Pages` section at http://127.0.0.1:3000/docs/advanced-concepts/#deploying-with-github-pages

There seem to be a lot of undocumented assumptions about how you integrated your spectacle presentation and there are lots of deploy options. Might be better to do a `spectacle-boilerplate`-based deployment tutorial? (Or do that in `spectacle-cl

[2020-01-22 20:22] ryan-roemer opened #812 "Docs/Bug: Fences code blocks have top/bottom lines."
We have a `json` code block that in dev shows top/bottom lines in a fences code block that look like they should only be for inline code snippets:

![Screen Shot 2020-01-22 at 12 20 38 PM](https://user-images.githubusercontent.com/445557/72930909-c9f16400-3d11-11ea-9063-201673aff7fe.png)

[2020-01-22 23:00] adamyonk commented on #716
Is presenter mode Chrome-only now, or is there still a way to get to the old behavior where you could have two browser windows open (no Presentation API)?

[2020-01-25 11:30] giacomorebonato opened #817 "Overlapping slides in presenter mode"
### Prerequisites

**Feel free to delete this section if you have checked off all of the following.**

- [x] I've searched open [issues](https://www.github.com/FormidableLabs/spectacle/issues) to make sure I'm not opening a duplicate issue
- [x] This issue not specific to `spectacle-boilerplate` (those issues should be opened [here](https://github.com/FormidableLabs/spectacle-boilerplate/issues/ne

[2020-01-27 23:54] migh opened #819 "Alternative to Presentation API and Cast"
### Question

Will there be an alternative to use the Presentation API to cast for the rewrite?

### Background Info/Attempts

I create a project using spectacle boilerplate with the MDX mode and automatically installed the v6.0.0-alpha3, I think it is really nice, but still missing documentation. After searching in the code I saw how to use the presenter mode, but I was not able to find a way to

[2020-01-31 21:47] kale-stew commented on #811
I think I would prefer to make a boilerplate-based deployment tutorial, I can wrap it into my current Tutorial work

[2020-01-31 22:03] kale-stew commented on #809
Closed by #825 😀

[2020-01-31 22:03] #809 closed

[2020-02-05 03:02] maggiew61 commented on #522
 I tried all the methods here until my colleague pointed out that I didn't remove another babel v6 package, and so it was still there in package.json. I removed it and installed a few babel v7 packages and it finally worked.

this is my working .babelrc
`{
  "presets": [
    [
      "@babel/preset-env"
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-propert

[2020-02-07 05:38] LiMengyang990726 commented on #522
Hi do you know how to remove all babel v6 related packages?

[2020-02-07 08:35] maggiew61 commented on #522
hi @LiMengyang990726  check out [this stackoverflow ](https://stackoverflow.com/questions/52157996/how-to-upgrade-to-babel-7)response regarding to package changes.

I had 3 babel packages installed while also having babel v7 installed that caused the conflict. I removed all 3 babel packages that didn't have the `@` prefix. hope it helps

[2020-02-07 13:06] LiMengyang990726 commented on #522
Thank you! I have solved it by changing all the babel related packages in "x-x" into "@x/x"

[2020-02-11 19:01] beautifwhale opened #834 "Bug: Clicking the fullscreen icon bottom left of the screen in the JS example is not working."
# Steps to reproduce

Create boilerplate project
[code]

Install dependencies
[code]

Start presentation
[code]

# Expected

Presentation starts, clicking fullscreen sets the presentation to fullscreen.

# Actual

Clicking the fullscreen icon bottom left of the screen in the JS boilerplate is not working.

[2020-02-11 19:14] ryan-roemer commented on #834
Thanks @beautifwhale !

This actually looks like an upstream issue with spectacle, so we've transferred it here. Issue is reproducible on the auto-presentation deploy here: https://spectacle.formidable.com/?slide=0&slideElement=-1

[2020-02-11 19:15] ryan-roemer commented on #834
Oh, and it's a bit confusing, but if you hit other issues with the CLI tool `spectacle-boilerplate`, it's actually part of the `spectacle-cli` package (that provides `spectacle` and `spectacle-boilerplate`). No worries here -- we've found the right home for the issue.

[2020-02-12 08:48] beautifwhale opened #836 "Getting Started is difficult"
Just heard about Spectacle, it looks great! I started by reading the docs here https://formidable.com/open-source/spectacle/ but I still cannot get up and running with this at all. I understand there is a rewrite happening which is probably why alot of the links are broken and the information in the docs is no longer relevant.

Just as an example, If you follow the docs right now there are few thi

[2020-02-12 11:04] kale-stew commented on #836
Thanks for opening this issue, @beautifwhale! As you mentioned, some things are moving around in the rewrite which is why the two related repos you mention above are in this mid-flight state. `spectacle-scripts` is being deprecated for v6, and `spectacle-boilerplate` was enhanced to carry the weight of what the scripts offered new users.

Regarding your options to get started:

1. The `npx` script

[2020-02-12 14:24] kale-stew opened #838 "Docs: Upgrade to react-static v^7"
We should upgrade to react-static v7 to reinstate hot-reloading to make doc development less painful.

There are a number of [breaking changes](https://github.com/react-static/react-static/blob/master/CHANGELOG.md#breaking-changes) we'll need to address upgrading from v5.9.12, including upgrading babel and deprecating our use of a couple plugins.

This should be considered a future improvement we

[2020-02-19 05:29] migh commented on #836
Hi!

I know it is very hard to handle open-source projects, I've tried and failed myself, but I think better communication could improve things greatly. It is not a complain at all, my intention is to help and it is just a suggestion:

1. I would be glad to contribute, by coding and opening a PR, but I think a better roadmap and prioritization are needed.

2. I open a question and there is no answ

[2020-02-19 12:00] giacomorebonato commented on #817
The following patch fixes the problem:

[code]

I'll try to understand why it's happening.

[2020-02-19 12:08] giacomorebonato commented on #817
Probably the problem comes from my wrapping the `<Slide />` component:

[code]

[2020-02-19 13:30] #817 closed

[2020-02-19 19:32] kale-stew commented on #811
Closed by #837

[2020-02-19 19:32] #811 closed

[2020-02-19 20:20] kale-stew commented on #812
Repro notes:

This is only happening to formatted (indented and part of a numbered list) code blocks, all else have been fixed in recent PRs: see `.../docs/tutorial/#option-one-using-a-standard-react-based-web-app`

[2020-02-20 16:58] kale-stew commented on #819
Thanks for bringing up this issue, @migh - we've fixed this in #841, you should have no problem syncing slides between two tabs and documentation has been updating accordingly.

[2020-02-20 16:58] #819 closed

[2020-02-21 17:42] ryan-roemer opened #846 "BUG: C++ example in one-page is indentend."
See, e.g. https://unpkg.com/spectacle@6.0.0-alpha.8/examples/one-page.html?slide=2&slideElement=-1 . First line of code is no indent, then every subsequent line picks up indents.

[2020-02-24 15:42] kale-stew commented on #834
Closed by #835

[2020-02-24 15:42] #834 closed

[2020-02-24 17:22] ryan-roemer commented on #846
Fixed in #847

[2020-02-24 17:22] #846 closed

[2020-02-24 22:25] ryan-roemer opened #848 "Presenter Mode: Notes are way too large."
The notes are really large, overlapping font. On Chrome, I get e.g.

![Screen Shot 2020-02-24 at 2 24 53 PM](https://user-images.githubusercontent.com/445557/75196769-7f4c7880-5711-11ea-999a-15a666ddbce4.png)

[2020-02-28 16:19] migh opened #851 "How to use a background image for slides in v6?"
### Question

How to use a background image for slides in v6?

### Background Info/Attempts

I've been trying to transition to v6, one thing I've not been able to do is to add a background image to the SlideContainer Component. I am using spectacle-boilerplate and mdx mode.

[2020-02-28 19:00] ryan-roemer commented on #851
There's a PR open right now for background images: https://github.com/FormidableLabs/spectacle/pull/849

[2020-03-04 04:50] johncokos opened #852 "Markdown based presentations - themes and notes"
### Question

I'm using (by necessity) only markdown files as the source for presentation content and structure

Is there a way to specify speaker notes?

I'm seeing conflicting documentation on themes on the site. References to `createTheme()` don't seem to match what's available with the boilerplate. Is boilerplate out of date, or the docs? I've only been able to create a raw style object and in

[2020-03-04 18:46] kale-stew commented on #851
Closed by #849 👍

[2020-03-04 18:46] #851 closed

[2020-03-04 18:47] kale-stew commented on #836
We've finally got our docs up to date, thanks for bearing with us. Please check them out [here](https://github.com/FormidableLabs/spectacle/tree/task/rewrite).

[2020-03-04 18:47] #836 closed

[2020-03-04 18:49] kale-stew commented on #768
Thank you for opening this issue, @lambdafu -- I believe we have fixed this in [v6](https://github.com/FormidableLabs/spectacle/tree/task/rewrite), which will be released shortly. 🙂

[2020-03-04 18:49] #768 closed

[2020-03-04 18:51] kale-stew commented on #620
Closing for (1) lack of response and (2) incoming rewrite release

[2020-03-04 18:51] #620 closed

[2020-03-04 20:03] #777 closed

[2020-03-06 00:59] #808 closed

[2020-03-06 00:59] #812 closed

[2020-03-06 01:03] kale-stew commented on #848
I'm not able to reproduce this, @ryan-roemer - any chance you can tell me what screen size and/or zoom level you might have been using? It looks like presenter notes are at most 15px, this might have been fixed in the recent presenterMode refactor (~2 weeks ago)

[2020-03-06 02:09] ryan-roemer commented on #848
It was fixed in this PR https://github.com/FormidableLabs/spectacle/pull/850 it only manifested in MDX mode, not Jsx or md

[2020-03-06 03:17] johncokos commented on #852
I started here:

https://github.com/FormidableLabs/spectacle/blob/master/docs/content/getting-started.md#classic-spectacle

**Option #1** does not work -- loads of errors in both Node 10 and 13

**Option #2** leads you here:
- https://github.com/FormidableLabs/spectacle-boilerplate
- Which is deprecated and leads you here:
- https://github.com/FormidableLabs/spectacle-cli

I followed those instruc

[2020-03-06 04:08] #848 closed

[2020-03-06 04:10] kale-stew commented on #702
Thank you for opening this issue, @ArijeetWebonise! We appreciate the question, and I'm sorry for not getting back to you with a direct answer before today. We have rewritten the library (due for release tomorrow) and I would welcome you to reopen this issue if the question persists against the updated library.

All of the above being said, our approach to routing is finicky and we heavily depend

[2020-03-06 04:10] #702 closed

[2020-03-06 12:16] kale-stew commented on #852
@johncokos - as I mentioned, we are rewriting the library, and have deprecated a handful of currently documented services/external repos in the process. If you follow the link I posted above (https://github.com/FormidableLabs/spectacle/blob/task/rewrite/docs/content/api-reference.md#markdown) you'll be able to see documentation for the new version.

For more detailed instructions on how to write a

[2020-03-06 19:30] ryan-roemer opened #857 "Docs: Postcss in react-static@5 fails CSS building"
Probably will go away with #838 upgrade to react-static@7, but for how we're hitting this:

[code]

See, e.g.: https://github.com/browserslist/browserslist/issues/266

Going to temporarily disable CSS minification.

## Task
- [ ] Fix build error
- [ ] Reenable css minification.

[2020-03-06 19:30] ryan-roemer commented on #857
Should not block spectacle@6 release

[2020-03-06 22:49] #716 closed

[2020-03-06 22:50] #857 closed

[2020-03-08 17:38] beautifulcode opened #861 "Autoplay Removed?"
### Question

Was wondering if autoplay is still possible with the v6? If not, is it planned or is there a suggested workaround?

### Background Info/Attempts

Upgraded for the background image support but seem to have lost the autoplay ability.